<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.base.mapper.EsDlbconfigAcquireMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.base.entity.EsDlbconfigAcquire">
		<id column="id" property="id" />
		<result column="dlbconfig_id" property="dlbconfigId" />
		<result column="active_num" property="activeNum" />
		<result column="ratio" property="ratio" />
		<result column="create_time" property="createTime" />
	</resultMap>

</mapper>
