<!DOCTYPE html>
<html lang="en">
<head>
	<!-- commonality  meta and title -->
	<%
		include("common/common.meta.html"){}
	%>
	<!-- commonality style -->
	<%
		include("common/common.css.html"){}
	%>
<link rel="stylesheet" type="text/css" href="../styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="../styles/contact_responsive.css">
</head>
<!-- commonality js -->
	<%
		include("common/common.js.html"){}
	%>
<script src="../js/contact_custom.js"></script>
<style>
	.top_div{float: right;}
	.top_login_span{font-size: 18px;color: #ffffff;margin-right: 10px;}
	.top_login_span a {color: #ffffff;}
	.top_center_span{font-size: 20px;}
	body .my-layui-layer-btn0 .layui-layer-btn0{border-color:#e9ecef;background-color:#e9ecef;}
	.button_margin{margin-left: 30px;margin-right: 30px;}
</style>
<body>

<div class="super_container">


	<!-- commonality head -->
	<%
		include("common/index_top.html"){}
	%>

	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row contact_row">
				<div class="col-lg-8">
					<!-- Reply -->
					<div class="reply">
						<div class="reply_form_container">
							<!-- Reply Form -->
							<form id="reply_form">
								<div>
									<input id="reply_form_email" name="email" class="input_field reply_form_email" type="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
								</div>
								<div>
									<button id="reply_form_submit" type="button" onclick="forgotPassword()" class="button_margin reply_submit_btn trans_300">
										Confirm
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- commonality Footer -->
	<%
		include("common/bottom.html"){}
	%>


	<script>
		/*$(function(){
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});
		})*/

		function forgotPassword(){
			var  data_array = $("#reply_form").serializeArray();
            var mail_reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
            var email = $("#reply_form_email").val() || "";
			var languageType = getLanguage();
            if(!mail_reg.test(email)){
            	if(languageType == 'zh'){
                	layer.msg("请输入正确的电子邮件地址 !");
				}else {
					layer.msg("Please enter the correct email address !");
				}
                return;
            }
			$.ajax({
					type: "get",
					url: "/apiauthorization/base/authorization/v1/member/forgotPassword",
					data:data_array,
					dataType: "json",
					success:function (data){
						layer.msg(data.extend.data);
					}
			})
		}
	</script>
</div>
</body>

</html>