<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lottery - Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="RanGO Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 公共style -->
    <%
    include("common.css.html"){}
    %>
    <link rel="stylesheet" type="text/css" href="../styles/main_styles1.css">
    <link rel="stylesheet" type="text/css" href="../styles/responsive1.css">
    <link rel="stylesheet" type="text/css" href="../styles/portfolio_styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/portfolio_responsive.css">
</head>
<!-- 公共js -->
<%
include("common.js.html"){}
%>
<script src="../js/portfolio_custom.js"></script>
<script>
    $(function(){
        $(".back").click(function(){
            history.back();
        });
    })
</script>
<style>

</style>
<body class="body_top">

<div class="super_container">

    <!-- 引入头部文件 -->
    <%
    include("/top.html"){}
    %>
    <!-- Home -->


    <div class="base_head">
        <div class="wallet_phone">
            <div class="wallet_extract">
                <img src="../images/person.jpg">
            </div>
            <div class="wallet_extract">
                <p>推广说明：</p>
                <p>推广分为两种推广模式，一种为三层模式，另一种为七层模式</p>
                <p>三层模式说明：xxxxxx</p>
                <p>七层模式说明：xxxxxx</p>
                <p>收益说明：</p>
            </div>
            <div class="wallet_extract">
                <img src="../images/wallet_record.jpg">
                    <a href="./generalizeRecord">generalize record</a>
                <span class="span_entrance"> > </span>
            </div>
            <div class="wallet_extract">
                <img src="../images/wallet_record.jpg">
                <a href="./generalizeEarnings">generalize earnings</a>
                <span class="span_entrance"> > </span>
            </div>
        </div>
    </div>

    <!-- 引入底部文件 -->
    <%
        include("bottom.html"){}
    %>

</div>
</body>

</html>