<!DOCTYPE html>
<html lang="en">
<head>
<title>Lottery - Home</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="RanGO Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 公共style -->
<%
	include("common.css.html"){}
%>
<link rel="stylesheet" type="text/css" href="../styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="../styles/responsive.css">
<link rel="stylesheet" type="text/css" href="../styles/blog_styles.css">
<link rel="stylesheet" type="text/css" href="../styles/blog_responsive.css">
<link rel="stylesheet" type="text/css" href="../plugins/colorbox/colorbox.css">
</head>
<!-- 公共js -->
<%
	include("common.js.html"){}
%>
<script src="../js/custom.js"></script>
<body class="body_top">

<div class="super_container">

	<!-- 引入头部文件 -->
	<%
		include("index_top.html"){}
	%>
	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(../images/slider_background.jpg)"></div>
		</div>
		<!-- Hero Slider -->
		<div class="hero_slider_container">
			
			<!-- Slider -->
			<div class="owl-carousel owl-theme hero_slider">

				<!-- Slider Item -->
				<div class="owl-item hero_slider_item item_1 d-flex flex-column align-items-center justify-content-center">
					<span>by</span>
					<span><img src="../images/colorlib.png" alt=""></span>
					<span>GO!</span>
					<span>Get your freebie template now!</span>
				</div>

				<!-- Slider Item -->
				<div class="owl-item hero_slider_item item_1 d-flex flex-column align-items-center justify-content-center">
					<span>by</span>
					<span><img src="../images/colorlib.png" alt=""></span>
					<span>GO!</span>
					<span>Get your freebie template now!</span>
				</div>

				<!-- Slider Item -->
				<div class="owl-item hero_slider_item item_1 d-flex flex-column align-items-center justify-content-center">
					<span>by</span>
					<span><img src="../images/colorlib.png" alt=""></span>
					<span>GO!</span>
					<span>Get your freebie template now!</span>
				</div>

			</div>
			
			<!-- Hero Slider Navigation Left -->
			<div class="hero_slider_nav hero_slider_nav_left">
				<div class="hero_slider_prev d-flex flex-column align-items-center justify-content-center trans_200">
					<i class="fas fa-chevron-left trans_200"></i>
				</div>
			</div>

			<!-- Hero Slider Navigation Right -->
			<div class="hero_slider_nav hero_slider_nav_right">
				<div class="hero_slider_next d-flex flex-column align-items-center justify-content-center trans_200">
					<i class="fas fa-chevron-right trans_200"></i>
				</div>
			</div>

		</div>

		<div class="next_section_scroll">
			<div class="next_section nav_links" data-scroll-to=".icon_boxes">
				<i class="fas fa-chevron-down trans_200"></i>
				<i class="fas fa-chevron-down trans_200"></i>
			</div>
		</div>
			
	</div>

	<!-- 白皮书 -->
	<div class="icon_boxes">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="icon_box_title">
						<h1 data-localize="base.whiteBook">White book</h1>
					</div>
				</div>
				<div class="col-lg-8 icon_box_col">
					<!-- Icon Box Item -->
					<div class="div_white_book icon_box_item">

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 项目特点 -->
	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h1 data-localize="base.modernFeatures">Modern features</h1>
					</div>
				</div>
			</div>

			<div class="div_characteristicProject row features_row">
				<div class="col-lg-12">
					<div class="blog_container">
						<div class="post_container" data-masonry='{ "itemSelector": ".card", "gutter": 30 }'>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 玩法列表 -->
	<div class="services">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h1 data-localize="base.lotteryList">PLAY THE LOTTERY</h1>
					</div>
				</div>
			</div>
		</div>
		<style type="text/css">
			.lottery_wrapper{
				position: relative;
				z-index: 1;
				padding: 2rem 1rem;
			}
			.lottery_wrapper:before {
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: '';
				border-radius: 5px;
				background-image: url(../images/light.png);
				background-repeat: no-repeat;
				background-position: center bottom;
				background-size: contain;
			}
			.lottery_content p{
				color:#fff;

			}
			.eth{
				font-size: 2.5rem;
				font-weight: 700;
				letter-spacing: 1px;
				text-shadow: 0 0 9px #fff;
			}
			.lottery_content{
				text-align: center;
			}
			.lottery_content .title{
				font-size: 1.5rem;
			}
			.lottery_content .usd{
				font-size:1.4rem;
			}
			.lottery_content .jackpot{
				font-size:1.4rem;
			}
			.lottery_content .lottery_btn{
				font-size:1.6rem;
			}
			.item_lottery{
				height: 287px;
			}

			.lottery_btn1:hover,.lottery_btn2:hover,.lottery_btn3:hover{
				background: #fff;
			}
			.lottery_btn1:hover a{
				color: #725fd8;
			}
			.lottery_btn2:hover a{
				color: #ff8b2c;
			}

		</style>

		<!--<div class="container">-->
			<!--<div class="row lotteryItem">-->
				<!--<div class="col-lg-6 service_col">-->
					<!--&lt;!&ndash; Service Item &ndash;&gt;-->
					<!--<div class="service_item item_lottery lottery_wrapper" style="background-image: -webkit-gradient(linear,left bottom,left top,from(#725fd8),to(#513c9c));-->
											<!--background-image:linear-gradient(to top,#725fd8,#513c9c);">-->
						<!--<div class="lottery_content">-->
							<!--<p class="title" style="border-bottom:1px solid rgba(255,255,255,.3)">BLOCK 3 </p>-->
							<!--<p class="jackpot">Jackpot</p>-->
							<!--<p class="eth">50 ETH</p>-->
							<!--<p class="usd">$7,450</p>-->
							<!--<p><a href="../web/authLotteryServices" class="lottery_btn" data-localize="base.start">START</a></p>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-lg-6 service_col" >-->
					<!--&lt;!&ndash; Service Item &ndash;&gt;-->
					<!--<div class="service_item item_lottery lottery_wrapper" style="background-image: -webkit-gradient(linear,left bottom,left top,from(#ff8b2c),to(#ffa23f));-->
    								<!--background-image: linear-gradient(to top,#ff8b2c,#ffa23f);">-->
						<!--<div class="lottery_content">-->
							<!--<p class="title" style="border-bottom:1px solid rgba(255,255,255,.3)">INSTANT PRIZE</p>-->
							<!--<p class="jackpot">Instant</p>-->
							<!--<p class="eth">50 ETH</p>-->
							<!--<p class="usd">$7,450</p>-->
							<!--<p><a href="../web/authLotteryServices" class="lottery_btn trans_200" data-localize="base.start">START</a></p>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-lg-6 service_col" >-->
					<!--<div class="service_item item_lottery lottery_wrapper" style="background-image: -webkit-gradient(linear,left bottom,left top,from(#ff8b2c),to(#ffa23f));-->
    								<!--background-image: linear-gradient(to top,#ff8b2c,#ffa23f);">-->
						<!--<div class="item_content">-->
							<!--<p class="item_title" data-localize="base.more">MORE</p>-->
							<!--<p data-localize="base.toBeExpected">To be expected</p>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<div class="h_slider_container services_slider_container">
			<div class="service_slider_outer">
				<!-- Services Slider -->
				<div class="owl-carousel  services_slider">
					<!-- Services Slider Item-->
					<div class="owl-item services_item">
						<div class="services_item_inner " style="background-image: -webkit-gradient(linear,left bottom,left top,from(#725fd8),to(#513c9c));
											background-image:linear-gradient(to top,#725fd8,#513c9c);">
							<div class="service_item_content lottery_wrapper"  >
								<div class="lottery_content">
									<p class="title" style="border-bottom:1px solid rgba(255,255,255,.3)">BLOCK 3 </p>
									<p class="jackpot">Jackpot</p>
									<p class="eth">50 ETH</p>
									<p class="usd">$7,450</p>
								</div>
								<div class="button service_item_button trans_200 lottery_btn1">
									<a href="../web/authLotteryServices" class=" trans_200" data-localize="base.start">START</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Services Slider Item-->
					<div class="owl-item services_item">
						<div class="services_item_inner " style="background-image: -webkit-gradient(linear,left bottom,left top,from(#ff8b2c),to(#ffa23f));
    								background-image: linear-gradient(to top,#ff8b2c,#ffa23f);">
							<div class="service_item_content lottery_wrapper"  >
								<div class="lottery_content">
									<p class="title" style="border-bottom:1px solid rgba(255,255,255,.3)">INSTANT PRIZE</p>
									<p class="jackpot">Instant</p>
									<p class="eth">50 ETH</p>
									<p class="usd">$7,450</p>
								</div>
								<div class="button service_item_button trans_200 lottery_btn2">
									<a href="../web/authLotteryServices" class="lottery_btn trans_200" data-localize="base.start">START</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Services Slider Item-->
					<div class="owl-item services_item">
						<div class="services_item_inner " style="background-image: -webkit-gradient(linear,left bottom,left top,from(#ddd),to(#ddd));
    								background-image: linear-gradient(to top,#ddd,#ddd);">
							<div class="service_item_content lottery_wrapper"  >
								<div class="lottery_content">
									<p class="title" data-localize="base.more" style="border-bottom:1px solid rgba(255,255,255,.3)">MORE</p>
									<p class="jackpot" data-localize="base.toBeExpected">To be expected</p>
								</div>
								<!--<div class="button service_item_button trans_200">
									<a href="../web/authLotteryServices" class="lottery_btn trans_200" data-localize="base.start">START</a>
								</div>-->
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!--<div class="h_slider_container services_slider_container">
			<div class="service_slider_outer">
				&lt;!&ndash; Services Slider &ndash;&gt;
				<div class="owl-carousel  services_slider">
					&lt;!&ndash; Services Slider Item&ndash;&gt;
					<div class="owl-item services_item">
						<div class="services_item_inner">
							<div class="service_item_content">
								<div class="button service_item_button trans_200">
									<a href="../web/authLotteryServices" class="trans_200">discover more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
	</div>

	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h1 data-localize="base.partnersAndAffiliates">PARTNERS AND AFFILIATES</h1>
					</div>
				</div>
			</div>
			<div class="row features_row">
				<div class="col-lg-12 d-flex flex-column align-items-center order-lg-2 order-1">
					<div class="partners_list features_image">
						<!--<img src="../images/db.jpg" alt="">
						<img src="../images/db.jpg" alt="">
						<img src="../images/db.jpg" alt="">-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 充值途徑 -->
	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h1 data-localize="base.externalLinks">EXTERNAL LINKS</h1>
					</div>
				</div>
			</div>
			<div class="row features_row">
				<div class="col-lg-12 d-flex flex-column align-items-center order-lg-2 order-1">
					<div class="external_list features_image">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 分隔线 -->
	<hr>
	<!-- 引入底部文件 -->
	<%
		include("bottom.html"){}
	%>

</div>
</body>
<script>
	$(function(){

		//存储推广人员的Id，推广人员Id存储在session有效期24小时
		var generalizePersonId = "${generalizePersonId!''}";
		setCookie("generalizePersonId",generalizePersonId,24);
		var languageType = getCookie("somoveLanguage") || "en";
		infoContentCharacteristic(languageType);
		infoContentPartners();
		infoContentExternal();
})

function infoContentCharacteristic(languageType){
	$.ajax({
		url:'${projectPath}/apiauthorization/base/authorization/v1/baseInfo/infoContentCharacteristic',
		type:'get',
		data:{"languageType":languageType},
		dataType:"json",
		success:function (result) {
			var left = "";
			var characteristicProject = $(".div_characteristicProject");
			$.each(result,function(index,data){
				left += '<div class="card trans_200">'+
						'<img class="card-img-top" src="/api/base/v1/lsimage/getImg?id='+(data.imgId || "")+'">'+
						'<div class="card-body">'+
						'<div class="card-title"><a href="blog_post.html">'+data.title+'</a></div>'+
						'<div class="card-text">'+
						data.content +
						'</div>'+
						'</div>'+
						'</div>';
			})
			characteristicProject.html(left);
		}
	})
}
function infoContentPartners(){
	$.ajax({
		url:'${projectPath}/apiauthorization/base/authorization/v1/baseInfo/infoContentPartners',
		type:'get',
		dataType:"json",
		success:function (result) {
			//充值途径
			var partner_obj = $(".partners_list");
			$.each(result,function(index,partners){
				partner_obj.append("<img onclick='open_url(\""+partners.linkAddress+"\")' src='/api/base/v1/lsimage/getImg?id="+partners.imgId+"'>");
			})
		}
	})
}
function infoContentExternal(){
	$.ajax({
		url:'${projectPath}/apiauthorization/base/authorization/v1/baseInfo/infoContentExternal',
		type:'get',
		dataType:"json",
		success:function (result) {
			//合作伙伴
			var external_obj = $(".external_list");
			$.each(result,function(index,external){
				external_obj.append("<img onclick='open_url(\""+external.linkAddress+"\")' src=/api/base/v1/lsimage/getImg?id="+external.imgId+">");
			})
		}
	})
}

function open_url(url){
	window.open(url);
}
</script>
</html>