<!DOCTYPE html>
<html lang="en">
<head>
<title>Lottery - Home</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="RanGO Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 公共style -->
<%
	include("common.css.html"){}
%>
<link rel="stylesheet" type="text/css" href="../styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="../styles/responsive.css">
<link rel="stylesheet" type="text/css" href="../styles/blog_styles.css">
<link rel="stylesheet" type="text/css" href="../styles/blog_responsive.css">
<link rel="stylesheet" type="text/css" href="../plugins/colorbox/colorbox.css">
</head>
<!-- 公共js -->
<%
	include("common.js.html"){}
%>
<script src="../js/custom.js"></script>
<body class="body_top">

<div class="super_container">

	<!-- 引入头部文件 -->
	<%
		include("index_top.html"){}
	%>
	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(../images/slider_background.jpg)"></div>
		</div>
		<!-- Hero Slider -->
		<div class="hero_slider_container">
			
			<!-- Slider -->
			<div class="owl-carousel owl-theme hero_slider">

				<!-- Slider Item -->
				<div class="owl-item hero_slider_item item_1 d-flex flex-column align-items-center justify-content-center">
					<span>by</span>
					<span><img src="../images/colorlib.png" alt=""></span>
					<span>GO!</span>
					<span>Get your freebie template now!</span>
				</div>

				<!-- Slider Item -->
				<div class="owl-item hero_slider_item item_1 d-flex flex-column align-items-center justify-content-center">
					<span>by</span>
					<span><img src="../images/colorlib.png" alt=""></span>
					<span>GO!</span>
					<span>Get your freebie template now!</span>
				</div>

				<!-- Slider Item -->
				<div class="owl-item hero_slider_item item_1 d-flex flex-column align-items-center justify-content-center">
					<span>by</span>
					<span><img src="../images/colorlib.png" alt=""></span>
					<span>GO!</span>
					<span>Get your freebie template now!</span>
				</div>

			</div>
			
			<!-- Hero Slider Navigation Left -->
			<div class="hero_slider_nav hero_slider_nav_left">
				<div class="hero_slider_prev d-flex flex-column align-items-center justify-content-center trans_200">
					<i class="fas fa-chevron-left trans_200"></i>
				</div>
			</div>

			<!-- Hero Slider Navigation Right -->
			<div class="hero_slider_nav hero_slider_nav_right">
				<div class="hero_slider_next d-flex flex-column align-items-center justify-content-center trans_200">
					<i class="fas fa-chevron-right trans_200"></i>
				</div>
			</div>

		</div>

		<div class="next_section_scroll">
			<div class="next_section nav_links" data-scroll-to=".icon_boxes">
				<i class="fas fa-chevron-down trans_200"></i>
				<i class="fas fa-chevron-down trans_200"></i>
			</div>
		</div>
			
	</div>

	<!-- 白皮书 -->
	<div class="icon_boxes">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="icon_box_title">
						<h1>White book</h1>
					</div>
				</div>

				<div class="col-lg-8 icon_box_col">

					<!-- Icon Box Item -->
					<div class="div_white_book icon_box_item">
						<h2>Great team</h2>
						<p>Etiam euismod sapien nec est tempus consequat. Nullam eget pretium mi. Curabitur rhoncus finibus quam quis sodales.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 项目特点 -->
	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h1>Modern features</h1>
					</div>
				</div>
			</div>

			<div class="div_characteristicProject row features_row">
				<div class="col-lg-12">
					<div class="blog_container">
						<div class="post_container" data-masonry='{ "itemSelector": ".card", "gutter": 30 }'>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 玩法列表 -->
	<div class="services">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h1>RanGO. We take care of your business</h1>
						<span>Explore our services</span>
					</div>
				</div>
			</div>
		</div>

		<div class="h_slider_container services_slider_container">
			<div class="service_slider_outer">
				<!-- Services Slider -->
				<div class="owl-carousel owl-theme services_slider">
					<!-- Services Slider Item-->
					<div class="owl-item services_item">
						<div class="services_item_inner">
							<div class="service_item_content">
								<div class="button service_item_button trans_200">
									<a href="../web/authLotteryServices" class="trans_200">discover more</a>
								</div>
							</div>
						</div>
					</div>

					<!-- Services Slider Item-->
					<div class="owl-item services_item">
						<div class="services_item_inner">
							<div class="service_item_content">
								<div class="button service_item_button trans_200">
									<a href="#" class="trans_200">discover more</a>
								</div>
							</div>
						</div>
					</div>

					<!-- Services Slider Item-->
					<div class="owl-item services_item">
						<div class="services_item_inner">
							<div class="service_item_content">
								<div class="button service_item_button trans_200">
									<a href="#" class="trans_200">discover more</a>
								</div>
							</div>
						</div>
					</div>

					<!-- Services Slider Item-->
					<div class="owl-item services_item">
						<div class="services_item_inner">
							<div class="service_item_content">
								<div class="button service_item_button trans_200">
									<a href="#" class="trans_200">discover more</a>
								</div>
							</div>
						</div>
					</div>

					<!-- Services Slider Item-->
					<div class="owl-item services_item">
						<div class="services_item_inner">
							<div class="service_item_content">
								<div class="button service_item_button trans_200">
									<a href="#" class="trans_200">discover more</a>
								</div>
							</div>
						</div>
					</div>

					<!-- Services Slider Item-->
					<div class="owl-item services_item">
						<div class="services_item_inner">
							<div class="service_item_content">
								<div class="button service_item_button trans_200">
									<a href="#" class="trans_200">discover more</a>
								</div>
							</div>
						</div>
					</div>

					<!-- Services Slider Item-->
					<div class="owl-item services_item">
						<div class="services_item_inner">
							<div class="service_item_content">
								<div class="button service_item_button trans_200">
									<a href="#" class="trans_200">discover more</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="services_slider_nav services_slider_nav_left"><i class="fas fa-chevron-left trans_200"></i></div>
				<div class="services_slider_nav services_slider_nav_right"><i class="fas fa-chevron-right trans_200"></i></div>
			</div>
		</div>
	</div>

	<!-- 充值途径 -->
	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h1>PARTNERS AND AFFILIATES</h1>
					</div>
				</div>
			</div>
			<div class="row features_row">
				<div class="col-lg-12 d-flex flex-column align-items-center order-lg-2 order-1">
					<div class="partners_list features_image">
						<!--<img src="../images/db.jpg" alt="">
						<img src="../images/db.jpg" alt="">
						<img src="../images/db.jpg" alt="">-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 合作伙伴 外部链接 -->
	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h1>EXTERNAL LINKS</h1>
					</div>
				</div>
			</div>
			<div class="row features_row">
				<div class="col-lg-12 d-flex flex-column align-items-center order-lg-2 order-1">
					<div class="external_list features_image">
						<!--<img src="../images/wblj.jpg" alt="">
						<img src="../images/wblj.jpg" alt="">
						<img src="../images/wblj.jpg" alt="">-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 分隔线 -->
	<hr>
	<!-- 引入底部文件 -->
	<%
		include("bottom.html"){}
	%>

</div>
</body>
<script>
	$(function(){

		//存储推广人员的Id，推广人员Id存储在session有效期24小时
		var generalizePersonId = "${generalizePersonId!''}";
		setCookie("generalizePersonId",generalizePersonId,24);
		var languageType = getCookie("somoveLanguage") || "en";
		$.ajax({
			url:'${projectPath}/apiauthorization/base/authorization/v1/baseInfo/infoContent',
			type:'get',
			data:{"languageType":languageType},
			dataType:"json",
			success:function (data) {
				//充值途径
				var partner_obj = $(".partners_list");
				var partners_s = data.partners;
				$.each(partners_s,function(index,partners){
					partner_obj.append("<img onclick='open_url(\""+partners.linkAddress+"\")' src='"+partners.viewUrl+"'>");
				})
				//合作伙伴
				var external_obj = $(".external_list");
				var external_s = data.external;
				$.each(external_s,function(index,external){
					external_obj.append("<img onclick='open_url(\""+external.linkAddress+"\")' src='"+external.viewUrl+"'>");
				})
				//项目特点
				var characteristicProject = $(".div_characteristicProject");
				var characteristicProject_html = "";
				var characteristicProject_obj = data.characteristicProject;
				var left = "";
				$.each(characteristicProject_obj,function(index,data){
					left += '<div class="card trans_200">'+
						'<img class="card-img-top" src="'+(data.url || "")+'">'+
						'<div class="card-body">'+
						'<div class="card-title"><a href="blog_post.html">'+data.title+'</a></div>'+
						'<div class="card-text">'+
							data.content +
						'</div>'+
						'</div>'+
						'</div>';
				})
                characteristicProject.html(left);
			}
		})
	})

	function open_url(url){
		window.open(url);
	}
</script>
</html>