<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="../images/labelLogo.ico" type="image/x-icon">
	<link rel="shortcut icon" href="../images/labelLogo.ico" type="image/x-icon">
	<!-- commonality  meta and title -->
	<%
		include("common/common.meta.html"){}
	%>
	<!-- commonality style -->
	<%
		include("common/common.css.html"){}
	%>
	<script src="../plugins/chart/Chart.js"></script>
	<link rel="stylesheet" type="text/css" href="../styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="../styles/responsive.css">
	<link rel="stylesheet" type="text/css" href="../styles/blog_styles.css">
	<link rel="stylesheet" type="text/css" href="../styles/blog_responsive.css">
	<link rel="stylesheet" type="text/css" href="../plugins/colorbox/colorbox.css">
</head>
<!-- commonality js -->
	<%
		include("common/common.js.html"){}
	%>
<script src="../js/custom.js"></script>
<body class="body_top">
	<div class="super_container">

	<!-- commonality head -->
	<%
		include("common/index_top.html"){}
	%>
	<!-- Home -->

	<div class="home">
		<canvas id="homecanvas"></canvas>
		<div class="home_background_container prlx_parent">
			<img src="../images/bgpurper1.png" alt="" class="bgimg">
		</div>
		<div class="homebutton">
			<a href="#services" type="button" class="btn btn-home btn-lg">Play Now</a>
		</div>
	</div>

	<!-- white book -->
	<div class="icon_boxes">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="icon_box_title icon_box_title_white_book">
						<h1 class="whiteBook"></h1>
					</div>
				</div>
				<div class="col-lg-12 icon_box_col">
					<!-- Icon Box Item -->
					<div class="div_white_book icon_box_item">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- project specialty -->
	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h1 data-localize="base.modernFeatures">Modern Features</h1>
					</div>
				</div>
			</div>
			<div class="div_characteristicProject row features_row">
				<div class="col-lg-12">
					<div class="blog_container">
						<div class="post_container" data-masonry='{ "itemSelector": ".card", "gutter": 30 }'>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- play List -->
	<div class="services" id="services">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h1 data-localize="base.lotteryList">PLAY THE LOTTERY</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="h_slider_container services_slider_container">
			<div class="service_slider_outer">
				<!-- Services Slider -->
				<div class="owl-carousel  services_slider slider_auto">
					<!-- Services Slider Item-->
					<div class="owl-item services_item slider_auto_item">
						<div class="services_item_inner " style="background-image: -webkit-gradient(linear,left bottom,left top,from(#725fd8),to(#513c9c));
											background-image:linear-gradient(to top,#725fd8,#513c9c);">
							<div class="service_item_content lottery_wrapper"  >
								<div class="lottery_content">
									<p class="title" style="border-bottom:1px solid rgba(255,255,255,.3)">BLOCK 3 </p>
									<p class="jackpot">Jackpot</p>
									<p class="eth">50 ETH</p>
									<!--<p class="usd">$7,450</p>-->
								</div>
								<div class="button service_item_button trans_200 lottery_btn1">
									<a href="../web/authLotteryServices?playType=1"  class=" trans_200" data-localize="base.start">START</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Services Slider Item-->
					<div class="owl-item services_item">
						<div class="services_item_inner " style="background-image: -webkit-gradient(linear,left bottom,left top,from(#ff8b2c),to(#ffa23f));
    								background-image: linear-gradient(to top,#ff8b2c,#ffa23f);">
							<div class="service_item_content lottery_wrapper"  >
								<div class="lottery_content">
									<p class="title" style="border-bottom:1px solid rgba(255,255,255,.3)">INSTANT PRIZE B-1</p>
									<p class="jackpot">Instant</p>
								</div>
								<div class="button service_item_button trans_200 lottery_btn2">
									<a href="../web/authLotterybServices?playTypeId=1&playType=2" class="lottery_btn trans_200" data-localize="base.start">START</a>
								</div>
							</div>
						</div>
					</div>
					<div class="owl-item services_item slider_auto_item">
						<div class="services_item_inner " style="background-image: -webkit-gradient(linear,left bottom,left top,from(#725fd8),to(#513c9c));
											background-image:linear-gradient(to top,#725fd8,#513c9c);">
							<div class="service_item_content lottery_wrapper"  >
								<div class="lottery_content">
									<p class="title" style="border-bottom:1px solid rgba(255,255,255,.3)">INSTANT PRIZE B-2</p>
									<p class="jackpot">Instant</p>
									<!--<p class="usd">$7,450</p>-->
								</div>
								<div class="button service_item_button trans_200 lottery_btn1">
									<a href="../web/authLotterybServices?playTypeId=2&playType=2"  class=" trans_200" data-localize="base.start">START</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Services Slider Item-->
					<div class="owl-item services_item">
						<div class="services_item_inner " style="background-image: -webkit-gradient(linear,left bottom,left top,from(#ff8b2c),to(#ffa23f));
    								background-image: linear-gradient(to top,#ff8b2c,#ffa23f);">
							<div class="service_item_content lottery_wrapper"  >
								<div class="lottery_content">
									<p class="title" style="border-bottom:1px solid rgba(255,255,255,.3)">INSTANT PRIZE B-3</p>
									<p class="jackpot">Instant</p>
								</div>
								<div class="button service_item_button trans_200 lottery_btn2">
									<a href="../web/authLotterybServices?playTypeId=3&playType=2" class="lottery_btn trans_200" data-localize="base.start">START</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Services Slider Item-->
					<div class="owl-item services_item">
						<div class="services_item_inner " style="background-image: -webkit-gradient(linear,left bottom,left top,from(#ddd),to(#ddd));
    								background-image: linear-gradient(to top,#ddd,#ddd);">
							<div class="service_item_content lottery_wrapper"  >
								<div class="lottery_content">
									<p class="title" data-localize="base.more" style="border-bottom:1px solid rgba(255,255,255,.3)">MORE</p>
									<p class="jackpot" data-localize="base.toBeExpected">To be expected</p>
								</div>
							</div>
							<div class="button service_item_button trans_200 lottery_btn1">
								<a href="javascript:void(0);"   class=" trans_200" data-localize="base.more">MORE</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- lotteryChart  -->
	<div class="lotteryChart">
		<div class="lotteryChartl">
			<div class="chartdiv">
				<canvas id="piechart" width="400" height="400"></canvas>
			</div>
		</div>
		<!--<div class="lotteryChartr">
			<div></div>
		</div>-->
	</div>
	<!-- Top-up way -->
	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h1 data-localize="base.externalLinks">EXTERNAL LINKS</h1>
					</div>
				</div>
			</div>
			<div class="row features_row">
				<div class="col-lg-12 d-flex flex-column align-items-center order-lg-2 order-1">
					<div class="external_list features_image">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- partner -->
	<div class="features features_footer">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h1 data-localize="base.partnersAndAffiliates">PARTNERS AND AFFILIATES</h1>
					</div>
				</div>
			</div>
			<div class="row features_row">
				<div class="col-lg-12 d-flex flex-column align-items-center order-lg-2 order-1">
					<div class="partners_list features_image">
						<!--<img src="../images/db.jpg" alt="">
						<img src="../images/db.jpg" alt="">
						<img src="../images/db.jpg" alt="">-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- commonality Footer -->
	<%
		include("common/bottom.html"){}
	%>
</div>
</body>
<script>
	$(function(){
		//Store the promoter's Id, which is stored in the session for 24 hours
		var generalizePersonId = "${generalizePersonId!''}";
		if(generalizePersonId){
			setCookie("generalizePersonId",generalizePersonId,24);
		}
		var languageType = getLanguage();
		if(languageType != 'zh'){
			languageType = 'en'
		}
		infoContentWhiteBook(languageType);
		infoContentCharacteristic(languageType);
		infoContentPartners();
		infoContentExternal();
		/*getLotterybPlayList(languageType);*/
	})


function infoContentWhiteBook(languageType){
	$.ajax({
		url:'${projectPath}/apiauthorization/base/authorization/v1/baseInfo/infoContentWhiteBook',
		type:'get',
		data:{"languageType":languageType},
		dataType:"json",
		success:function (result) {
			if(result.length > 0){
				var info = result[0]
				$(".whiteBook").html(info.title);
				$(".div_white_book").html(info.content);
			}
		}
	})
}


function infoContentCharacteristic(languageType){
	$.ajax({
		url:'${projectPath}/apiauthorization/base/authorization/v1/baseInfo/infoContentCharacteristic',
		type:'get',
		data:{"languageType":languageType},
		dataType:"json",
		success:function (result) {
			var left = "";
			var characteristicProject = $(".div_characteristicProject");
			$.each(result,function(index,data){
				if((index + 1) == result.length){
					left += '<div class="cardItemContent card trans_200" style="margin-bottom: 5px;" content="'+data.content+'" aria-hidden="true">'+
							'<div class="card-title"><a href="blog_post.html">'+data.title+'</a></div>'+
							'<img class="card-img-top" src="/apiauthorization/base/authorization/v1/lsimage/getImg?id='+(data.imgId || "")+'">'+
							'</div>';
				}else {
					left += '<div class="cardItemContent card trans_200" content="'+data.content+'" aria-hidden="true">'+
							'<div class="card-title"><a href="blog_post.html">'+data.title+'</a></div>'+
							'<img class="card-img-top" src="/apiauthorization/base/authorization/v1/lsimage/getImg?id='+(data.imgId || "")+'">'+
							'</div>';
				}

			})
			characteristicProject.html(left);
			var width = document.body.clientWidth;
			if(width > 991){
				var tips;
				$(".cardItemContent").on("mouseenter",function () {
					tips = layer.tips($(this).attr("content"), $(this),{
						tips: [2, '#9f88be'],
						time:100000
					});
				}).on("mouseleave",function (){
					layer.close(tips);
				})
			}else {
				$(".cardItemContent").click(function () {
					var content = $(this).attr("content");
					var title = $(this).find(".card-title").find("a").html();
					layer.open({
						type: 1,
						title: false,
						shadeClose: true,
						skin: 'yourclass',
						area:["80%","60%"],
						content:"<p style='font-size: 25px; font-weight: 500;text-align: center;'>"+title+"</p>" +
								"<p style='margin: 5px 20px;text-indent: 25px'>"+content+"</p>"
					});
				})
			}

		}
	})
}
function infoContentPartners(){
	$.ajax({
		url:'${projectPath}/apiauthorization/base/authorization/v1/baseInfo/infoContentPartners',
		type:'get',
		dataType:"json",
		success:function (result) {
			var partner_obj = $(".partners_list");
			$.each(result,function(index,partners){
				partner_obj.append("<img class='img_margin' style='cursor: pointer;' onclick='open_url(\""+partners.linkAddress+"\")' src='/apiauthorization/base/authorization/v1/lsimage/getImg?id="+partners.imgId+"'>");
			})
		}
	})
}
function infoContentExternal(){
	$.ajax({
		url:'${projectPath}/apiauthorization/base/authorization/v1/baseInfo/infoContentExternal',
		type:'get',
		dataType:"json",
		success:function (result) {
			var external_obj = $(".external_list");
			$.each(result,function(index,external){
				external_obj.append("<img class='img_margin' style='cursor: pointer;' onclick='open_url(\""+external.linkAddress+"\")' src=/apiauthorization/base/authorization/v1/lsimage/getImg?id="+external.imgId+">");
			})
		}
	})
}

function getLotterybPlayList(languageType){
	$.ajax({
		url:'${projectPath}/apiauthorization/lotteryB/authorization/v1/findAll',
		type:'get',
		dataType:"json",
		success:function (result) {
			var slider_auto = $(".slider_auto");
			var slider_auto_item = slider_auto.find(".slider_auto_item");
			slider_auto_item.find(".service_item_button").removeClass("lottery_btn1");
			slider_auto_item.find(".service_item_button").addClass("lottery_btn2");
			$.each(result,function (index,data){
				var new_item = slider_auto_item.clone();
				new_item.find(".title").html();
				slider_auto.append(new_item);
			})
			/*var external_obj = $(".external_list");
			$.each(result,function(index,external){
				external_obj.append("<img class='img_margin' style='cursor: pointer;' onclick='open_url(\""+external.linkAddress+"\")' src=/apiauthorization/base/authorization/v1/lsimage/getImg?id="+external.imgId+">");
			})*/
		}
	})
}

function open_url(url){
	window.open(url);
}
</script>

<!-- Flowing letters -->
<script>
	var canvas=document.getElementById("homecanvas");
	var headdiv=document.getElementById("top");
	var products = document.getElementById("products");
	var can=homecanvas.getContext("2d");
	var s=window.screen;//获取屏幕
	var w=homecanvas.width=s.width;//获取屏幕宽度
	var h=homecanvas.height=s.height;//获取屏幕高度
	/*var h =  (products.offsetHeight+200);
	if(s.width < 768){
	h += 530;
	}
	canvas.height = h;*/
	//alert(xxx)
	//canvas.height = h;
	//can.globalAlpha=0.2;
	can.fillStyle=color2();

	var words = Array(256).join("1").split("");
	//设置一个包含256个空元素的数组，join("1")用来把数组里的元素拼接成字符串，split("")过滤掉数组里的空元素

	setInterval(draw,50);

	// can.font="30px 微软雅黑"; //只设置一个不生效，一定要两个属性都设
	// //绘制实心的文本：绘制的文本，文本的坐标x，文本的坐标y
	// can.fillText("黑客帝国",100,100);
	// // setInterval(draw,50);
	function draw(){
		//can.clearRect(0,0,canvas.width,canvas.height);
		//can.fillRect()画一个实心矩形:坐标x，坐标y，矩形宽，举行高
		//can.fillStyle='rgba(1,25,53,0.05)';
		can.fillStyle='rgba(0,0,0,0.05)';
		can.fillRect(0,0,w,h);
		can.fillStyle=color2();
		words.map(function(y,n){

			text=String.fromCharCode(Math.ceil(65+Math.random()*57)); //转换为键盘上值
			//textxx = textxx == "0" ? "1":"0";
			x = n*10;
			can.fillText(text,x,y)
			words[n]=( y > (h-250) + Math.random()*484 ? 0:y+10 );
		});//数组元素的一个映射

	}

	function color2(){
		var color = Math.ceil(Math.random()*16777215).toString(16);
		while(color.length<6){
			color = '0'+color;
		}
		return '#18ec0c';
	}
</script>

<!-- chart -->
<script>
	var pieCanvas = document.getElementById("pieChart").getContext("2d");
	var data = {
		labels: ["Reconciliation fund", "Consumer dividend fund", "Winning Dividend Fund", "Operating cost", "Platform revenue", "Prize pool"],
		datasets: [
			{
				data: [10, 5, 5, 15, 5, 60],
				backgroundColor:["#ffc0cb","#87cfeb","#ffff38","#f7b03f","#4b67f7","#f56170"]
			}
		]
	};

	var options ={
		legend:{
			position:'right',
			labels: {
				boxWidth:40,
				fontSize:20,
				padding:30
			}
		}
	};

	var barChart = new Chart(pieCanvas, {
		type: "pie",
		data: data,
		options: options
	});
</script>
</html>