<style>
    .a_language_select_onchange{

    }
    .select_language_option{
        /*width: 30px;*/
        /*height: 30px;*/
    }
    .dropdown-menu{
        padding: 0;
        margin: 0;
        min-width:0;
        color: white;
        background: rgba(0,0,0,0.1);
    }
    .dropdown-item{
        padding: 0;
        margin: 0;
        color:#333 !important;
        cursor:pointer
    }
    .dropdown-item:hover{
        color: #999999 !important;
        background: rgba(0,0,0,0.1);
    }
    .language_img{
        border-radius: 2px;
    }
</style>
<!-- Header -->
<header id="header_load" class="header d-flex flex-row justify-content-end align-items-center trans_200">

    <!-- Logo -->
    <div class="logo mr-auto">
        <a href="#">Ran<span>Lottery</span></a>
    </div>

    <!-- Navigation -->
    <nav class="main_nav justify-self-end text-right">
        <div class="top_div">
            <div class="search_content d-flex flex-column align-items-center justify-content-center">
                <% if(has(whetherLogin) && whetherLogin){ %>
                <div class="top_center_span">
                    <span class="span_personal">2019-09-26 00:00:00</span><br/>
                    <span><a class="a_person" href="../web/personalCenter">${loginUser.memberName!"without"} ，<span data-localize="base.personalCenter"> Personal Center</span></a> </span>
                </div>
                <% }else{ %>
                <div class="top_login_span">
							<span>
                                <% if(has(type) && type == 'register'){ %>
                                    <a class="a_border" href="../web/authLogin" data-localize="base.login">Login</a>
                                <% }else if(has(type) && type == 'login'){ %>
                                    <a class="a_border" href="../web/authRegister" data-localize="base.register">Register</a>
                                <% }else{ %>
                                    <a class="a_border" href="../web/authLogin" data-localize="base.login">Login</a>
                                    <span> | </span>
                                    <a class="a_border" href="../web/authRegister" data-localize="base.register">Register</a>
                                <% } %>
							</span>
                </div>
                <% } %>
            </div>
            <div>

                <a class="a_language_select_onchange dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="language_img" src="../images/flags/zh.png"> <!--en-->
                </a>

                <div class="dropdown-menu"  aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="zh">
                        <img class="language_img" src="../images/flags/zh.png"> <!--<span>zh</span>-->
                    </a>
                    <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="en">
                        <img class="language_img" src="../images/flags/en.png"> <!--<span>en</span>-->
                    </a>
                    <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="ja">
                        <img class="language_img" src="../images/flags/ja.png"> <!--<span>ja</span>-->
                    </a>
                    <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="da">
                        <img class="language_img" src="../images/flags/da.png"> <!--<span>da</span>-->
                    </a>
                </div>
                <!--<select class="language_select_onchange">
                    <option class="select_option" value="zh">cn</option>
                    <option class="select_option" value="en">English</option>
                    <option class="select_option" value="ja">Japanese</option>
                    <option class="select_option" value="da">Danish</option>&ndash;&gt;
                </select>-->
            </div>
        </div>
        <div class="top_div">
            <ul>
                <li><a href="../web/authIndex" data-localize="base.home">Home</a></li>
                <li><a href="../web/authPlayTheLottery" data-localize="base.playTheLottery">Play The Lottery</a></li>
            </ul>
        </div>
    </nav>

    <div class="hamburger_container_language">
        <a class="a_language_select_onchange dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!--<img class="language_img" src="../images/flags/zh.png"> en-->
        </a>

        <div class="dropdown-menu"  aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="zh">
                <img class="language_img" src="../images/flags/zh.png"> <!--zh-->
            </a>
            <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="en">
                <img class="language_img" src="../images/flags/en.png"> <!--en-->
            </a>
            <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="ja">
                <img class="language_img" src="../images/flags/ja.png"> <!--ja-->
            </a>
            <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="da">
                <img class="language_img" src="../images/flags/da.png"> <!--da-->
            </a>
        </div>
        <!--<select class="language_select_onchange">
            <option class="select_option" value="zh">Chinese</option>
            <option class="select_option" value="en">English</option>
            <option class="select_option" value="ja">Japanese</option>
            <option class="select_option" value="da">Danish</option>
        </select>-->
    </div>
    <!-- Hamburger -->
    <div class="hamburger_container">
        <i class="fas fa-bars trans_200"></i>
    </div>
    <div id="google_translate_element" style="display: none;"></div>
    <!--<div id="google_translate_element"></div>-->
</header>
<div class="menu_container">
    <div class="menu menu_mm text-right">
        <div class="menu_close"><i class="far fa-times-circle trans_200"></i></div>
        <ul class="menu_mm">
            <li><a href="../web/authIndex" data-localize="base.home">Home</a></li>
            <li><a href="../web/authPlayTheLottery" data-localize="base.playTheLottery">Play The Lottery</a></li>
            <% if(has(whetherLogin) && whetherLogin){ %>
            <li><a href="../web/personalCenter">${loginUser.memberName!"without"} , <span data-localize="base.personalCenter"> Personal Center</span></a></li>
            <% } else { %>
                <% if(has(type) && type == 'register'){ %>
                    <li class="menu_mm"><a class="a_border" href="../web/authLogin" data-localize="base.login">Login</a></li>
                <% } else if(has(type) && type == 'login') { %>
                    <li class="menu_mm"><a class="a_border" href="../web/authRegister" data-localize="base.register">Register</a></li>
                <% } else { %>
                    <li class="menu_mm"><a class="a_border" href="../web/authLogin" data-localize="base.login">Login</a></li>
                    <li class="menu_mm"><a class="a_border" href="../web/authRegister" data-localize="base.register">Register</a></li>
                <% } %>
            <%  } %>
        </ul>
    </div>
</div>
<!--<script src="../js/language_select.js"></script>-->
<script src="https://translate.google.cn/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="../js/language_cookie.js"></script>
<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {
                //这个是当前页面的原语言，便于插件精确翻译
                pageLanguage: 'en',
                //这个是你需要翻译的语言，比如你只需要翻译成越南和英语，这里就只写en,vi
                //includedLanguages: 'en,zh-TW,hr,cs,da,nl,fr,de,el,iw,hu,ga,it,ja,ko,pt,ro,ru,sr,es,th,vi',
                includedLanguages: 'ja,zh-TW,en,da',
                //选择语言的样式，这个是面板，还有下拉框的样式，具体的记不到了，找不到api~~
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                //自动显示翻译横幅，就是翻译后顶部出现的那个，有点丑，这个属性没有用的话，请看文章底部的其他方法
                autoDisplay: true,
                //还有些其他参数，由于原插件不再维护，找不到详细api了，将就了，实在不行直接上dom操作
            },
            'google_translate_element'//触发按钮的id
        );
    }
    $(function(){
        //初始化语言选择
        var language_navigator = (navigator.language || navigator.browserLanguage).toLowerCase();
        var language_cookie = getCookie("somoveLanguage") || "";
        //中文瀏覽器取的語言簡寫是zh-cn錯誤
        if(language_navigator.indexOf("zh") > -1){
            language_navigator = "zh";
        }
        if(language_cookie){
            language_navigator = language_cookie;
        }
        //$(".language_select_onchange").prop('value',language_cookie);
        var imgHtml = "<img class='language_img' src='../images/flags/"+ language_navigator +".png'> ";
        $(".a_language_select_onchange").html(imgHtml);
    })

    function language_select_onchange(e,language_cookie){
        var language_select = "";
        var language_select_1 = "";
        if(e == null){
            language_select = language_cookie;
            language_select_1 = language_cookie;
        }else {
            language_select = $(e).attr("data_value") || "en";
            language_select_1 = $(e).attr("data_value") || "en";
        }
        //获取浏览器的语言
        imgHtml = "<img class='language_img' src='../images/flags/"+ language_select +".png'> ";
        $(".a_language_select_onchange").html(imgHtml);
        var browserLanguage = navigator.language.toLowerCase();
        var browserLanguage_array;
        var langeage_zh = {ja:"日语",da:"丹麦语"};//中文繁体
        var langeage_en = {ja:"Japanese",da:"Danish"};//英文
        var language_ja = {ja:"日本語",da:"デンマーク語"};//日本
        var language_da = {ja:"Japansk",da:"Dansk"};//丹麦
        var name = "somoveLanguage";
        SetCookie(name, language_select_1);
        var flag = true;
        if(browserLanguage){
            switch (browserLanguage) {
                case 'zh-cn':
                    browserLanguage_array = language_ja;
                    language_select = langeage_zh[language_select];
                    break;
                case 'en':
                    browserLanguage_array = language_ja;
                    language_select = langeage_en[language_select];
                    break;
                case 'ja':
                    browserLanguage_array = language_ja;
                    language_select = language_ja[language_select];
                    break;
                case 'da':
                    browserLanguage_array = language_da;
                    language_select = language_da[language_select];
                    break;
                default:
            }
        }
        if((language_select_1 != 'zh' && language_select_1 != 'en')) {
            $("iframe.goog-te-menu-frame").contents().find("table").find("span.text").each(function (i, data) {
                if ($(this).html() == language_select) {
                    $(this).click();
                }
            })
        }else {
            //清除谷歌翻译插件存入的cookie值
            delCookie("googtrans");
            location.reload();
        }
    }
</script>