<!-- Header -->
<header id="header_load" class="header d-flex flex-row justify-content-end align-items-center trans_200">

    <!-- Logo -->
    <div class="logo mr-auto">
        <a href="#">Ran<span>Lottery</span></a>
    </div>

    <!-- Navigation -->
    <nav class="main_nav justify-self-end text-right">
        <div class="top_div">
            <div class="search_content d-flex flex-column align-items-center justify-content-center">
                <% if(has(whetherLogin) && whetherLogin){ %>
                <div class="top_center_span">
                    <span>2019-09-26 00:00:00</span><br/>
                    <span><a href="../person/personalCenter">${loginUser.memberName!"without"} ，<span data-localize="base.PersonalCenter"> Personal Center</span></a> </span>
                </div>
                <% }else{ %>
                <div class="top_login_span">
							<span>
                                <% if(has(type) && type == 'register'){ %>
                                    <a class="a_border" href="../web/login" data-localize="base.Login">Login</a>
                                <% }else if(has(type) && type == 'login'){ %>
                                    <a class="a_border" href="../web/register" data-localize="base.Register">Register</a>
                                <% }else{ %>
                                    <a class="a_border" href="../web/login" data-localize="base.Login">Login</a>
                                    <span> | </span>
                                    <a class="a_border" href="../web/register" data-localize="base.Register">Register</a>
                                <% } %>
							</span>
                </div>
                <% } %>
            </div>
            <div>
                <select class="language_select_onchange">
                    <option class="select_option" value="zh">Chinese</option>
                    <option class="select_option" value="en">English</option>
                    <option class="select_option" value="ja">Japanese</option>
                    <option class="select_option" value="da">Danish</option>
                </select>
            </div>
        </div>
        <div class="top_div">
            <ul>
                <li><a href="../web/index" data-localize="base.Home">Home</a></li>
                <li><a href="../web/playTheLottery" data-localize="base.PlayTheLottery">Play The Lottery</a></li>
            </ul>
        </div>
    </nav>

    <div class="hamburger_container_language">
        <select class="language_select_onchange">
            <option class="select_option" value="zh">Chinese</option>
            <option class="select_option" value="en">English</option>
            <option class="select_option" value="ja">Japanese</option>
            <option class="select_option" value="da">Danish</option>
        </select>
    </div>
    <!-- Hamburger -->
    <div class="hamburger_container">
        <i class="fas fa-bars trans_200"></i>
    </div>
    <div id="google_translate_element" style="display: none;"></div>
    <!--<div id="google_translate_element"></div>-->
</header>
<div class="menu_container">
    <div class="menu menu_mm text-right">
        <div class="menu_close"><i class="far fa-times-circle trans_200"></i></div>
        <ul class="menu_mm">
            <li><a href="./index" data-localize="base.Home">Home</a></li>
            <li><a href="./playTheLottery" data-localize="base.PlayTheLottery">Play The Lottery</a></li>
            <% if(has(whetherLogin) && whetherLogin){ %>
            <li><a href="../person/personalCenter">${loginUser.memberName!"without"} , <span data-localize="base.PersonalCenter"> Personal Center</span></a></li>
            <% } else { %>
                <% if(has(type) && type == 'register'){ %>
                    <li class="menu_mm"><a class="a_border" href="../web/login" data-localize="base.Login">Login</a></li>
                <% } else if(has(type) && type == 'login') { %>
                    <li class="menu_mm"><a class="a_border" href="../web/register" data-localize="base.Register">Register</a></li>
                <% } else { %>
                    <li class="menu_mm"><a class="a_border" href="../web/login" data-localize="base.Login">Login</a></li>
                    <li class="menu_mm"><a class="a_border" href="../web/register" data-localize="base.Register">Register</a></li>
                <% } %>
            <%  } %>
        </ul>
    </div>
</div>
<!--<script src="../js/language_select.js"></script>-->
<script src="https://translate.google.cn/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="../js/language_cookie.js"></script>
<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {
                //这个是当前页面的原语言，便于插件精确翻译
                pageLanguage: 'en',
                //这个是你需要翻译的语言，比如你只需要翻译成越南和英语，这里就只写en,vi
                //includedLanguages: 'en,zh-TW,hr,cs,da,nl,fr,de,el,iw,hu,ga,it,ja,ko,pt,ro,ru,sr,es,th,vi',
                includedLanguages: 'ja,zh-TW,en,da',
                //选择语言的样式，这个是面板，还有下拉框的样式，具体的记不到了，找不到api~~
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                //自动显示翻译横幅，就是翻译后顶部出现的那个，有点丑，这个属性没有用的话，请看文章底部的其他方法
                autoDisplay: true,
                //还有些其他参数，由于原插件不再维护，找不到详细api了，将就了，实在不行直接上dom操作
            },
            'google_translate_element'//触发按钮的id
        );
    }
    $(function(){
        //初始化语言选择
        var language_cookie = getCookie("somoveLanguage");
        $(".language_select_onchange").prop('value',language_cookie);
        $(".language_select_onchange").change(function (){
            var language_select = $(this).val() || "";
            var language_select_1 = $(this).val() || "";
            //获取浏览器的语言
            var browserLanguage = navigator.language.toLowerCase();
            var browserLanguage_array;
            var langeage_zh = {ja:"日语",da:"丹麦语"};//中文繁体
            var langeage_en = {ja:"Japanese",da:"Danish"};//英文
            var language_ja = {ja:"日本語",da:"デンマーク語"};//日本
            var language_da = {ja:"Japansk",da:"Dansk"};//丹麦
            var name = "somoveLanguage";
            var flag = true;
            if(browserLanguage){
                switch (browserLanguage) {
                    case 'zh-cn':
                        browserLanguage_array = language_ja;
                        language_select = langeage_zh[language_select];
                        break;
                    case 'en':
                        browserLanguage_array = language_ja;
                        language_select = langeage_en[language_select];
                        break;
                    case 'ja':
                        browserLanguage_array = language_ja;
                        language_select = language_ja[language_select];
                        break;
                    case 'da':
                        browserLanguage_array = language_da;
                        language_select = language_da[language_select];
                        break;
                    default:
                }
            }
           if((language_select_1 != 'zh' && language_select_1 != 'en')) {
                $("iframe.goog-te-menu-frame").contents().find("table").find("span.text").each(function (i, data) {
                    if ($(this).html() == language_select) {
                        $(this).click();
                    }
                })
            }else {
               SetCookie(name, language_select_1);
               location.reload();
           }
        });
        //初始化参数绑定
    })
</script>