<!DOCTYPE html>
<html lang="en">
<head>
	<!-- commonality  meta and title -->
	<%
		include("common/common.meta.html"){}
	%>
	<!-- commonality style -->
	<%
		include("common/common.css.html"){}
	%>
<link rel="stylesheet" type="text/css" href="../styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="../styles/contact_responsive.css">
</head>
	<!-- commonality js -->
	<%
		include("common/common.js.html"){}
	%>
<script type="text/javascript" src="../js/contact_custom.js"></script>
<style type="text/css">
	.button_parent_div{text-align: center;}
	.button_margin{margin-left: 30px;margin-right: 30px;}
	.a_color{color: #452b78;}
</style>

<body>

<div class="super_container">

	<!-- commonality head -->
	<%
		include("common/index_top.html"){}
	%>

	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row contact_row">
				<div class="col-lg-8">
					<!-- Reply -->
					<div class="reply">

						<div class="reply_form_container">
							<!-- Reply Form -->
							<form id="reply_form"  method="post">
								<input type="hidden" name="rdirectUrl" value="${rdirect_url}"/>
								<div>
									<input  name="username" id="reply_form_email" class="input_field reply_form_email" type="text" placeholder="E-mail" required="required" data-error="Wrong username and password.">
									<input  name="password" id="reply_form_password" class="input_field reply_form_password" type="password" placeholder="password" required="required" data-error="Wrong username and password.">
								</div>
								<div class="button_parent_div">
									<button type="button" onclick="login()" class="button_margin reply_submit_btn trans_300" data-localize="base.login">
										Login
									</button>
									<button type="button" class="button_margin reply_submit_btn trans_300">
										<a class="a_color" href="../web/authRegister" data-localize="base.register">Register</a>
									</button>
									<div class="button_parent_div">
										<span ><a class="a_color" href="../web/authForgotPassword" data-localize="base.forgotPassword">Forgot Password</a></span>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
		</div>
	</div>

	<!-- commonality Footer -->
	<%
		include("common/bottom.html"){}
	%>

</div>

	<script type="text/javascript">
		/*$(function () {
			$(document).ajaxSend(function(e, xhr, options) {
				options.data.put({"access_token":"bae582fc-f5b5-4cad-83d4-2c821a4a6848"});
				 var dataStr = options.data;
				 if(dataStr){
				 	dataStr = dataStr+"&access_token="+"bae582fc-f5b5-4cad-83d4-2c821a4a6848";
				 }else{
				 	dataStr = "access_token="+"bae582fc-f5b5-4cad-83d4-2c821a4a6848";
				 }
				 options.data = dataStr;
				 xhr.setRequestHeader("access_token", "bae582fc-f5b5-4cad-83d4-2c821a4a6848");
			});
		});*/

		/*function testPost(){
			$.ajax({
				url:"/web2/testPost",
				data:{'name':'CHJ李艳龙','sex':1},
				type:"post",
				dataType:"text",
				success:function(data){
					console.log(data);
				},
				error:function(){
					alert("User or password error!")
				}
			});
		}*/
		// function login(){
		// 	$.ajax({
		// 		url:"${projectPath}/authservice/auth/oauth/token",
		// 		data:$('#reply_form').serializeArray(),
		// 		type:"post",
		// 		dataType:"json",
		// 		success:function(data){
		// 			/*$.ajax({
		// 				url:"${projectPath}/loginSession?access_token="+data.access_token+"&accessToken="+data.access_token+"&rdirectUrl="+$('#rdirect_url').val(),
		// 				type:"get",
		// 				success:function(data){
		// 					alert(data)
		// 				}
		// 			});*/
		// 			var a = $("<a>");
		// 			a.attr("href","${projectPath}/loginSession?access_token="+data.access_token+"&accessToken="+data.access_token+"&rdirectUrl="+$('#rdirect_url').val());
		// 			a[0].click();
		// 			//window.location.href = "${projectPath}/loginSession?access_token="+data.access_token+"&accessToken="+data.access_token+"&rdirectUrl="+$('#rdirect_url').val();
		// 		},
		// 		error:function(){
		// 			alert("User or password error!")
		// 		}
		// 	});
		// }

		function login(){
			$.ajax({
				url:"${projectPath}/web/authUserLogin",
				data:$('#reply_form').serializeArray(),
				type:"post",
				dataType:"json",
				success:function(data){
					if(data.success){
						window.location.href = data.extend.data.rdirectUrl;
					}
				},
				error:function(){
					alert("User or password error!")
				}
			});
		}
	</script>
<script src="../js/contact_custom.js"></script>
</div>
</body>

</html>