<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lottery - Home</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="RanGO Project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 头部引用 -->

	<!-- 公共style -->
	<%
	include("common.css.html"){}
	%>
	<link rel="stylesheet" type="text/css" href="../styles/portfolio_styles1.css">
	<link rel="stylesheet" type="text/css" href="../styles/portfolio_responsive1.css">
	<link rel="stylesheet" type="text/css" href="../styles/main_styles1.css">
	<link rel="stylesheet" type="text/css" href="../styles/responsive1.css">
</head>
<!-- 公共js -->
<%
include("common.js.html"){}
%>
<script src="../js/portfolio_custom.js"></script>
<script>

	$(function(){
		//返回页面
		$(".back").click(function(){
			history.back();
		});
		var li = $(".lotteryPlay_li");
		li.click();
		$(".ul_draw_archive").scroll(function(){
			var $this =$(this),
			viewH =$(this).height(),//可见高度
			contentH =$(this).get(0).scrollHeight,//内容高度
			scrollTop =$(this).scrollTop();//滚动高度
			console.log("viewH:"+viewH);
			console.log("contentH:"+contentH);
			console.log("scrollTop:"+scrollTop);
			if(scrollTop/(contentH -viewH) >= 0.95){ //当滚动到距离底部5%时
				var li = '<hr><li class="draw_archive_info" data-id="'+contentH+'" style="top: 0px;"> '+
						'<div class="item-link item-content draw-archive-item"> '+
						'<div>#'+contentH+'</div> '+
						'<div><span class="span_right">2018.03.08 08:00</span><span>100ETH</span></div> '+
						'<div><p>2 3 5 7 8 4</p></div> '+
						'</div> '+
						'</li> ';
				$(".ul_draw_archive").append(li);
			}
		});

		$(".lottery_play_div_element").click(function(){
			var div_up = $(this).parent();
			div_up.find(".lottery_play_div_element").removeClass("lottery_play_div_element_select");
			$(this).addClass("lottery_play_div_element_select");
			var dataNumber = div_up.attr("data-number");
			$(".lottery_play_"+dataNumber).html($(this).find("span").html());
		});
	})
	function numner_add_or_aubtract(number){
		var old_number = $(".input_number").val() || '1';
		old_number = old_number.replace(/[^0-9]/ig,"");
		var new_number = parseInt(old_number);
		if(new_number <= 1 && (number == -1 || number == 0)){
			new_number = 1;
		}else {
			new_number = new_number + number;
		}
		$(".input_number").val(new_number);
	}
</script>
<style>
	.span_right{
		margin-right: 30px;
	}
	.ul_draw_archive{
		text-align: left;
		height: 475px;
		overflow: auto;
	}
	.draw_archive_info{cursor: pointer;}
	.lottery_play_div{
		padding: 5px 15px;
	}
	.lottery_play_div_1{
		padding: 5px 15px;
		text-align: center;
		border: solid 1px #f1f1f1;;
		margin: 5px;
	}
	.lottery_play_div_element{
		width: 50px;
		height:50px;
		border: solid 2px #c6c8ca;
		border-radius: 50px;
		text-align: center;
		margin: 3px;
		display: inline-block;
		cursor: pointer;
	}
	.lottery_play_div_element_1{
		width: 50px;
		height:50px;
		border: solid 2px #c6c8ca;
		border-radius: 50px;
		text-align: center;
		margin: 3px;
		display: inline-block;
	}
	.span_element{
		font-size: 25px;
		color: black;
	}
	.lottery_play_div_element:hover{
		background: #9f88be;
		border: solid 2px #9f88be;
	}
	.lottery_play_div_element:checked{
		background: #9f88be;
		border: solid 2px #9f88be;
	}
	.lottery_play_div_element_select{
		background: #9f88be;
		border: solid 2px #9f88be;
	}
	.model_purchase{
		text-align: center;
		border-top: double 1px #9f88be;
		border-bottom: double 1px #9f88be;
		width: 80%;
	}
	.title_purchase{
		display: initial;
	}
	.button_purchase{
		display: initial;
	}
	.lottery_play_div_element_input{
		display: inline-block;
	}
	.input_number{
		width: 50px;
		height: 32px;
		text-align: center;
	}
	.a_button{
		border: solid 1px #999;
		height: 32px;
		display: inline-block;
		width: 15px;
		border-radius: 2px;
		cursor: pointer;
	}
	.model_purchase_button{
		text-align: center;
		cursor: pointer;
		top: 10px;
	}
	.model_purchase_button span{
		font-size: 25px;
		border: solid 1px;
		border-radius: 5px;
		padding: 5px 20px;
		margin-top: 10px;
	}

</style>
<body class="body_top" data-spy="scroll" data-target=".services_item_inner">

<div class="super_container">

	<!-- 引入头部文件 -->
	<%
		include("/top.html"){}
	%>
	<div class="home">
		<div class="home_title">
			<div class="next_section_scroll">
				<div class="next_section nav_links" data-scroll-to=".service_boxes">
					<i class="fas fa-chevron-down trans_200"></i>
					<i class="fas fa-chevron-down trans_200"></i>
				</div>
			</div>
		</div>
	</div>

	<!-- 玩法列表 -->

	<div class="services">

		<div class="portfolio_categories button-group filters-button-group">
			<ul>
				<li class="portfolio_category lotteryPlay_li" data-filter=".lotteryPlay" data-localize="base.lotteryPlay">Lottery Play</li>
				<li class="portfolio_category" data-filter=".rules" data-localize="base.rules">Rules</li>
				<li class="portfolio_category" data-filter=".drawArchive" data-localize="base.drawArchive">Draw Archive</li>
			</ul>
		</div>

		<div class="product-grid">
			<!-- play -->
			<div class="lottery_item lotteryPlay">
				<div class="service_item_content">
					<div class="service_item_title">
						<h2 data-localize="base.lotteryPlay">Lottery Play</h2>
					</div>
					<div class="lottery_play_div">
						<div class="lottery_play_div_1" data-number="1">
							<div class="lottery_play_div_element">
								<span class="span_element">0</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">1</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">2</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">3</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">4</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">5</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">6</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">7</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">8</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">9</span>
							</div>
						</div>
						<div class="lottery_play_div_1" data-number="2" >
							<div class="lottery_play_div_element">
								<span class="span_element">0</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">1</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">2</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">3</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">4</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">5</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">6</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">7</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">8</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">9</span>
							</div>
						</div>
						<div class="lottery_play_div_1" data-number="3">
							<div class="lottery_play_div_element">
								<span class="span_element">0</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">1</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">2</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">3</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">4</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">5</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">6</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">7</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">8</span>
							</div>
							<div class="lottery_play_div_element">
								<span class="span_element">9</span>
							</div>
						</div>
					</div>
					<div>
						<div class="model_purchase">
							<div class="lottery_play_div_element_1">
								<span class="span_element lottery_play_1">0</span>
							</div>
							<div class="lottery_play_div_element_1">
								<span class="span_element lottery_play_2">0</span>
							</div>
							<div class="lottery_play_div_element_1">
								<span class="span_element lottery_play_3">0</span>
							</div>
							<div class="lottery_play_div_element_input">
								<span>您選擇了</span>
								<a onclick="numner_add_or_aubtract(-1)" class="a_button">-</a><input value="1" class="input_number" onchange="numner_add_or_aubtract(0)"><a onclick="numner_add_or_aubtract(1)"  class="a_button">+</a>
								<span>注</span>
							</div>
						</div>
						<div class="model_purchase_button">
							<div class="button_purchase"><span>購買</span></div>
						</div>
					</div>
				</div>
			</div>
			<!-- 规则 -->
			<div class="lottery_item rules">
				<div class="service_item_content">
					<div class="service_item_title">
						<h2 data-localize="base.rules">Rules</h2>
					</div>
				</div>
				<p class="rules_participation_content">To participate in the lottery, you need to choose 4 numbers from 1 to 20 in your lottery ticket, or select the magic wand icon to allow the random number generator to choose the numbers for you. The number of tickets that you can buy is almost unlimited. However, using automated software tools for buying tickets or filling them out is prohibited.</p>
				<p>
					<b data-locale="rules_tickets_purchase">Ticket Purchase</b>
				</p>
				<p data-locale="rules_tickets_purchase_content">As of the date of lottery launch, the price of one ticket is approximately USD $2 based on the average exchange rate to Ethereum on the day of ticket purchase. The ticket price may be changed in the future.</p>
				<p data-locale="rules_tickets_purchase_content2">Players pay for tickets in Ethereum using their cryptocurrency wallets. This ensures that all payments are safe. Players also have to pay for gas (a transaction fee for using the Ethereum network). The average amount of gas the player will have to pay for buying one lottery ticket using Ethereum is about GAS 170,000. The transactional costs of transferring lottery winnings are covered by the organizers. Once purchased, tickets cannot be exchanged or returned.</p>
				<p>
					<b data-locale="rules_distributions_funds">Distribution of Funds</b>
				</p>
				<p data-locale="rules_distributions_funds_content">Funds collected from ticket sales for each drawing are distributed as follows: 70% goes to the Prize Pool for the current drawing; 15% is used to cover advertising, marketing and legal expenses; 10% is paid in commissions to the holders of FLOT tokens; 5% are used to cover technical expenses (gas) for transferring lottery winnings.</p>
				<p>
					<b data-locale="jackpot">Jackpot</b>
				</p>
				<p class="rules_jackpot_content">33% of the Prize Pool (Category 4) are always rolled over to the jackpot pool for the following drawing. The jackpot built up over the previous drawings is divided between the owners of the tickets with 4 matching numbers. If there are no such tickets, the current jackpot is rolled over to the jackpot for the following drawing.</p>
				<p class="rules_jackpot_content2">The 4x20 Fire Lotto lottery has a minimum guaranteed Jackpot of USD 2000 in terms of the average exchange rate to Ethereum as of the current date. If the Jackpot won is less than the minimum guaranteed jackpot, the Reserve Fund will be used to compensate the difference. After that, all the funds intended to build up the jackpot for the following drawings will be first used to replenish the Reserve Fund. Initially, the Reserve Fund is funded from the amount of money collected for the Jackpot as well as funds contributed by the organizers.</p>
				<p class="">
					<b data-locale="rules_prize_pool">Prize Pool</b>
				</p>
				<p data-locale="rules_prize_pool_content">The Prize Pool for each drawing is calculated based on 70% of the ticket sales for that drawing. It is distributed according to the following chart depending on how many numbers are matched.</p>
				<table>
					<thead>
					<tr>
						<th><p data-locale="rules_guessed_numbers">Numbers Matched</p></th>
						<th><p data-locale="prize_pool_distribution">Prize Pool Distribution</p></th>
					</tr>
					</thead>
					<tbody id="distributionTable"><tr><td><p>4</p></td><td><p>33%</p></td></tr><tr><td><p>3</p></td><td><p>33%</p></td></tr><tr><td><p>2</p></td><td><p>34%</p></td></tr></tbody>
				</table>
				<p class="rules_prize_pool_content2">In Categories 2, 3, the sum is divided by the number of winners in the category. If there are no winners, the sum is rolled over to the Jackpot pool for the next drawing.</p>
				<p class="rules_prize_pool_content3">This means that the amount of winnings for matching 2, 3 numbers is calculated by the equation:</p>
				<p id="prizePoolForumla">Ticket sales for one drawing * 0.70 * 0.33 (0.34) / number of category winners</p>
				<p>
					<b data-locale="rules_frequency">Frequency</b>
				</p>
				<p data-locale="rules_frequency_content">Drawings are held every 24 hours. The time of the current drawing is indicated on the lottery ticket. Ticket sales end 1 hour before the drawing. After that time, any tickets purchased will be played in the following drawing.</p>
				<p>
					<b data-locale="rules_pay_winnings">Payment of winnings</b>
				</p>
				<p data-locale="rules_pay_winnings_content">After the drawing, the system automatically transfers the winnings in Ethereum to the cryptocurrency wallets that were used to purchase the winning tickets. Transaction fees (gas) will be paid at the expense of the lottery. It can take 30 minutes to several hours for the funds to be transferred to the winning cryptocurrency wallets.</p>
				<p>
					<b data-locale="rules_tax">Taxes</b>
				</p>
				<p data-locale="rules_tax_content">Fire Lotto does not act as a tax agent. The responsibility to pay taxes lies with the owner of the cryptocurrency wallet to which the winnings were transferred.</p>
				<p>
					<b data-locale="rules_agreement">Agreement</b>
				</p>
				<p data-locale="rules_agreement_content" class="">By participating in the lottery, you agree to the lottery rules. By purchasing the lottery tickets, you guarantee that you are 18 years of age and/or you have reached the minimum age for legally participating in the lottery in your country of residence.</p>
			</div>
			<!-- 开奖记录 -->
			<div class="lottery_item drawArchive">
				<div class="service_item_content">
					<div class="service_item_title">
						<h2 data-localize="base.drawArchive">Draw archive</h2>
					</div>
						<ul class="ul_draw_archive services_item_inner-1">
							<li class="draw_archive_info" data-id="76" style="top: 0px;">
								<div class="item-link item-content draw-archive-item">
									<div>#76</div>
									<div><span class="span_right">2018.03.08 08:00</span><span>100ETH</span></div>
									<div><p>2 3 5 7 8 4</p></div>
								</div>
							</li>
							<hr>
							<li class="draw_archive_info" data-id="76" style="top: 0px;">
								<div class="item-link item-content draw-archive-item">
									<div>#76</div>
									<div><span class="span_right">2018.03.08 08:00</span><span>100ETH</span></div>
									<div><p>2 3 5 7 8 4</p></div>
								</div>
							</li>
							<hr>
							<li class="draw_archive_info" data-id="76" style="top: 0px;">
								<div class="item-link item-content draw-archive-item">
									<div>#76</div>
									<div><span class="span_right">2018.03.08 08:00</span><span>100ETH</span></div>
									<div><p>2 3 5 7 8 4</p></div>
								</div>
							</li>
							<hr>
							<li class="draw_archive_info" data-id="76" style="top: 0px;">
								<div class="item-link item-content draw-archive-item">
									<div>#76</div>
									<div><span class="span_right">2018.03.08 08:00</span><span>100ETH</span></div>
									<div><p>2 3 5 7 8 4</p></div>
								</div>
							</li>
							<hr>
							<li class="draw_archive_info" data-id="76" style="top: 0px;">
								<div class="item-link item-content draw-archive-item">
									<div>#76</div>
									<div><span class="span_right">2018.03.08 08:00</span><span>100ETH</span></div>
									<div><p>2 3 5 7 8 4</p></div>
								</div>
							</li>
							<hr>
							<li class="draw_archive_info" data-id="76" style="top: 0px;">
								<div class="item-link item-content draw-archive-item">
									<div>#76</div>
									<div><span class="span_right">2018.03.08 08:00</span><span>100ETH</span></div>
									<div><p>2 3 5 7 8 4</p></div>
								</div>
							</li>
							<hr>
							<li class="draw_archive_info" data-id="76" style="top: 0px;">
								<div class="item-link item-content draw-archive-item">
									<div>#76</div>
									<div><span class="span_right">2018.03.08 08:00</span><span>100ETH</span></div>
									<div><p>2 3 5 7 8 4</p></div>
								</div>
							</li>
						</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 引入底部文件 -->
	<%
	include("bottom.html"){}
	%>

</div>
</body>
</html>