<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lottery - Home</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="RanGO Project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 公共style -->
	<%
	include("common.css.html"){}
	%>
	<link rel="stylesheet" type="text/css" href="../styles/main_styles1.css">
	<link rel="stylesheet" type="text/css" href="../styles/responsive1.css">
	<link rel="stylesheet" type="text/css" href="../styles/portfolio_styles.css">
	<link rel="stylesheet" type="text/css" href="../styles/portfolio_responsive.css">
</head>
<!-- 公共js -->
<%
include("common.js.html"){}
%>
<script src="../js/portfolio_custom.js"></script>
<script src="../js/lotteryshop/person_center.js"></script>

<style>

	.draw_personal_lottery{cursor: pointer;}
	.draw_personal_back{cursor: pointer;text-align: center;border: solid;}
	.span_title{
		width:30px;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
	}
	.personal_center{
		font-size: 16px;
		font-family: none;
		border-bottom: solid;
	}
	.select_search{
		width: 20%;
		border-radius: 2px;
		margin-top: 15px;
		height: 38px;
		border: 1px solid #ccc;
		background-color: white;
	}
	.search_div{
		padding-left: 1.25rem;
		margin-left: 10px;
		width: 100%;
	}
	.search_button{
		line-height:1;
	}
	.layui-input{
		display: inline;
		width: 20%;
	}
	.ul_wallet_module{
        border-radius: 5px;
        /*background: #ddd;*/
        width: 100%;
        height: 50px;
    }
    .li_wallet_module{
        float: left;
        width: 33%;
        height: 100%;
        line-height: 50px;
        text-align: center;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 2px;
    }
    .li_wallet_module_right{
        border: none;
    }
	.head_img{
		margin-left: 2%;
		margin-bottom: 15px;
		display: inline-block;
	}
	.layui_head{
		display: inline-block;
		/*text-align: center;*/
	}
	.head_img_width{
		width: 30%;
	}
	.btn_head_button{
		width: 100%;
	}
	.layui_title{
		text-align: left;
		padding-left: 10px;
		background: #dddddd;
		margin-bottom: 15px;
	}
	.img_change_border{
		box-shadow: 0 0 15px;
	}
	.wallet_password_input{
		width: 98%;
		margin-bottom: 15px;
	}
	.button_display{
		display: block;
		width: 50%;
		text-align: center;
		margin: 0 auto;
		margin-top: 10px;
	}
	.div_btn{

	}
	.wallet_extract_wallet{
		width: 60%;
	}
	.eth_record{
		width: 60%;
	}
	.wallet_head{
		background: #f8f9fa;
		border-radius: 5px;
		padding: 5px;
	}
	.wallet_head span{
		color: #868e96;
		font-weight: 600;
	}
	.span_right{
		margin-right: 50px;
	}
</style>
<script>
	$(function(){
		gengeralizeMemberInit();
	})
</script>
<body class="body_top">

<div class="super_container">

	<!-- 引入头部文件 -->
	<%
	include("/index_top.html"){}
	%>
	<!-- Home -->

	<div class="portfolio">
		<div class="container container_left">
			<div class="row">
				<div class="col">
					<div class="portfolio_items">
						<div class="person_center card">
							<div class="person_center_module">
								<div class="card-title">
									<img onclick="changePicture()" class="img_head" src="${loginUser.headPortraitUrl!defaultHeadImg}">
									<span class="span_title" title="${loginUser.memberName!''}">${loginUser.memberName!''}</span>
								</div>
								<div class="card-text">
									<!--<p class="p_wallet_module" ><span>Grade:100</span><span>Gold Club</span></p>
									<p class="p_wallet_module"><span>ETH:10ETH</span><span>gold:1000DB</span></p>-->
									<ul class="ul_wallet_module">
										<li class="li_wallet_module" data-class="wallet_eth">ETH <span>&nbsp;&nbsp;> </span></li>
										<li class="li_wallet_module" data-class="wallet_flat" data-localize="base.flat">Flat<span>&nbsp;&nbsp;> </span></li>
										<li class="li_wallet_module li_wallet_module_right" data-class="wallet_bind" data-localize="base.wallet">Wallet<span>&nbsp;&nbsp;></span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="portfolio_categories button-group filters-button-group">
						<ul class="personal_li">
							<li class="portfolio_category draw_personal_lottery personal_center" data-filter=".none" data-localize="base.personalCenter">personal center</li>
							<li class="portfolio_category draw_personal_lottery wallet_li" data-filter=".walletETH">ETH</li>
							<li class="portfolio_category draw_personal_lottery wallet_li" data-filter=".walletFLAT" data-localize="base.flat">Flat</li>
							<li class="portfolio_category portfolio_category_bottom" data-filter=".wallet" data-localize="base.wallet">Wallet</li>
							<hr>
							<li class="portfolio_category draw_personal_lottery portfolio_category_bottom" data-filter=".web_design" data-localize="base.lotteryRecord">lottery record</li>
							<hr>
							<li class="portfolio_category draw_personal_lottery" data-filter=".generalize" data-localize="base.generalize">generalize</li>
							<li class="portfolio_category draw_personal_lottery" data-filter=".generalizeRecord" data-localize="base.generalizeRecord">generalize record</li>
							<li class="portfolio_category draw_personal_lottery portfolio_category_bottom" data-filter=".generalizePersonal" data-localize="base.generalizePersonnel">generalize personnel</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div  class="container container_right product-grid">
			<!-- 购买彩票记录和中奖记录 -->
			<div class="search_div web_design">
				<input type="text" class="input_class layui-input" placeholder="start：yyyy-MM-dd" id="startDate">
				<input type="text" class="input_class layui-input" placeholder="end：yyyy-MM-dd" id="endDate">
				<select class="select_search">
					<option>全部类型</option>
					<option>类型--1</option>
					<option>全部--2</option>
				</select>
				<button class="btn">查询</button>
				<hr>
			</div>
			<hr class="web_design">
			<div class="card card-1 card-1_scroll web_design">
				<div class="card-body">
					<ul class="ul_personal_lottery">
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
					</ul>
				</div>
				<hr>
			</div>
			<!-- ETH 记录 -->
			<div class="card card-1 card-1_scroll walletETH">
				<div class="card-body">
					<div class="eth_record">
						<div class="wallet_head">
							<p><span class="wallet_span_title">Net assets</span></p>
							<p><span class="wallet_span_total">10000 ≈ 5ETH</span></p>
							<p><span class="span_right"> ETH : 5ETH </span> <span> FLAT : 1000 </span></p>
						</div>
						<ul class="ul_personal_lottery">
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
					</ul>
					</div>
				</div>
			</div>
			<!-- FLAT 记录 -->
			<div class="card card-1 card-1_scroll walletFLAT">
				<div class="card-body">
					<div class="eth_record">
						<div class="wallet_head">
							<p><span class="wallet_span_title">Net assets</span></p>
							<p><span class="wallet_span_total">10000 ≈ 5ETH</span></p>
							<p><span class="span_right">FLAT : 1000  </span> <span> ETH : 5ETH </span></p>
						</div>
						<ul class="ul_personal_lottery">
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
							<li>
								<div>
									<p><span>2018.01.01 00:00:00</span></p>
									<p>
										<span class="span_left">extract：1000</span>
										<span>residue ：323</span>
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 推广主页 -->
			<div class="card generalize">
				<div class="wallet_left">
					<div class="wallet_extract">
						<img src="../api/base/v1/member/generalizeInit">
					</div>
					<div class="wallet_extract">
						<p>推广说明：</p>
						<p>推广分为两种推广模式，一种为三层模式，另一种为七层模式</p>
						<p>三层模式说明：xxxxxx</p>
						<p>七层模式说明：xxxxxx</p>
						<p>收益说明：</p>
					</div>
				</div>
			</div>
			<!-- 推广人員 -->
			<div class="card card-1 card-1_scroll generalizePersonal">
				<div class="card-body">
					<ul class="ul_personal_lottery">


					</ul>
				</div>
			</div>
			<!-- 推广收益 -->
			<div class="card card-1 card-1_scroll generalizeRecord">
				<div class="card-body">
					<ul class="ul_personal_lottery">
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<!-- 钱包 包括绑定地址和提现功能 -->
			<div class="card wallet wallet_piece">
				<div class="wallet_left">
					<div class="wallet_extract wallet_extract_wallet">
						<%
							if(has(loginUser)){
						%>
								<div class="wallet_address_self">
									<p><span class="title_span_1">wallet address</span></p>
									<p><span>${loginUser.PAddress!"error"}</span></p>
									<input class="input_class_2 wallet_password_input" type="text" name="update_bAddress" placeholder="wallet address">
									<div class="div_btn">
										<a class="wallet_button button_display" href="#" onclick="update_confirm()">Update</a>
									</div>
								</div>
								<% }else{ %>
								<div class="wallet_extract">
									<input class="input_class_2 wallet_password_input" type="text" id="bAddress" name="bAddress" placeholder="wallet address">
									<input class="input_class_2 wallet_password_input" type="password" id="paymentCode" name="paymentCode" placeholder="password">
									<input class="input_class_2 wallet_password_input" type="password" id="paymentCodeConfirm" name="paymentCodeConfirm" placeholder="confirm password">
									<div class="div_btn">
										<a onclick="create_confirm()" href="#" class="wallet_button button_display">confirm</a>
									</div>
								</div>
						<%
							}
						%>
					</div>
				</div>
			</div>
		</div>
		<!-- 手机列表 -->
		<div class="container container_phone">
			<div class="phone_piece">
				<div class="personal_phone" data-file="lottery_record">
					<img src="../images/phone_js.png">
					<div>
						<span>lottery record</span>
					</div>
				</div>
				<div class="personal_phone" data-file="generalize">
					<img src="../images/phone_js.png">
					<div>
						<span>generalize</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 头像弹框 -->
	<div class="layui_head" style="display: none">
		<div class="layui_title">
			<span>头像</span>
		</div>
		<div class="div_head_images">
			<!-- 头像列表 -->
		</div>
		<button class="btn btn_head_button" onclick="img_change_button()" >更改</button>
	</div>
	<!-- 引入底部文件 -->
	<%
	include("bottom.html"){}
	%>

</div>
</body>

</html>