<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lottery - Home</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="RanGO Project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 公共style -->
	<%
	include("common.css.html"){}
	%>
	<link rel="stylesheet" type="text/css" href="../styles/main_styles1.css">
	<link rel="stylesheet" type="text/css" href="../styles/responsive1.css">
	<link rel="stylesheet" type="text/css" href="../styles/portfolio_styles.css">
	<link rel="stylesheet" type="text/css" href="../styles/portfolio_responsive.css">
</head>
<!-- 公共js -->
<%
include("common.js.html"){}
%>
<script src="../js/portfolio_custom.js"></script>

<style>

	.draw_personal_lottery{cursor: pointer;}
	.draw_personal_back{cursor: pointer;text-align: center;border: solid;}
	.span_title{
		width:30px;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
	}
	.personal_center{
		font-size: 16px;
		font-family: none;
		border-bottom: solid;
	}
	.select_search{
		width: 20%;
		border-radius: 2px;
		margin-top: 15px;
		height: 38px;
		border: 1px solid #ccc;
		background-color: white;
	}
	.search_div{
		padding-left: 1.25rem;
		margin-left: 10px;
		width: 100%;
	}
	.search_button{
		line-height:1;
	}
	.layui-input{
		display: inline;
		width: 20%;
	}
	.ul_wallet_module{
        border-radius: 5px;
        /*background: #ddd;*/
        width: 100%;
        height: 50px;
    }
    .li_wallet_module{
        float: left;
        width: 33%;
        height: 100%;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 3px;
    }
    .li_wallet_module_right{
        border: none;
    }
	.head_img{
		margin-left: 2%;
		margin-bottom: 15px;
		display: inline-block;
	}
	.layui_head{
		display: inline-block;
		/*text-align: center;*/
	}
	.head_img_width{
		width: 30%;
	}
	.btn_head_button{
		width: 100%;
	}
	.layui_title{
		text-align: left;
		padding-left: 10px;
		background: #dddddd;
		margin-bottom: 15px;
	}
	.img_change_border{
		border: solid;
	}
</style>
<script>
	$(function (){
		//初始化方法
		var li = $(".wallet_li");
		li.click();
		$(".card-1_scroll").scroll(function(){
			var $this =$(this),
					viewH =$(this).height(),//可见高度
					contentH =$(this).get(0).scrollHeight,//内容高度
					scrollTop =$(this).scrollTop();//滚动高度
			if(scrollTop/(contentH -viewH) >= 0.95){ //当滚动到距离底部5%时
				var li = '<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />'+
						'<li>'+
						'<div>'+
						'<p><span>Lottery type</span><span>#'+contentH+'</span></p>'+
						'<p>'+
						'<span>2018.01.01 00:00:00</span>'+
						'<span>2 4 6 3 2 7</span>'+
						'<span>2 5 6 0 2 8</span>'+
						'<span>3ETH</span>'+
						'</p>'+
						'</div>'+
						'</li>';
				$(".ul_personal_lottery").append(li);
			}
		});




		//昵称标签超出长度显示省略号
		var span_title = $(".span_title").html();
		if (span_title.length > 15) {
			//截取固定长度
			var span_title = span_title.substring(0, 15);
			//为非隐藏<span>标签赋值--截取固定长度
			$(".span_title").text(span_title+"...");
		} else {
			$(".span_title").text(span_title);
		}
		//屏幕分辨率小于991的初始化方法
		$(".personal_phone").click(function(){
			var type = $(this).attr("data-file") || "";
			if(type){
				$(location).prop('href','./phoneType?'+"type="+type);
			}
		});
		layui.use('laydate', function(){
			var laydate = layui.laydate;
			laydate.render({
				elem: '#startDate'
			});
		});
		layui.use('laydate', function(){
			var laydate = layui.laydate;
			laydate.render({
				elem: '#endDate'
			});
		});
	})

	function changePicture(){
		layer.open({
			type: 1,
			title: false,
			closeBtn: 0,
			shadeClose: true,
			content: $(".layui_head")
		});
	}

	function img_change(e){
		$(".img_change").removeClass("img_change_border");
		$(e).addClass("img_change_border");
	}

	function img_change_button(){
		var src = $(".img_change_border").attr("src");
		$.ajax({
			type: "get",
			url: "/apiauthorization/base/v1/authorization/member/headPortrait",
			data:data_array,
			dataType: "json",
			success:function (data){
				if(data.code == '200'){//注册成功

				}
				if(data.code == '500'){//注册失败

				}
				layer.msg(data.msg);
			}
		})
	}

	//获取头像列表
	function div_head_images(){
		var divImages = $(".div_head_images");
		$.ajax({
			type: "post",
			url: "/api/base/v1/authorization/member/headPortrait",
			dataType: "json",
			success:function (result){
				console.log(data)
				if(data.code == '200'){//注册成功
					$.each(result,function(index,data){
						var div_image = '<div  class="head_img head_img_width">' +
								'<img class="img_change" onclick="img_change(this)" src="'+data.url+'">' +
								'</div>';
						divImages.append(div_image);
					})
				}
			}
		})
	}


</script>
<body class="body_top">

<div class="super_container">

	<!-- 引入头部文件 -->
	<%
	include("/index_top.html"){}
	%>
	<!-- Home -->

	<div class="portfolio">
		<div class="container container_left">
			<div class="row">
				<div class="col">
					<div class="portfolio_items">
						<div class="person_center card">
							<div class="person_center_module">
								<div class="card-title">
									<img onclick="changePicture()" src="../images/head/tx.jpg">
									<span class="span_title" title="The luckiest man">The luckiest man</span>
								</div>
								<div class="card-text">
									<p class="p_wallet_module" ><span>Grade:100</span><span>Gold Club</span></p>
									<p class="p_wallet_module"><span>ETH:10ETH</span><span>gold:1000DB</span></p>
									<ul class="ul_wallet_module">
										<li class="li_wallet_module">ETH <span>&nbsp;&nbsp;> </span></li>
										<li class="li_wallet_module">FLAT<span>&nbsp;&nbsp;> </span></li>
										<li class="li_wallet_module li_wallet_module_right">wallet<span>&nbsp;&nbsp;></span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="portfolio_categories button-group filters-button-group">
						<hr>
						<ul class="personal_li">
							<li class="portfolio_category draw_personal_lottery personal_center" data-filter=".none">personal center</li>
							<li class="portfolio_category draw_personal_lottery wallet_li" data-filter=".wallet">wallet</li>
							<li class="portfolio_category portfolio_category_bottom" data-filter=".walletManagement">wallet management</li>
							<hr>
							<li class="portfolio_category draw_personal_lottery portfolio_category_bottom" data-filter=".web_design">lottery record</li>
							<hr>
							<li class="portfolio_category draw_personal_lottery" data-filter=".generalize">generalize</li>
							<li class="portfolio_category draw_personal_lottery" data-filter=".generalizeRecord">generalize record</li>
							<li class="portfolio_category draw_personal_lottery portfolio_category_bottom" data-filter=".generalizeEarnings">generalize earnings</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div  class="container container_right product-grid">
			<!-- 购买彩票记录和中奖记录 -->
			<div class="search_div web_design">
				<input type="text" class="input_class layui-input" placeholder="start：yyyy-MM-dd" id="startDate">
				<input type="text" class="input_class layui-input" placeholder="end：yyyy-MM-dd" id="endDate">
				<select class="select_search">
					<option>全部类型</option>
					<option>类型--1</option>
					<option>全部--2</option>
				</select>
				<button class="btn">查询</button>
				<hr>
			</div>
			<hr class="web_design">
			<div class="card card-1 card-1_scroll web_design">
				<div class="card-body">
					<ul class="ul_personal_lottery">
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>Lottery type</span><span>#32423</span></p>
								<p>
									<span>2018.01.01 00:00:00</span>
									<span>2 4 6 3 2 7</span>
									<span>2 5 6 0 2 8</span>
									<span>3ETH</span>
								</p>
							</div>
						</li>
					</ul>
				</div>
				<hr>
			</div>
			<!-- 钱包提币记录 -->
			<div class="card card-1 card-1_scroll walletManagement">
				<div class="card-body">
					<ul class="ul_personal_lottery">
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span>2018.01.01 00:00:00</span></p>
								<p>
									<span class="span_left">extract：1000</span>
									<span>residue ：323</span>
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 推广主页 -->
			<div class="card generalize">
				<div class="wallet_left">
					<div class="wallet_extract">
						<img src="../images/person.jpg">
					</div>
					<div class="wallet_extract">
						<p>推广说明：</p>
						<p>推广分为两种推广模式，一种为三层模式，另一种为七层模式</p>
						<p>三层模式说明：xxxxxx</p>
						<p>七层模式说明：xxxxxx</p>
						<p>收益说明：</p>
					</div>
				</div>
			</div>
			<!-- 推广记录 -->
			<div class="card card-1 card-1_scroll generalizeRecord">
				<div class="card-body">
					<ul class="ul_personal_lottery">
						<li>
							<div>
								<p><span class="span_title">张三</span></p>
								<p>
									<span>推广类型：三层推广</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title">张三</span></p>
								<p>
									<span>推广类型：三层推广</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title">张三</span></p>
								<p>
									<span>推广类型：三层推广</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title">张三</span></p>
								<p>
									<span>推广类型：三层推广</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title">张三</span></p>
								<p>
									<span>推广类型：三层推广</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title">张三</span></p>
								<p>
									<span>推广类型：三层推广</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title">张三</span></p>
								<p>
									<span>推广类型：三层推广</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title">张三</span></p>
								<p>
									<span>推广类型：三层推广</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title">张三</span></p>
								<p>
									<span>推广类型：三层推广</span>
								</p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title">张三</span></p>
								<p>
									<span>推广类型：三层推广</span>
								</p>
							</div>
						</li>

					</ul>
				</div>
			</div>
			<!-- 推广收益 -->
			<div class="card card-1 card-1_scroll generalizeEarnings">
				<div class="card-body">
					<ul class="ul_personal_lottery">
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
						<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						<li>
							<div>
								<p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
								<p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
								<p><span class="span_left">winners:张三</span> <span>winning numbers: 2 4 5 6 7</span></p>
								<p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<!-- 钱包 包括绑定地址和提现功能 -->
			<div class="card wallet wallet_piece">
				<div class="wallet_left">
					<div class="wallet_extract">
						<p>Binding the purse：</p>
						<div class="wallet_binding">
							<p>wallet address :
								http://xxxxxxxxxxxxxxxxxxxxxxxxxxx <a class="wallet_button update_wallet_button" href="#">update</a>
							</p>
							<div class="binding_purse">
								<input class="input_class_2" type="text">
								<a class="wallet_button" href="#">Binding the purse</a>
							</div>
						</div>
					</div>
					<div class="wallet_extract">
						<p>Prepaid wallet address：fjkaldjfkajdskfsdfnasjdflkajdsfjad</p>
						<div>
							<input class="input_class_2" type="number" placeholder="amount">
							<a class="wallet_button" href="#">extract</a>
						</div>
					</div>
					<div class="wallet_right wallet_extract">
						<p>提币规则：</p>
						<p>到币时间为1~2个工作日,实际到币时间请以具体到币时间为准</p>
						<p>10000个金币可兑换一个1/ETH</p>
						<p>操作时请核对好钱包地址</p>
					</div>
				</div>
			</div>
		</div>
		<!-- 手机列表 -->
		<div class="container container_phone">
			<div class="phone_piece">
				<div class="personal_phone" data-file="wallet">
					<img src="../images/phone_js.png">
					<div>
						<span>wallet</span>
					</div>
				</div>
				<div class="personal_phone" data-file="lottery_record">
					<img src="../images/phone_js.png">
					<div>
						<span>lottery record</span>
					</div>
				</div>
				<div class="personal_phone" data-file="generalize">
					<img src="../images/phone_js.png">
					<div>
						<span>generalize</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 头像弹框 -->
	<div class="layui_head" style="display: none">
		<div class="layui_title">
			<span>头像</span>
		</div>
		<div class="div_head_images">
			<!--<div class="head_img head_img_width">
				<img class="img_change" onclick="img_change(this)" src="../images/tx.jpg">
			</div>
			<div  class="head_img head_img_width">
				<img class="img_change" onclick="img_change(this)" src="../images/tx.jpg">
			</div>
			<div class="head_img head_img_width">
				<img class="img_change" onclick="img_change(this)" src="../images/tx.jpg">
			</div>
			<div class="head_img head_img_width">
				<img class="img_change" onclick="img_change(this)" src="../images/tx.jpg">
			</div>-->
		</div>
		<button class="btn btn_head_button" onclick="img_change_button()" >确认</button>
	</div>
	<!-- 引入底部文件 -->
	<%
	include("bottom.html"){}
	%>

</div>
</body>

</html>