<!-- Header -->

<header id="header_load" class="header d-flex flex-row justify-content-end align-items-center trans_200">

    <!-- Logo -->
    <div class="logo mr-auto">
        <a class="back" href="#"><span>&lt; Back</span></a>
    </div>

    <!-- Navigation -->
    <nav class="main_nav justify-self-end text-right">
       <!-- <div class="top_div">
            <div class="search_content d-flex flex-column align-items-center justify-content-center">
                <% if(top_login){ %>
                <div class="top_center_span">
                    <span>2019-09-26 00:00:00</span><br/>
                    <span>Welcome，<a href="./personalCenter">sanZ</a></span>
                </div>
                <% }else{ %>
                <div class="top_login_span">
							<span>
								<a href="./login">Login&lt;!&ndash;{zh-TW}登录&ndash;&gt;</a><span> / </span><a href="./register">Register</a>
							</span>
                </div>
                <% } %>
            </div>
            <div>
                <select class="language_select_onchange">
                    <option class="select_option" value="zh-TW">Chinese (Traditional)</option>
                    <option class="select_option" value="en" selected="selected">English</option>
                    <option class="select_option" value="jp">Japanese</option>
                    <option class="select_option" value="da">Danish</option>
                </select>
            </div>
        </div>-->
    </nav>

   <!-- <div class="hamburger_container_language">
        <select class="language_select_onchange">
            <option class="select_option" value="zh-TW">Chinese (Traditional)</option>
            <option class="select_option" value="en" selected="selected">English</option>
            <option class="select_option" value="jp">Japanese</option>
            <option class="select_option" value="da">Danish</option>
        </select>
    </div>-->
    <!-- Hamburger -->
   <!-- <div class="hamburger_container">
        <i class="fas fa-bars trans_200"></i>
    </div>-->
    <div id="google_translate_element" style="display: none;"></div>
    <!--<div id="google_translate_element"></div>-->
</header>
<!--<div class="menu_container">
    <div class="menu menu_mm text-right">
        <div class="menu_close"><i class="far fa-times-circle trans_200"></i></div>
        <ul class="menu_mm">
            <li><a href="./index">Home</a></li>
            <li><a href="./playTheLottery">Play The Lottery</a></li>
            <% if(top_login){ %>
            <li><a href="./personalCenter"><span>sanZ ,个人中心</span></a></li>
            <% } else { %>
            <li class="menu_mm"><a href="./login">Login</a></li>
            <li class="menu_mm"><a href="./register">Register</a></li>
            <% } %>
        </ul>
    </div>
</div>-->
<!--<script src="../js/language_select.js"></script>-->
<script src="https://translate.google.cn/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="../js/language_cookie.js"></script>
<script>
    function googleTranslateElementInit() {

        new google.translate.TranslateElement(
            {
                //这个是当前页面的原语言，便于插件精确翻译
                pageLanguage: 'en',
                //这个是你需要翻译的语言，比如你只需要翻译成越南和英语，这里就只写en,vi
                //includedLanguages: 'en,zh-TW,hr,cs,da,nl,fr,de,el,iw,hu,ga,it,ja,ko,pt,ro,ru,sr,es,th,vi',
                includedLanguages: 'ja,zh-TW,en,da',
                //选择语言的样式，这个是面板，还有下拉框的样式，具体的记不到了，找不到api~~
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                //自动显示翻译横幅，就是翻译后顶部出现的那个，有点丑，这个属性没有用的话，请看文章底部的其他方法
                autoDisplay: true,
                //还有些其他参数，由于原插件不再维护，找不到详细api了，将就了，实在不行直接上dom操作
            },
            'google_translate_element'//触发按钮的id
        );
    }
    $(function(){
        $(".language_select_onchange").change(function (){
            var language_select = $(this).val() || "";
            //获取浏览器的语言
            var browserLanguage = navigator.language.toLowerCase();
            var browserLanguage_array;
            console.log(browserLanguage);
            var language_ja = {ja:"日本語",da:"デンマーク語"};//日本
            var language_da = {ja:"Japansk",da:"Dansk"};//丹麦
            var name = "somoveLanguage";
            if(browserLanguage){
                switch (browserLanguage) {
                    case zh:
                        SetCookie(name, browserLanguage);
                        location.reload();
                        break;
                    case en:
                        SetCookie(name, browserLanguage);
                        location.reload();
                        break;
                    case ja:
                        browserLanguage_array = language_ja;
                        language_select = language_ja["language_select"];
                        break;
                    case da:
                        browserLanguage_array = language_da;
                        language_select = language_ja["language_select"];
                        break;
                    default:
                }
            }
            console.log(language_select);
            $("iframe.goog-te-menu-frame").contents().find("table").find("span.text").each(function(i,data){
                console.log($(this));
                console.log($(this).html())
                console.log($(this).parents("a").html());
                if($(this).html() == language_select){
                    //$(this).parents("a").click();
                    //$(this).parents("a").find("div").click();
                    $(this).click();
                    //$(this).parents("a").find("span.indicator").click();
                }
            })
        });
    })
</script>