<!DOCTYPE html>
<html lang="en">
<head>
    <!-- commonality  meta and title -->
    <%
    include("../../common/common.meta.html"){}
    %>
    <!-- commonality style -->
    <%
    include("../../common/common.css.html"){}
    %>
    <link rel="stylesheet" type="text/css" href="../styles/main_styles1.css">
    <link rel="stylesheet" type="text/css" href="../styles/responsive1.css">
    <link rel="stylesheet" type="text/css" href="../styles/portfolio_styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/portfolio_responsive.css">
</head>
<!-- commonality js -->
<%
include("../../common/common.js.html"){}
%>
<script src="../js/portfolio_custom.js"></script>
<script src="../js/lotteryshop/person_center.js"></script>
<script type="text/javascript">
    $(function(){
        $(".back").click(function(){
            history.back();
        });
        var languageType = getLanguage();
        if(languageType != 'zh'){
            languageType = 'en'
        }
        infoContentGenerlize(languageType);
        generalizeInitRegisterUrl();
    })
</script>
<style>
    .wallet_extract_generalize{
        height: auto !important;
    }
    .generalize_img{
        width: 100%;
    }
    .record_img{
        width: 30px;
    }
</style>
<body class="body_top">

<div class="super_container">

    <!-- commonality head -->
    <%
    include("../../common/top.html"){}
    %>
    <!-- Home -->


    <div class="base_head">
        <div class="wallet_phone">
            <div class="generalizeContent wallet_extract  wallet_extract_generalize">
                <!--<p>推广游戏可获得推广佣金，推广佣金层级为7层，包含消费佣金和中奖佣金两部分。</p>
                <p>1.当用户7层内下级产生消费时，该消费用户消费金额的5%作为消费佣金，回馈给该消费用户的7层内上级。</p>
                <p>2.当用户7层内下级产生中奖时，该中奖用户中奖金额的10%作为中奖佣金，回馈给该中奖用户的7层内上级。</p>
                <p>注：中奖佣金由平台单独支付，不影响中奖用户奖金金额。</p>-->
            </div>
            <div class="wallet_extract wallet_extract_generalize">
                <p><span class="generalizeEwmUrl"></span></p>
            </div>
            <div class="wallet_extract wallet_extract_generalize">
                <img class="record_img" src="../images/wallet_record.png">
                <a href="../web/personalGeneralizeRecord" data-localize="base.generalizePersonnel"></a>
                <span class="span_entrance"> > </span>
            </div>
            <div class="wallet_extract wallet_extract_generalize">
                <img class="record_img" src="../images/wallet_record.png">
                <a href="../web/generalizeStatistics" data-localize="base.generalizeStatistics"></a>
                <span class="span_entrance"> > </span>
            </div>
        </div>
    </div>

    <!-- commonality footer -->
    <%
    include("../../common/bottom.html"){}
    %>

</div>
</body>

</html>