<!DOCTYPE html>
<html lang="en">
<head>
    <!-- commonality  meta and title -->
    <%
        include("../../common/common.meta.html"){}
    %>
    <!-- commonality style -->
    <%
        include("../../common/common.css.html"){}
    %>
    <link rel="stylesheet" type="text/css" href="../styles/main_styles1.css">
    <link rel="stylesheet" type="text/css" href="../styles/responsive1.css">
    <link rel="stylesheet" type="text/css" href="../styles/portfolio_styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/portfolio_responsive.css">
</head>
<!-- commonality js -->
    <%
        include("../../common/common.js.html"){}
    %>
<script src="../js/portfolio_custom.js"></script>
<script>
    $(function(){
        $(".back").click(function(){
            history.back();
        });
        var window_height = document.documentElement.clientHeight;
        getHeigh();
        $(".card-1_scroll").scroll(function(){
            var $this =$(this),
                viewH =$(this).height() - 90,//Highly visible
                contentH =$(this).get(0).scrollHeight,//Content high
                scrollTop =$(this).scrollTop();//Scroll to height
            if(scrollTop/(contentH - viewH) >= 0.95){
                var li = '<li>'+
                    '<div>'+
                    '<p><span>Lottery type</span><span>#'+contentH+'</span></p>'+
                    '<p>'+
                    '<span>2018.01.01 00:00:00</span>'+
                    '<span>2 4 6 3 2 7</span>'+
                    '<span>2 5 6 0 2 8</span>'+
                    '<span>3ETH</span>'+
                    '</p>'+
                    '</div>'+
                    '</li>';
                $(".ul_personal_lottery").append(li);
            }
        });
    })
    function getHeigh(){
        var window_height = document.documentElement.clientHeight;
        $(".base_head").height(window_height-90);
    }



</script>
<style>
    li{
        margin: 5px;
        border-radius: 5px;
        background: #f8f9fa;
    }
    .base_head{
        padding-top: 90px;
        overflow: auto;
    }
    .span_title{
        font-size: 15px;
    }
    .span_left{
        margin-right: 30px;
    }
</style>
<body class="body_top">

<div class="super_container">

    <!-- commonality head -->
    <%
    include("../../common/top.html"){}
    %>
    <!-- Home -->


    <div class="base_head card-1 card-1_scroll">
        <ul class="ul_personal_lottery">
            <li>
                <div>
                    <p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
                    <p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
                    <p><span class="span_left">winners:ZS</span> <span>winning numbers: 2 4 5 6 7</span></p>
                    <p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
                </div>
            </li>
            <li>
                <div>
                    <p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
                    <p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
                    <p><span class="span_left">winners:ZS</span> <span>winning numbers: 2 4 5 6 7</span></p>
                    <p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
                </div>
            </li>
            <li>
                <div>
                    <p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
                    <p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
                    <p><span class="span_left">winners:ZS</span> <span>winning numbers: 2 4 5 6 7</span></p>
                    <p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
                </div>
            </li>
            <li>
                <div>
                    <p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
                    <p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
                    <p><span class="span_left">winners:ZS</span> <span>winning numbers: 2 4 5 6 7</span></p>
                    <p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
                </div>
            </li>
            <li>
                <div>
                    <p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
                    <p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
                    <p><span class="span_left">winners:ZS</span> <span>winning numbers: 2 4 5 6 7</span></p>
                    <p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
                </div>
            </li>
            <li>
                <div>
                    <p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
                    <p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
                    <p><span class="span_left">winners:ZS</span> <span>winning numbers: 2 4 5 6 7</span></p>
                    <p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
                </div>
            </li>
            <li>
                <div>
                    <p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
                    <p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
                    <p><span class="span_left">winners:ZS</span> <span>winning numbers: 2 4 5 6 7</span></p>
                    <p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
                </div>
            </li>
            <li>
                <div>
                    <p><span class="span_title span_left">2018.01.01 00:00:00</span> <span>earnings:100 </span></p>
                    <p><span class="span_left">lottery type:type1</span> <span>lottery number：2 4 8 6 7</span></p>
                    <p><span class="span_left">winners:ZS</span> <span>winning numbers: 2 4 5 6 7</span></p>
                    <p><span class="span_left">Pond：15ETH</span> <span>winning amount：5ETH</span></p>
                </div>
            </li>
        </ul>
    </div>

    <!-- commonality footer -->
    <!--<%
    include("../../common/bottom.html"){}
    %>-->

</div>
</body>

</html>