<!DOCTYPE html>
<html lang="en">
<head>
    <!-- commonality  meta and title -->
    <%
    include("../../common/common.meta.html"){}
    %>
    <!-- commonality style -->
    <%
    include("../../common/common.css.html"){}
    %>
    <link rel="stylesheet" type="text/css" href="../styles/main_styles1.css">
    <link rel="stylesheet" type="text/css" href="../styles/responsive1.css">
    <link rel="stylesheet" type="text/css" href="../styles/portfolio_styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/portfolio_responsive.css">
</head>
<!-- commonality js -->
<%
include("../../common/common.js.html"){}
%>
<script src="../js/portfolio_custom.js"></script>
<script type="text/javascript">
    $(function(){
        $(".back").click(function(){
            history.back();
        });
    })
</script>
<body class="body_top">

<div class="super_container">

    <!-- commonality head -->
    <%
    include("../../common/top.html"){}
    %>
    <!-- Home -->


    <div class="base_head">
        <div class="wallet_phone">
            <div class="wallet_extract">
                <img src="../lottery/api/base/v1/member/generalizeInit">
            </div>
            <div class="wallet_extract">
                <p>推广说明：</p>
                <p>收益说明：</p>
            </div>
            <div class="wallet_extract">
                <img src="../images/wallet_record.jpg">
                <a href="../web/personalGeneralizeRecord">generalize record</a>
                <span class="span_entrance"> > </span>
            </div>
        </div>
    </div>

    <!-- commonality footer -->
    <%
    include("../../common/bottom.html"){}
    %>

</div>
</body>

</html>