<!DOCTYPE html>
<html lang="en">
<head>
    <!-- commonality  meta and title -->
    <%
    include("../../common/common.meta.html"){}
    %>
    <!-- commonality style -->
    <%
    include("../../common/common.css.html"){}
    %>
    <link rel="stylesheet" type="text/css" href="../styles/main_styles1.css">
    <link rel="stylesheet" type="text/css" href="../styles/responsive1.css">
    <link rel="stylesheet" type="text/css" href="../styles/portfolio_styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/portfolio_responsive.css">
</head>
<!-- commonality js -->
<%
include("../../common/common.js.html"){}
%>
<script src="../js/portfolio_custom.js"></script>
<script src="../js/lotteryshop/person_center.js"></script>
<script type="text/javascript">
    $(function(){
        $(".back").click(function(){
            history.back();
        });
        var languageType = getLanguage();
        if(languageType != 'zh'){
            languageType = 'en'
        }
        infoContentGenerlize(languageType);
        generalizeInitRegisterUrl();
    })
</script>
<style>
    .wallet_extract_generalize{
        height: auto !important;
    }
    .generalize_img{
        width: 100%;
    }
    .record_img{
        width: 30px;
    }
    .record_click_a{
        display: block;
        width: 85%;
        height: 100%;
        float: right;
    }
</style>
<body class="body_top">

<div class="super_container">

    <!-- commonality head -->
    <%
    include("../../common/top.html"){}
    %>
    <!-- Home -->


    <div class="base_head">
        <div class="wallet_phone">
            <div class="generalizeContent wallet_extract  wallet_extract_generalize">
            </div>
            <div class="wallet_extract wallet_extract_generalize">
                <p><span class="generalizeEwmUrl"></span></p>
            </div>
            <div class="wallet_extract wallet_extract_generalize">
                <img class="record_img" src="../images/wallet_record.png">
                <span class="span_entrance"> > </span>
                <a class="record_click_a" href="../web/personalGeneralizeRecord" data-localize="base.generalizePersonnel"></a>
            </div>
            <div class="wallet_extract wallet_extract_generalize">
                <img class="record_img" src="../images/wallet_record.png">
                <span class="span_entrance"> > </span>
                <a class="record_click_a" href="../web/generalizeStatistics" data-localize="base.generalizeStatistics"></a>
            </div>
        </div>
    </div>

    <!-- commonality footer -->
    <%
    include("../../common/bottom.html"){}
    %>

</div>
</body>

</html>