<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.lotterya.mapper.LotteryaBuyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.lotterya.entity.LotteryaBuy">
		<id column="id" property="id" />
		<result column="member_id" property="memberId" />
		<result column="luck_num" property="luckNum" />
		<result column="total" property="total" />
		<result column="transfer_hash_value" property="transferHashValue" />
		<result column="transfer_status" property="transferStatus" />
		<result column="transfer_status_time" property="transferStatusTime" />
		<result column="create_time" property="createTime" />
		<result column="multiple_num" property="multipleNum" />
		<result column="lotterya_issue_id" property="lotteryaIssueId" />
		<result column="is_luck" property="isLuck" />
		<result column="luck_total" property="luckTotal" />
	</resultMap>

	<!-- 查询每期的购买记录 -->
	<select id="getPageLotteryBuyAll" parameterType="java.lang.String" resultType="java.util.Map">
		select em_.email,em_.member_name as memberName,lb_.luck_total as luckTotal,lb_.multiple_num as multipleNum from es_member em_
		left join lotterya_buy lb_ on (lb_.member_id = em_.id)
		left join lotterya_issue li_ on (li_.id = lb_.lotterya_issue_id)
		where 1 = 1
		<if test="lotteryaBuy.lotteryaIssueId != null and  lotteryaBuy.lotteryaIssueId !=  ''">
			and lb_.lotterya_issue_id = #{lotteryaBuy.lotteryaIssueId}
		</if>
		<if test="mTransferStatus != null and  mTransferStatus != ''">
			and lb_.transfer_status in(#{mTransferStatus})
		</if>
		LIMIT #{currentPage},#{pageSize}
	</select>

</mapper>
