<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.lotterya.mapper.LotteryaIssueMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.lotterya.entity.LotteryaIssue">
		<id column="id" property="id" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="issue_num" property="issueNum" />
		<result column="create_time" property="createTime" />
		<result column="buy_status" property="buyStatus" />
		<result column="bs_time" property="bsTime" />
		<result column="luck_total" property="luckTotal" />
		<result column="luck_num" property="luckNum" />
		<result column="current_total" property="currentTotal" />
		<result column="adjust_total" property="adjustTotal" />
		<result column="bonus_status" property="bonusStatus" />
		<result column="bonus_status_time" property="bonusStatusTime" />
		<result column="bonus_grant" property="bonusGrant" />
	</resultMap>

</mapper>
