<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.lotterya.mapper.LotteryaPmMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.lotterya.entity.LotteryaPm">
		<id column="id" property="id" />
		<result column="member_id" property="memberId" />
		<result column="lotterya_issue_id" property="lotteryaIssueId" />
		<result column="total" property="total" />
		<result column="status" property="status" />
		<result column="status_time" property="statusTime" />
		<result column="create_time" property="createTime" />
		<result column="type" property="type" />
		<result column="transfer_status" property="transferStatus" />
		<result column="transfer_status_time" property="transferStatusTime" />
		<result column="transfer_hash_value" property="transferHashValue" />
		<result column="transfer_gasfee" property="transferGasfee" />
		<result column="total_ether" property="totalEther" />
	</resultMap>

	<select id="findLotteryAIssueReceiveStatistics" parameterType="java.lang.String" resultType="java.util.Map">
		select SUM(lp_.total) as totalAll from lotterya_pm lp_ where 1=1 and lp_.status = 0
		<if test="memberId != null and memberId != ''">
			and lp_.member_id = #{memberId}
		</if>

	</select>

	<select id="findLotteryAIssueReceive" parameterType="java.lang.String" resultType="java.util.Map">
		select
		li_.issue_num as issueNum,
		DATE_FORMAT(li_.start_time,'%Y-%m-%d %T') as startTime,
		DATE_FORMAT(li_.end_time,'%Y-%m-%d %T') as endTime
		,sum(case when lp_.type = 1 then lp_.total else 0 end) as gTotal
		,sum(case when lp_.type = 2 then lp_.total else 0 end) as zTotal
		,lp_.status
		from lotterya_pm lp_
		left join lotterya_issue li_ on (lp_.lotterya_issue_id = li_.id)
		where 1=1
		<if test="memberId != null and memberId != ''">
			and lp_.member_id = #{memberId}
		</if>
		<if test="status != null and status != ''">
			and lp_.status in(#{status})
		</if>
		group by li_.issue_num,li_.start_time,li_.end_time,lp_.status
		order by li_.issue_num desc
		LIMIT #{currentPage},#{pageSize}
	</select>

</mapper>
