<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.lotterya.mapper.LotteryaPmMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.lotterya.entity.LotteryaPm">
		<id column="id" property="id" />
		<result column="member_id" property="memberId" />
		<result column="lotterya_issue_id" property="lotteryaIssueId" />
		<result column="total" property="total" />
		<result column="status" property="status" />
		<result column="status_time" property="statusTime" />
		<result column="create_time" property="createTime" />
		<result column="type" property="type" />
		<result column="transfer_status" property="transferStatus" />
		<result column="transfer_status_time" property="transferStatusTime" />
		<result column="transfer_hash_value" property="transferHashValue" />
		<result column="transfer_gasfee" property="transferGasfee" />
		<result column="total_ether" property="totalEther" />
	</resultMap>

</mapper>
