<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.lotterya.mapper.LotteryaInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.lotterya.entity.LotteryaInfo">
		<id column="id" property="id" />
		<result column="zhtitle" property="zhtitle" />
		<result column="price" property="price" />
		<result column="period_date" property="periodDate" />
		<result column="interval_date" property="intervalDate" />
		<result column="entitle" property="entitle" />
		<result column="contract_address" property="currenBonusDown" />
		<result column="curren_bonus_down" property="contractAddress" />
		<result column="curren_bonus_ratio" property="currenBonusRatio" />
		<result column="adjust_bonus_up" property="adjustBonusUp" />
		<result column="adjust_bonus_down" property="adjustBonusDown" />
		<result column="adjust_bonus_ratio" property="adjustBonusRatio" />
		<result column="pm_vnum" property="pmVnum" />
		<result column="pm_rnum" property="pmRnum" />
		<result column="buy_pm" property="buyPm" />
		<result column="draw_pm" property="drawPm" />
	</resultMap>

</mapper>
