<!DOCTYPE html>
<html lang="en">
<head>
    <!-- commonality  meta and title -->
    <%
        include("../../../common/common.meta.html"){}
    %>
    <!-- commonality style -->
    <%
        include("../../../common/common.css.html"){}
    %>
    <link rel="stylesheet" type="text/css" href="../styles/main_styles1.css">
    <link rel="stylesheet" type="text/css" href="../styles/responsive1.css">
    <link rel="stylesheet" type="text/css" href="../styles/portfolio_styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/portfolio_responsive.css">
</head>
    <!-- commonality js -->
    <%
        include("../../../common/common.js.html"){}
    %>
<script src="../js/portfolio_custom.js"></script>
<script src="../js/lotteryshop/person_center.js" ></script>
<script>
    $(function(){
        $(".back").click(function(){
            history.back();
        });
    })
</script>
<style>
    .create_wallet_local{
        text-align: center;
    }
    .wallet_content{
        margin-top: 25px;
    }
    .wallet_password_input{
        width: 98%;
        margin-bottom: 20px;
    }
    .div_btn{
        text-align: center;
        width: 100%;
    }
    .layui_btn_bottom{
        margin: 15px;
        height: 45px;
    }
    .button_display{
        display: block;
    }
</style>
<body class="body_top">

<div class="super_container">

    <!-- commonality head -->
    <%
    include("../../../common/top.html"){}
    %>
    <!-- Home -->
    <div class="base_head">
        <div class="wallet_phone">
            <div class="wallet_extract">
            <% if(pAddress == true){ %>
                <div class="wallet_extract wallet_extract_wallet ">
                    <div class="wallet_address_self">
                        <p><span class="title_span_1" data-localize="base.walletAddress">wallet address</span></p>
                        <p><span>${loginUser.BAddress!"error"}</span></p>
                        <input class="input_class_2 wallet_password_input" type="text" name="update_bAddress" placeholder="wallet address">
                        <div class="div_btn">
                            <a class="wallet_button button_display" href="#" onclick="update_confirm()" data-localize="base.update">Update</a>
                        </div>
                    </div>
                </div>
            <% }else{ %>
            <div class="wallet_extract">
                <input class="input_class_2 wallet_password_input" type="text" id="bAddress" name="bAddress" placeholder="wallet address">
                <input class="input_class_2 wallet_password_input" type="password" id="paymentCode" name="paymentCode" placeholder="password">
                <input class="input_class_2 wallet_password_input" type="password" id="paymentCodeConfirm" name="paymentCodeConfirm" placeholder="confirm password">
                <div class="div_btn">
                    <a onclick="create_confirm()" href="#" class="wallet_button button_display">confirm</a>
                </div>
            </div>
            <% } %>
            </div>
        </div>
    </div>

    <!-- commonality fotter -->
    <!--<%
    include("../../../common/bottom.html"){}
    %>-->

</div>
</body>

</html>