<style type="text/css">
    .footer {
        width: 100%;
        height: 250px;
        background-color: #6450bf;
    }
    .footer p {
        color: #ffffff;
    }
    .footer a {
        color: #a5a5a5;
    }
    .footer_div {
        padding-top: 30px;
    }
    .footer_content {
        width: 1170px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .footer_div li{
        float:left;
        margin-left: 15px;
        margin-right: 15px;
    }
    .footer_row1 {
        padding-bottom: 15px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .footer_row2 {
        height: 35px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .footer_row2 .row2left {
        padding-top: 10px;
    }
    .footer_row2 .row2right {
        padding-top: 8px;
    }
    .imgr18 {
        width:30px;
        height:30px;
    }
    .imggithub {
        width:30px;
        height:30px;
    }
    .imgtwitter {
        width:35px;
        height:35px;
    }
    .imgfacebook {
        width:35px;
        height:35px;
    }
    .footer_row3 {
        text-align:center;
    }
</style>
<footer class="footer">
    <div class="footer_div">
        <div class="footer_content">
            <div class="footer_row1">
                <p data-localize="base.boottomTitle">
                    The laws applicable to the services offered by ColorBall vary country to country. The contents of this site are not intended to encourage any related activities in countries and regions where ColorBall is legally accepted.
                </p>
            </div>
            <div class="footer_row2">
                <div class="col-md-9 row2left">
                    <ul>
                        <li>
                            <a href="" target="">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="" target="">Disclaimer</a>
                        </li>
                        <li>
                            <a href="" target="">Cookie Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 row2right">
                    <ul>
                        <li>
                            <a href="" target="">
                                <img src="../images/r18.png" alt="" class="imgr18">
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/" target="view_window">
                                <img src="../images/github.png" alt="github" class="imggithub">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="view_window">
                                <img src="../images/twitter.png" alt="twitter" class="imgtwitter">
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/" target="view_window">
                                <img src="../images/facebook.png" alt="facebook" class="imgfacebook">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="footer_row3">
                <div>
                    <p>© 2019 xxxxxxxxxx.com. All Rights Reserved.</p>
                </div>
                <div>
                    <P>If you have any questions, please contact xxxxxxxx@email.com</P>
                </div>
            </div>
        </div>
    </div>
</footer>
