<style type="text/css">
    .footer {
        width: 100%;
        height: 250px;
        background-color: #6450bf;
    }
    .footer p {
        color: #ffffff;
    }
    .footer a {
        color: #a5a5a5;
    }
    .footer_div {
        padding-top: 30px;
    }
    .footer_content {
        width: 65%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .footer_div li{
        float:left;
        margin-left: 15px;
        margin-right: 15px;
    }
    .footer_row1 {
        padding-bottom: 15px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .footer_row2 {
        height: 35px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .footer_row2 .row2left {
        padding-top: 10px;
    }
    .footer_row2 .row2right {
        padding-top: 8px;
    }
    .imgr18 {
        width:30px;
        height:30px;
    }
    .imggithub {
        width:30px;
        height:30px;
    }
    .imgtwitter {
        width:35px;
        height:35px;
    }
    .imgfacebook {
        width:35px;
        height:35px;
    }
    .footer_row3 {
        text-align:center;
    }
    @media (max-width: 1200px) {

    }
    /*  Medium devices (desktops, 800px and up)  */
    @media (max-width: 800px) {
        .footer {
            width: 100%;
            height: 500px;
        }
        .row2left {
            width:300px;
            height: 100px;
            max-width: 90%;
        }
        .row2left li{
            margin-left: 15px;
            margin-right: 15px;
        }
        .row2right {
            max-width: 50%;
        }
        .row2right li{
            float:left;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    /*  Medium Phone (phone, 420px and up)  */
    @media (max-width: 420px) {
        .footer {
            width: 100%;
            height: 600px;
        }
        .row2left {
            height: 100px;
        }
        .row2left li{
            margin-left: 15px;
            margin-right: 15px;
        }
        .row2right {
            height: 80px;
        }
        .row2right li{
            float:left;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    /*  Small Phone (phone, 360px and up)  */
    @media (max-width: 360px) {
        .footer {
            width: 100%;
            height: 600px;
        }
        .row2left {
            height: 100px;
        }
        .row2left li{
            margin-left: 10px;
            margin-right: 40px;
        }
        .row2right {
            height: 80px;
        }
        .row2right li{
            float:left;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
</style>
<footer class="footer">
    <div class="footer_div">
        <div class="footer_content">
            <div class="footer_row1">
                <p data-localize="base.boottomTitle">
                    The laws applicable to the services offered by ColorBall vary country to country. The contents of this site are not intended to encourage any related activities in countries and regions where ColorBall is legally accepted.
                </p>
            </div>
            <div class="footer_row2">
                <div class="col-md-9 row2left">
                    <ul>
                        <li>
                            <a href="../web/authPrivacyPolicy" target="" data-localize="base.privacypolicy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="../web/authDisclaimer" target="" data-localize="base.disclaimer">Disclaimer</a>
                        </li>
                        <li>
                            <a href="../web/authCookiePolicy" target="" data-localize="base.cookiepolicy">Cookie Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 row2right">
                    <ul>
                        <li>
                            <a href="" target="">
                                <img src="../images/r18.png" alt="" class="imgr18">
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/" target="view_window">
                                <img src="../images/github.png" alt="github" class="imggithub">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="view_window">
                                <img src="../images/twitter.png" alt="twitter" class="imgtwitter">
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/" target="view_window">
                                <img src="../images/facebook.png" alt="facebook" class="imgfacebook">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="footer_row3">
                <div>
                    <p data-localize="base.bottomaddra">© 2019 www.colorball.club All Rights Reserved.</p>
                </div>
                <div>
                    <P data-localize="base.bottomemail">If you have any questions, please contact xxxxxxxx@colorball.club</P>
                </div>
            </div>
        </div>
    </div>
</footer>
