<style>
    .a_language_select_onchange{

    }
    .select_language_option{
        /*width: 30px;*/
        /*height: 30px;*/
    }
    .dropdown-menu{
        padding: 0;
        margin: 0;
        min-width:0;
        color: white;
        background: rgba(0,0,0,0.1);
    }
    .dropdown-item{
        padding: 0;
        margin: 0;
        color:#333 !important;
        cursor:pointer
    }
    .dropdown-item:hover{
        color: #999999 !important;
        background: rgba(0,0,0,0.1);
    }
    .language_img{
        border-radius: 2px;
    }
    .a_logout{
        cursor: pointer;
    }
    .hero_side_text_container_button{
        position: absolute;
        top: 50px;
        right: 50px;
        width: 60px;
        height: 30px;
        z-index: 9;
        transform-origin: top right;
        text-align: center;
        font-weight: 900;
        cursor: pointer;
    }
    .scrolledNotice{
        top: 75px;
        right: 50px;
    }
    .div_margin_notice_index{
        margin: 10px;
    }
    .div_button_back{
        bottom: -230px;
    }
    .div_content_notice_detail{

    }
    .noticeImg img{
        width: 20px;
        height: 20px;
    }
    .notice_list_head p{
        font-size: 26px;
        text-align: center;
        font-weight: 700;
    }
    .notice_list_ul{
        margin: 5px;
    }
    .notice_ul_li{
        cursor: pointer;
    }
    .notice_ul_li_time{
        float: right;
    }
    .notice_ul_li_title{
        margin: 3px;
        font-size: 18px;
        font-weight: 600;
        margin-left: 30px;
    }
    .notice_li_img{
        float: left;
    }
    .notice_li_img img{
        width: 30px;
        height: 30px;
    }
    .notice_title{
        font-size: 26px;
        text-align: center;
        font-weight: 700;
    }
    .notice_detail{

    }
    .logo_class_before{
        color: white !important;
    }
    .a_person{
        font-size: 15px;
        color: white;
        font-weight: 500;
    }
</style>
<!-- Header -->
<header id="header_load" class="header d-flex flex-row justify-content-end align-items-center trans_200">

    <!-- Logo -->
    <div class="logo mr-auto">
        <a href="../web/authIndex"><span class="logo_class_before" data-localize="base.play">Play</span><span data-localize="base.games">Games</span></a>
    </div>

    <!-- Navigation -->
    <nav class="main_nav justify-self-end text-right">
        <div class="top_div">
            <div class="search_content d-flex flex-column align-items-center justify-content-center">
                <% if(has(whetherLogin) && whetherLogin){ %>
                <div class="top_center_span">
                    <span class="span_personal"><span data-localize="base.lastTime"></span> ：${loginUser.loginDate!"error"}</span> <br/>
                    <span>
                        <a class="a_person" href="../web/personalCenter"><span data-localize="base.personalCenter"> Personal Center</span></a>
                        <a class="a_logout" onclick="logOut()" data-localize="base.logOut">[log out]</a>
                    </span>
                </div>
                <% }else{ %>
                <div class="top_login_span">
							<span>
                                <% if(has(type) && type == 'register'){ %>
                                    <a class="a_border" href="../web/authLogin" style="padding-left:20px" data-localize="base.login">Login</a>
                                <% }else if(has(type) && type == 'login'){ %>
                                    <a class="a_border" href="../web/authRegister" style="padding-left:20px"  data-localize="base.register">Register</a>
                                <% }else{ %>
                                    <a class="a_border" href="../web/authLogin" data-localize="base.login">Login</a>
                                    <span> | </span>
                                    <a class="a_border" href="../web/authRegister" data-localize="base.register">Register</a>
                                <% } %>
							</span>
                </div>
                <% } %>
            </div>
            <div>
                <a class="noticeImg" href="javascript:void(0)" style="margin-right: 20px">
                    <img src="../images/notice/ld/notice_close.png">
                </a>

                <a class="a_language_select_onchange dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="language_img" src="../images/flags/en.png"> <!--en-->
                </a>

                <div class="dropdown-menu"  aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="ar">
                        <img class="language_img" src="../images/flags/ar.png"> <!--<span>da</span>-->
                    </a>
                    <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="da">
                        <img class="language_img" src="../images/flags/da.png"> <!--<span>da</span>-->
                    </a>
                    <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="de">
                        <img class="language_img" src="../images/flags/de.png"> <!--<span>da</span>-->
                    </a>
                    <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="en">
                        <img class="language_img" src="../images/flags/en.png"> <!--<span>en</span>-->
                    </a>
                    <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="ja">
                        <img class="language_img" src="../images/flags/ja.png"> <!--<span>ja</span>-->
                    </a>
                    <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="fr">
                        <img class="language_img" src="../images/flags/fr.png"> <!--<span>da</span>-->
                    </a>
                    <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="ru">
                        <img class="language_img" src="../images/flags/ru.png"> <!--<span>da</span>-->
                    </a>
                    <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="zh">
                        <img class="language_img" src="../images/flags/zh.png"> <!--<span>zh</span>-->
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="hamburger_container_language">
        <a class="noticeImg" href="javascript:void(0)" style="margin-right: 10px">
            <img src="../images/notice/ld/notice_close.png">
        </a>

        <a class="a_language_select_onchange dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="language_img" src="../images/flags/en.png">
        </a>

        <div class="dropdown-menu"  aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="ar">
                <img class="language_img" src="../images/flags/ar.png"> <!--<span>da</span>-->
            </a>
            <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="da">
                <img class="language_img" src="../images/flags/da.png"> <!--<span>da</span>-->
            </a>
            <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="de">
                <img class="language_img" src="../images/flags/de.png"> <!--<span>da</span>-->
            </a>
            <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="en">
                <img class="language_img" src="../images/flags/en.png"> <!--<span>en</span>-->
            </a>
            <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="ja">
                <img class="language_img" src="../images/flags/ja.png"> <!--<span>ja</span>-->
            </a>
            <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="fr">
                <img class="language_img" src="../images/flags/fr.png"> <!--<span>da</span>-->
            </a>
            <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="ru">
                <img class="language_img" src="../images/flags/ru.png"> <!--<span>da</span>-->
            </a>
            <a class="dropdown-item select_language_option " onclick="language_select_onchange(this)" data_value="zh">
                <img class="language_img" src="../images/flags/zh.png"> <!--<span>zh</span>-->
            </a>
        </div>
        <!--<select class="language_select_onchange">
            <option class="select_option" value="zh">Chinese</option>
            <option class="select_option" value="en">English</option>
            <option class="select_option" value="ja">Japanese</option>
            <option class="select_option" value="da">Danish</option>
        </select>-->
    </div>
    <!--<div class="hero_side_text_container_button">-->
        <!--<div class="noticeImg">-->
            <!--<img src="../images/notice/ld/notice_close.png">-->
        <!--</div>-->
        <!--&lt;!&ndash;<span data-localize="base.notice">notice</span>&ndash;&gt;-->
    <!--</div>-->
    <div class="div_margin_notice" style="display: none;">
        <div class="div_margin_notice_index">
            <div class="div_content_notice_list">
                <div class="notice_list_head">
                    <p data-localize="base.notice">notice</p>
                </div>
                <hr>
                <ul class="notice_list_ul" style="display: block;text-align: initial;width: 95%;">
                </ul>
            </div>
            <div class="div_content_notice_detail" style="display: none;">
                <div class="div_content_detail">
                    <p class="notice_title"></p>
                    <hr>
                    <p class="notice_detail"></p>
                </div>
                <div class="div_button_back">
                    <div class="div_btn">
                        <a href="#" class="wallet_button button_display notice_detail_back" data-localize="base.back">back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="hero_side_text_container">
        <div class="hero_side_text">
            <div class="notice_head"><span data-localize="base.notice">notice</span></div>
            <div class="notice_content">
                <p>1.It hasn't been announced yet !</p>
            </div>
        </div>
    </div>-->

    <!-- Hamburger -->
    <div class="hamburger_container">
        <i class="fas fa-bars trans_200"></i>
    </div>
    <div id="google_translate_element" style="display: none;"></div>
    <!--<div id="google_translate_element"></div>-->
</header>
<div class="menu_container">
    <div class="menu menu_mm text-right">
        <div class="menu_close"><i class="far fa-times-circle trans_200"></i></div>
        <ul class="menu_mm">
            <li><a href="../web/authIndex" data-localize="base.home">Home</a></li>
            <!--<li><a href="../web/authPlayTheLottery" data-localize="base.playTheLottery">Play The Lottery</a></li>-->
            <% if(has(whetherLogin) && whetherLogin){ %>
            <li><a href="../web/personalCenter"><span data-localize="base.personalCenter"> Personal Center</span></a></li>
            <li><a class="a_logout" onclick="logOut()" data-localize="base.logOut">log out</a></li>
            <% } else { %>
                <% if(has(type) && type == 'register'){ %>
                    <li class="menu_mm"><a class="a_border" href="../web/authLogin" data-localize="base.login">Login</a></li>
                <% } else if(has(type) && type == 'login') { %>
                    <li class="menu_mm"><a class="a_border" href="../web/authRegister" data-localize="base.register">Register</a></li>
                <% } else { %>
                    <li class="menu_mm"><a class="a_border" href="../web/authLogin" data-localize="base.login">Login</a></li>
                    <li class="menu_mm"><a class="a_border" href="../web/authRegister" data-localize="base.register">Register</a></li>
                <% } %>
            <%  } %>
        </ul>
    </div>
</div>

<!--<script src="../js/language_select.js"></script>-->
<script src="https://translate.google.cn/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="../js/language_cookie.js"></script>
<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {
                //这个是当前页面的原语言，便于插件精确翻译
                pageLanguage: 'en',
                //这个是你需要翻译的语言，比如你只需要翻译成越南和英语，这里就只写en,vi
                //includedLanguages: 'ar,en,zh-TW,hr,cs,da,nl,fr,de,el,iw,hu,ga,it,ja,ko,pt,ro,ru,sr,es,th,vi',
                includedLanguages: 'ja,zh-TW,en,da,ar,fr,ru,de',
                //选择语言的样式，这个是面板，还有下拉框的样式，具体的记不到了，找不到api~~
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                //自动显示翻译横幅，就是翻译后顶部出现的那个，有点丑，这个属性没有用的话，请看文章底部的其他方法
                autoDisplay: true,
                //还有些其他参数，由于原插件不再维护，找不到详细api了，将就了，实在不行直接上dom操作
            },
            'google_translate_element'//触发按钮的id
        );
    }
    $(function(){
        //初始化语言选择
        var language_navigator = getLanguage();
        //$(".language_select_onchange").prop('value',language_cookie);
        var imgHtml = "<img class='language_img' src='../images/flags/view/"+ language_navigator +".png'> ";
        $(".a_language_select_onchange").html(imgHtml);
        var memberId = "${loginUser.id!''}";
        var languageType = getLanguage();
        if(languageType){

        }
        infoContentNotice(languageType,memberId);
        if(language_navigator && language_navigator != "zh" && language_navigator != "en"){
            var yText =  $('.logo').find("a").html();
            var  index =  layer.msg("Please wait while switching languages！",{icon: 16,shade: [0.8, '#393D49'],time:6000});
            var setIntervalId = setInterval(function(){
                var xText =  $('.logo').find("a").html();
                if(yText != xText){
                    layer.close(index);
                    clearInterval(setIntervalId);
                }
            },1000);
        }
    })

    function language_select_onchange(e,language_cookie){
        var language_select = "";
        var language_select_1 = "";
        if(e == null){
            language_select = language_cookie;
            language_select_1 = language_cookie;
        }else {
            language_select = $(e).attr("data_value") || "en";
            language_select_1 = $(e).attr("data_value") || "en";
        }
        if(getLanguage() == language_select ) return;
        //获取浏览器的语言
        imgHtml = "<img class='language_img' src='../images/flags/view/"+ language_select +".png'> ";
        $(".a_language_select_onchange").html(imgHtml);
        var browserLanguage = navigator.language.toLowerCase();
        var browserLanguage_array;
        var langeage_zh = {ja:"日语",da:"丹麦语",ar:"阿拉伯语",de:"德语",fr:"法语",ru:"俄语"};//中文繁体
        var langeage_en = {ja:"Japanese",da:"Danish",ar:"Arabic",de:"German",fr:"French",ru:"Russian"};//英文
        var language_ja = {ja:"日本語",da:"デンマーク語",ar:"アラビア語",de:"ドイツ語",fr:"フランス語",ru:"ロシア語"};//日本
        var language_da = {ja:"Japansk",da:"Dansk",ar:"Arabisk",de:"Tysk",fr:"Fransk",ru:"Russisk"};//丹麦
        var language_ar = {ja:"اليابانية",da:"الدانماركية",ar:"العربية",de:"الألمانية",fr:"الفرنسية",ru:"الروسية"};//阿拉伯
        var language_de = {ja:"Japanisch",da:"Dänisch",ar:"Arabisch",de:"Deutsch",fr:"Französisch",ru:"Russisch"};//德文
        var language_ru = {ja:"японский",da:"датский",ar:"арабский",de:"немецкий",fr:"французский",ru:"русский"};//俄语
        var language_fr = {ja:"Japonais",da:"Danois",ar:"Arabe",de:"Allemand",fr:"Français",ru:"Russe"};//丹麦
        var name = "somoveLanguage";
        SetCookie(name, language_select_1);
        var flag = true;
        if(browserLanguage){
            switch (browserLanguage) {
                case 'zh-cn':
                    browserLanguage_array = language_ja;
                    language_select = langeage_zh[language_select];
                    break;
                case 'en':
                    browserLanguage_array = language_ja;
                    language_select = langeage_en[language_select];
                    break;
                case 'ja':
                    browserLanguage_array = language_ja;
                    language_select = language_ja[language_select];
                    break;
                case 'da':
                    browserLanguage_array = language_da;
                    language_select = language_da[language_select];
                    break;
                case 'ar':
                    browserLanguage_array = language_da;
                    language_select = language_ar[language_select];
                    break;
                case 'de':
                    browserLanguage_array = language_da;
                    language_select = language_de[language_select];
                    break;
                case 'ru':
                    browserLanguage_array = language_da;
                    language_select = language_ru[language_select];
                    break;
                case 'fr':
                    browserLanguage_array = language_da;
                    language_select = language_fr[language_select];
                    break;
                default:
            }
        }
        if((language_select_1 != 'zh' && language_select_1 != 'en')) {
            $("iframe.goog-te-menu-frame").contents().find("table").find("span.text").each(function (i, data) {
                if ($(this).html() == language_select) {
                    var yText =  $('.logo').find("a").html();
                    $(this).click();
                    var  index =  layer.msg("Please wait while switching languages！",{icon: 16,shade: [0.8, '#393D49'],time:60000});
                    var setIntervalId = setInterval(function(){
                        var xText =  $('.logo').find("a").html();
                        if(yText != xText){
                            layer.close(index);
                            clearInterval(setIntervalId);
                        }
                    },1000);
                }
            })
        }else {
            //清除谷歌翻译插件存入的cookie值
            delCookie("googtrans");
            location.reload();
        }
    }
    function logOut(){
        var b = confirm("Determine the exit !")
        if(!b){
            return false;
        }
        $.ajax({
            type: "get",
            url: "/web/loginOut",
            dataType: "json",
            success:function (data){
                if(data.code == '200'){
                    layer.msg(data.extend.data);
                    window.location.href="../web/authIndex";
                    //set_Time_out("../web/authIndex");
                }
                if(data == '500'){
                    layui_open(data.msg)
                }
            }
        })
    }
</script>