<!-- Header -->
<header id="header_load" class="header d-flex flex-row justify-content-end align-items-center trans_200">

    <!-- Logo -->
    <div class="logo mr-auto">
        <a class="back" href="#"><span>&lt; Back</span></a>
    </div>

    <nav class="main_nav justify-self-end text-right">

    </nav>

    <div id="google_translate_element" style="display: none;"></div>
</header>

<!--<script src="../js/language_select.js"></script>-->
<script src="https://translate.google.cn/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="../js/language_cookie.js"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {
                //这个是当前页面的原语言，便于插件精确翻译
                pageLanguage: 'en',
                //这个是你需要翻译的语言，比如你只需要翻译成越南和英语，这里就只写en,vi
                //includedLanguages: 'en,zh-TW,hr,cs,da,nl,fr,de,el,iw,hu,ga,it,ja,ko,pt,ro,ru,sr,es,th,vi',
                includedLanguages: 'ja,zh-TW,en,da',
                //选择语言的样式，这个是面板，还有下拉框的样式，具体的记不到了，找不到api~~
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                //自动显示翻译横幅，就是翻译后顶部出现的那个，有点丑，这个属性没有用的话，请看文章底部的其他方法
                autoDisplay: true,
                //还有些其他参数，由于原插件不再维护，找不到详细api了，将就了，实在不行直接上dom操作
            },
            'google_translate_element'//触发按钮的id
        );
    }
    $(function(){
        //初始化语言选择
        var language_navigator = getLanguage();
        //$(".language_select_onchange").prop('value',language_cookie);
        var imgHtml = "<img class='language_img' src='../images/flags/"+ language_navigator +".png'> ";
        $(".a_language_select_onchange").html(imgHtml);
    })

    function language_select_onchange(e,language_cookie){
        var language_select = "";
        var language_select_1 = "";
        if(e == null){
            language_select = language_cookie;
            language_select_1 = language_cookie;
        }else {
            language_select = $(e).attr("data_value") || "en";
            language_select_1 = $(e).attr("data_value") || "en";
        }
        //获取浏览器的语言
        imgHtml = "<img class='language_img' src='../images/flags/"+ language_select +".png'> ";
        $(".a_language_select_onchange").html(imgHtml);
        var browserLanguage = navigator.language.toLowerCase();
        var browserLanguage_array;
        var langeage_zh = {ja:"日语",da:"丹麦语"};//中文繁体
        var langeage_en = {ja:"Japanese",da:"Danish"};//英文
        var language_ja = {ja:"日本語",da:"デンマーク語"};//日本
        var language_da = {ja:"Japansk",da:"Dansk"};//丹麦
        var name = "somoveLanguage";
        SetCookie(name, language_select_1);
        var flag = true;
        if(browserLanguage){
            switch (browserLanguage) {
                case 'zh-cn':
                    browserLanguage_array = language_ja;
                    language_select = langeage_zh[language_select];
                    break;
                case 'en':
                    browserLanguage_array = language_ja;
                    language_select = langeage_en[language_select];
                    break;
                case 'ja':
                    browserLanguage_array = language_ja;
                    language_select = language_ja[language_select];
                    break;
                case 'da':
                    browserLanguage_array = language_da;
                    language_select = language_da[language_select];
                    break;
                default:
            }
        }
        if((language_select_1 != 'zh' && language_select_1 != 'en')) {
            $("iframe.goog-te-menu-frame").contents().find("table").find("span.text").each(function (i, data) {
                if ($(this).html() == language_select) {
                    $(this).click();
                }
            })
        }else {
            //清除谷歌翻译插件存入的cookie值
            delCookie("googtrans");
            location.reload();
        }
    }
</script>