<!DOCTYPE html>
<html>

<head>
    <title>Flat Admin V.2 - Free Bootstrap Admin Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%
    include("../config/css_all.html"){};
    %>
    <style>
        .lable_title{
            width: 100px;
            text-align: right;
        }
        .input_content{
            border-radius: 5px;
            border: solid 1px black;
        }
    </style>
</head>

<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            <%
            include("../nav_top.html"){};
            %>
            <%
            include("../menu_url.html"){};
            %>
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    <div class="page-title">
                        <span class="title">Characteristic project</span>
                        <!--<div class="description">A bootstrap table for display list of data.</div>-->
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">

                                    <div class="card-title">
                                    <div class="title">Table</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table_partner">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright.
            </div>
        </footer>
    <div>
    </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="add_partner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        add
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="form_img" enctype="multipart/form-data">
                        <div>
                            <label class="lable_title">title_zh:</label>
                            <input id="title_input_zh" class="input_content" type="text" />
                        </div>
                        <div class="file-loading">
                            <label class="lable_title">content_zh:</label>
                            <textarea id="content_input_zh" style="width: 75%;border: solid 1px black;border-radius: 5px;"></textarea>
                        </div>
                        <div>
                            <label class="lable_title">title_en:</label>
                            <input id="title_input_en" class="input_content" type="text" />
                        </div>
                        <div class="file-loading">
                            <label class="lable_title">content_en:</label>
                            <textarea id="content_input_en" style="width: 75%;border: solid 1px black;border-radius: 5px;"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">close
                    </button>
                    <button type="button" class="btn btn-primary addCharacteristicProject">
                        add
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="update_sort" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel_1">
                        add
                    </h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label class="lable_title">sort:</label>
                        <input id="sort" class="input_content" type="text" />
                    </div>
                    <div>
                        <label class="lable_title">title_zh:</label>
                        <input id="update_title_zh" class="input_content" type="text" />
                    </div>
                    <div class="file-loading">
                        <label class="lable_title">content_zh:</label>
                        <textarea id="update_content_zh" style="width: 75%;border: solid 1px black;border-radius: 5px;"></textarea>
                    </div>
                    <div>
                        <label class="lable_title">title_en:</label>
                        <input id="update_title_en" class="input_content" type="text" />
                    </div>
                    <div class="file-loading">
                        <label class="lable_title">content_en:</label>
                        <textarea id="update_content_en" style="width: 75%;border: solid 1px black;border-radius: 5px;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">close
                    </button>
                    <button type="button" class="btn btn-primary update_sort">
                        confirm
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- Javascript Libs -->

        <%
        include("../config/js_all.html"){}
        %>

    <!-- Javascript -->
    <script type="text/javascript" src="../../js/app.js"></script>

    <script>

        $(function() {

            $("#file_upload").click(function(){
                $("#input_img").click();
            });

            $("#update_file_upload").click(function(){
                $("#update_input_img").click();
            });

            var language = "${language}";
            var columns_s = [];
            var fild = "";
            $.each(language.split(","),function(index,data){
                columns_s.push(
                    {field: 'title_'+data, title: 'title_'+data,formatter:function(value,row,index){
                            return "<p class='title_"+data+"'>"+value+"</p>";
                        }},
                    {field:'content_'+data,title:'content_'+data,formatter:function(value,row,index){
                            return "<p class='content_"+data+"'>"+value+"</p>";
                        }}
                    );
            })

            columns_s.push({
                field:'sort',
                title:'sort',
                formatter:function (value, row, index){
                    if(value){
                        return "<p class='sort'>"+value+"</p>";
                    }
                    return "No sorting";
                }
            },{
                field:"operation",
                title:"operation",
                formatter: function (value, row, index){
                    return "<button class='btn' onclick='delete_parrner("+row.id+")'>delete" +
                        "</button> <button class='btn'data-toggle='modal' data-target='#add_partner'>add</button>" +
                        " <button class='btn'data-toggle='modal' id = '"+row.id+"' onclick='update_Id("+row.id+")' data-target='#update_sort'>updateSort</button>";
                }
            })
            $(".table_partner").bootstrapTable({
                url: '../../mIntro/findMIntro?type=4',        // 表格数据来源
                columns: columns_s
            })

            //控制模态框出现位置
            $('#add_partner').on('show.bs.modal', function(){
                var $this = $(this);
                var $modal_dialog = $this.find('.modal-dialog');
                $this.css('display', 'block');
                $modal_dialog.css({'margin-top': Math.max(0, ($(window).height() - $modal_dialog.height()) / 3) });
            });

            $("#file_upload").click(function(){
                $("#partner").click();
            });

            $(".addCharacteristicProject").click(function (){
                var title_zh = $("#title_input_zh").val() || "";
                var content_zh = $("#content_input_zh").val() || "";
                var title_en = $("#title_input_en").val() || "";
                var content_en = $("#content_input_en").val() || "";
                if(!title_zh){
                    alert("title_zh not null !");
                    return;
                }
                if(!content_zh){
                    alert("content_zh not null！");
                    return;
                }
                if(!title_en){
                    alert("title_en not null !");
                    return;
                }
                if(!content_en){
                    alert("content_en not null！");
                    return;
                }
               $.ajax({
                    url:'../../mIntro/saveCharacteristicProject',
                    type:'POST',
                    data:{"title_zh":title_zh,"content_zh":content_zh,"title_en":title_en,"content_en":content_en,"type":4},
                    dataType:"json",
                    success:function (data) {
                        window.location.reload();
                    }
                })
            });
            $(".update_sort").click(function (){
                var id = $("#sort").attr("dataId");
                var title_zh = $("#update_title_zh").val() || "";
                var content_zh = $("#update_content_zh").val() || "";
                var title_en = $("#update_title_en").val() || "";
                var content_en = $("#update_content_en").val() || "";
                var sort = $("#sort").val() || 0;
                //var file = document.getElementById('update_input_img').files[0];
                if(!id){
                    alert("operation error");
                    return;
                }
                if(!title_zh){
                    alert("title_zh no sorting");
                    return;
                }
                if(!content_zh){
                    alert("content_zh no sorting");
                    return;
                }
                if(!title_en){
                    alert("title_en no sorting");
                    return;
                }
                if(!content_en){
                    alert("content_en no sorting");
                    return;
                }
               var datas = new FormData();
                datas.append("id",id);
                datas.append("sort",sort);
                datas.append("title_zh",title_zh);
                datas.append("content_zh",content_zh);
                datas.append("title_en",title_en);
                datas.append("content_en",content_en);
                //datas.append("dataFile",file);
                $.ajax({
                    url:'../../mIntro/updateCharacteristicProject',
                    type:'POST',
                    processData:false,  //tell jQuery not to process the data
                    contentType: false,  //tell jQuery not to set contentType
                    data:datas,
                    success:function (data) {
                        window.location.reload();
                    }
                })
            });
        });

        function input_setFileName(){
            var file = document.getElementById('partner') == null ?  "":document.getElementById('partner').files[0];
            $("#file_upload").val(file.name);
        }

        function update_input_setFileName(){
            var file = document.getElementById('update_input_img') == null ?  "":document.getElementById('update_input_img').files[0];
            $("#update_file_upload").val(file.name);
        }

        function delete_parrner(id){
            $.ajax({
                url:'../../mIntro/deleteMIntro',
                type:'POST',
                data:{"id":id},
                success:function (data) {
                    window.location.reload();
                }
            })
        }

        function update_Id(id){
            var tr = $("#"+id).parents("tr");
            console.log(tr);
            $("#sort").attr("dataId",id);
            $("#update_title_zh").val(tr.find(".title_zh").html());
            $("#update_content_zh").val(tr.find(".content_zh").html());
            $("#update_title_en").val(tr.find(".title_en").html());
            $("#update_content_en").val(tr.find(".content_en").html());
            $("#sort").val(tr.find("sort").html());
        }

    </script>
</body>

</html>
