<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.common.mapper.EsGdethconfigWithdrawMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.common.entity.EsGdethconfigWithdraw">
		<id column="id" property="id" />
		<result column="gdethconfig_id" property="gdethconfigId" />
		<result column="active_num" property="activeNum" />
		<result column="w_day" property="wDay" />
		<result column="create_time" property="createTime" />
	</resultMap>

</mapper>
