<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.common.mapper.EsGdethaccountsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.common.entity.EsGdethaccounts">
		<id column="id" property="id" />
		<result column="member_id" property="memberId" />
		<result column="dic_type" property="dicType" />
		<result column="type" property="type" />
		<result column="amount" property="amount" />
		<result column="balance" property="balance" />
		<result column="status" property="status" />
		<result column="status_time" property="statusTime" />
		<result column="create_time" property="createTime" />
		<result column="oper_id" property="operId" />
		<result column="gas_fee" property="gasFee" />
		<result column="transfer_hash_value" property="transferHashValue" />
		<result column="status_msg" property="statusMsg" />
	</resultMap>

	<select id="findGdethRecordPagination" parameterType="java.lang.String" resultType="java.util.Map">
		select ROUND(eg_.amount,6) as amount,ROUND(eg_.balance,6) as balance,eg_.type,sd_.r_envalue,sd_.r_zhvalue,eg_.status_time as statusTime,eg_.status,ROUND(eg_.gas_fee,6) as gasFee
		from es_gdethaccounts eg_
		left join sys_dic sd_ on (eg_.dic_type = sd_.key_value)
		where sd_.group_type = 'gdethaccounts_dictype'
		<if test="startTime != null and startTime != ''">
			and eg_.status_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and eg_.status_time &lt;= #{endTime}
		</if>
		<if test="memberId != null and memberId != '' ">
			and eg_.member_id = #{memberId}
		</if>
		order  by eg_.create_time desc
		<if test="currentPage != null and currentPage != '' and pageSize != null and pageSize != '' ">
			limit #{currentPage},#{pageSize}
		</if>
	</select>

</mapper>
