<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.common.mapper.EsGdethaccountsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.common.entity.EsGdethaccounts">
		<id column="id" property="id" />
		<result column="member_id" property="memberId" />
		<result column="dic_type" property="dicType" />
		<result column="type" property="type" />
		<result column="amount" property="amount" />
		<result column="balance" property="balance" />
		<result column="status" property="status" />
		<result column="status_time" property="statusTime" />
		<result column="create_time" property="createTime" />
		<result column="oper_id" property="operId" />
		<result column="gas_fee" property="gasFee" />
		<result column="transfer_hash_value" property="transferHashValue" />
	</resultMap>

</mapper>
