<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.common.mapper.EsLsbaccountsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.common.entity.EsLsbaccounts">
		<id column="id" property="id" />
		<result column="member_id" property="memberId" />
		<result column="dic_type" property="dicType" />
		<result column="type" property="type" />
		<result column="amount" property="amount" />
		<result column="balance" property="balance" />
		<result column="status" property="status" />
		<result column="status_time" property="statusTime" />
		<result column="create_time" property="createTime" />
		<result column="oper_id" property="operId" />
		<result column="gas_fee" property="gasFee" />
		<result column="transfer_hash_value" property="transferHashValue" />
		<result column="status_msg" property="statusMsg" />
	</resultMap>

	<select id="findLsbRecordPagination" parameterType="java.lang.String" resultType="java.util.Map">
		select ROUND(el_.amount,6) as amount,ROUND(el_.balance,6) as balance,el_.type,ROUND(el_.gas_fee,6) as gasFee,sd_.r_envalue,sd_.r_zhvalue,el_.status_time as statusTime,el_.status
		from es_lsbaccounts el_
		left join sys_dic sd_ on (el_.dic_type = sd_.key_value)
		where sd_.group_type = 'lsbaccounts_dictype'
		<if test="startTime != null and startTime != ''">
			and el_.status_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and el_.status_time &lt;= #{endTime}
		</if>
		<if test="memberId != null and memberId != '' ">
			and el_.member_id = #{memberId}
		</if>
		<if test="status != null and status != '' ">
			and el_.status in(${status})
		</if>
		order  by el_.create_time desc
		<if test="currentPage != null and currentPage != '' and pageSize != null and pageSize != '' ">
			limit #{currentPage},#{pageSize}
		</if>
	</select>

</mapper>
