<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.common.mapper.EsMemberPropertiesMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.common.entity.EsMemberProperties">
		<id column="id" property="id" />
		<result column="is_view" property="isView" />
		<result column="type" property="type" />
		<result column="member_id" property="memberId" />
	</resultMap>

</mapper>
