<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lotteryshopmanagement.mapper.MPartnerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.lotteryshopmanagement.model.MPartner">
        <id column="id" property="id" />
        <result column="link_address" property="linkAddress" />
        <result column="ls_image_id" property="lsImageId" />
        <result column="sort" property="sort" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- java.util.List BaseResultMap-->
    <select id="findPartnerList" parameterType="java.lang.String" resultType="java.util.Map">
        select mp_.id as id,mp_.link_address as linkAddress,li_.url as viewUrl,li_.localhost_url as localhostUrl,li_.file_name as fileName,sort
        from m_partner mp_
        left join ls_image li_ on (mp_.ls_image_id = li_.id)
        where mp_.type = #{type}
        order by sort
    </select>

</mapper>
