<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.common.mapper.SysConfigMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.common.entity.SysConfig">
		<id column="id" property="id" />
		<result column="gas_price" property="gasPrice" />
		<result column="gas_limit" property="gasLimit" />
		<result column="eth_to_lsb" property="ethToLsb" />
		<result column="lsb_to_eth" property="lsbToEth" />
		<result column="di_address" property="diAddress" />
		<result column="lsb_address" property="lsbAddress" />
	</resultMap>

</mapper>
