<!DOCTYPE html>
<html lang="en">
<head>
	<!-- commonality  meta and title -->
	<%
		include("../common/common.meta.html"){}
	%>
	<!-- commonality style -->
	<%
	include("../common/common.css.html"){}
	%>
	<link rel="stylesheet" type="text/css" href="../styles/portfolio_styles1.css">
	<link rel="stylesheet" type="text/css" href="../styles/portfolio_responsive1.css">
	<link rel="stylesheet" type="text/css" href="../styles/main_styles1.css">
	<link rel="stylesheet" type="text/css" href="../styles/responsive1.css">
	<link rel="stylesheet" type="text/css" href="../styles/lottery_service.css">
</head>
<!-- commonality js -->
<%
include("../common/common.js.html"){}
%>
<script src="../js/portfolio_custom.js"></script>
<script>
	var lay_play_code;
	$(function(){
		//返回页面
		$(".back").click(function(){
			history.back();
		});
		var li = $(".lotteryPlay_li");
		li.click();
		$(".ul_draw_archive").scroll(function(){
			var $this =$(this),
			viewH =$(this).height(),//可见高度
			contentH =$(this).get(0).scrollHeight,//内容高度
			scrollTop =$(this).scrollTop();//滚动高度
			if(scrollTop/(contentH -viewH) >= 0.95){ //当滚动到距离底部5%时
				var li = '<hr><li class="draw_archive_info" data-id="'+contentH+'" style="top: 0px;"> '+
						'<div class="item-link item-content draw-archive-item"> '+
						'<div>#'+contentH+'</div> '+
						'<div><span class="span_right">2018.03.08 08:00</span><span>100ETH</span></div> '+
						'<div><p>2 3 5 7 8 4</p></div> '+
						'</div> '+
						'</li> ';
				$(".ul_draw_archive").append(li);
			}
		});
		var loginUser = '${loginUser!}';
		$(".ul_self_record").scroll(function(){
			var viewH = $(this).height();
			var contentH = $(this).get(0).scrollHeight;
			var scrollTop =$(this).scrollTop();
			if(scrollTop/(contentH-viewH) >= 0.95){
				var lotteryIssueNum = $(".number_of_periods").attr("issueNumId");
				if(loginUser){
					findLotteryRecord(1,"0,1,2","lottery_self_record",false,lotteryIssueNum)
				}else{
					findLotteryRecord(1,"0,1,2","lottery_self_record",true,lotteryIssueNum);
				}
			}
		});


		$(".lottery_play_div_element").click(function(){
			var div_up = $(this).parent();
			var dataNumber = div_up.attr("data-number");
			div_up.find(".lottery_play_div_element").removeClass("lottery_play_div_element_select"+"_"+(parseInt(dataNumber) - 1));
			$(this).addClass("lottery_play_div_element_select"+"_"+(parseInt(dataNumber) - 1));
			$(".lottery_play_"+dataNumber).html($(this).find("span").html());
		});
		$("#fast_select_random").click(function(){
			var number_1 = Math.floor(Math.random()*10);
			var number_2 = Math.floor(Math.random()*10);
			var number_3 = Math.floor(Math.random()*10);
			$(".lottery_play_div_element_0").find("span[data_html="+number_1+"]").click();
			$(".lottery_play_div_element_1").find("span[data_html="+number_2+"]").click();
			$(".lottery_play_div_element_2").find("span[data_html="+number_3+"]").click();
			calculateCost();
		});

		$("#button_purchase").click(function(){
			var availableBalance = $(".money_self").html() || 0;
			var incurExpense = $("") || 0;
			if(!loginUser){
				layer.msg("please log in !");
			} else if(availableBalance < incurExpense){
				layui_open("Account balance is insufficient, please recharge first !");
			} else {
				var number_1 = $(".lottery_play_1").find("span").html() || 0;
				var number_2 = $(".lottery_play_2").find("span").html() || 0;
				var number_3 = $(".lottery_play_3").find("span").html() || 0;
				var multiple = $(".input_number").val() || 0;
				lay_play_code = layer.open({
						type: 1,
						title:"支付密碼",
						closeBtn: 0, //不显示关闭按钮
						anim: 2,
						shadeClose: true, //开启遮罩关闭
						data:{"number_1":number_1,"number_2":number_2,"number_3":number_3,"multiple":multiple},
						content: $("#playPassword").html()
					});
			}
		});
		//init
		findRule();
		getLotteryConfig();
		findLotteryIssue("the_lottery_record_id");
	})

	function paymentCodeConfirm(){
		var number_1 = $(".lottery_play_1").html() || "";
		var number_2 = $(".lottery_play_2").html() || "";
		var number_3 = $(".lottery_play_3").html() || "";
		var payPasswod = "";
		$(".paymentCode").each(function(index,data){
			var paymentCode_1 = $(data).val() || "";
			if(paymentCode_1){
				payPasswod = paymentCode_1;
			}
		});
		if(payPasswod == null || payPasswod == ''){
			layui_open("Please enter your password !");
			return;
		}
		var luckNum = number_1 +　number_2 + number_3;
		var multipleNumber = $(".input_number").val() || "";
		$.ajax({
			url:'${projectPath}/api/lotteryA/v1/lotteryA/ethBuyLottery',
			type:'get',
			data:{"payPasswod":payPasswod,"luckNum":luckNum,"multipleNumber":multipleNumber},
			dataType:"json",
			success:function (result) {
				if(result.code == 200){
					layer.close(lay_play_code);
					layer.msg(result.msg);
				}else {
					layui_open(result.msg);
				}
			}
		})

	}
	function calculateCost(){
		var gas = $(".money_expenditure").attr("gas") || 0;
		var multiple = $(".input_number").val() || 0;
		var price = $(".money_haploid").attr("price") || 0;
		var doubledMoney = $(".money_haploid").attr("doubledMoney") || 0;
		var total = parseFloat(multiple) * parseFloat(price) + parseFloat(gas);
		var tatalStr = price + " * " + multiple +  " + 燃氣費(最高≈0.0946) = " +　parseFloat(total.toFixed(6));
		$(".money_expenditure").html(tatalStr)
		$(".money_bounty").html(multiple * doubledMoney);
	}

	function getLotteryConfig(){
		$.ajax({
			url:'${projectPath}/apiauthorization/lotteryA/authorization/v1/getLotteryInfo',
			type:'get',
			dataType:"json",
			success:function (result) {
				var language = getLanguage();
				if(result.code){
					var info = result.extend.data;
					if(language = 'en'){
						$(".lottery_title").html(info.entitle)
					}
					if(language = 'zh'){
						$(".lottery_title").html(info.zhtitle)
					}
					$(".number_of_periods").html(info.issueNum)
					$(".number_of_periods").attr("issueNumId",info.issueNumId);
					$(".money_haploid").html(parseFloat(info.total));
					$(".money_haploid").attr("price",parseFloat(info.price));
					$(".money_haploid").attr("doubledMoney",info.total);
					$(".money_bounty").html(info.total);
					$(".number_of_periods").html(info.issueNum);
					$(".lottery_service_time").attr("endTime",info.endTime);
					countDown();
					getGas(parseFloat(info.price));
					var loginUser = '${loginUser!}';
					if(loginUser){
						findLotteryRecord(1,"0,1,2","lottery_self_record",false,info.issueNumId)
					}else{
						findLotteryRecord(1,"0,1,2","lottery_self_record",true,info.issueNumId);
					}
				}
			}
		})
		$.ajax({
			url:'${projectPath}/api/base/v1/ethWallet/findEthWallet',
			type:'get',
			dataType:"json",
			success:function (result) {
				var info = result.extend.data;
				$(".money_self").html(info.balance);
			}
		})
	}

	function getGas(price){
		$.ajax({
			url:'${projectPath}/apiauthorization/base/authorization/v1/baseInfo/findPlayConfig',
			type:'get',
			dataType:"json",
			success:function (result) {
				var gas = result.gas;
				$(".money_expenditure").attr("gas",gas)
				var total = parseFloat(gas) + parseFloat(price);
				total = parseFloat(total.toFixed(6));
				$(".money_expenditure").html( price+ " * 1 + 燃氣費(最高≈"+gas+") = " + total);
			}
		})
	}

	function countDown(){
		var today=new Date(),//当前时间
				h=today.getHours(),
				m=today.getMinutes(),
				s=today.getSeconds();
		var stopTime=new Date($(".lottery_service_time").attr("endTime")),//结束时间
				stopH=stopTime.getHours(),
				stopM=stopTime.getMinutes(),
				stopS=stopTime.getSeconds();
		var shenyu=stopTime.getTime()-today.getTime(),//倒计时毫秒数
				shengyuD=parseInt(shenyu/(60*60*24*1000)),//转换为天
				D=parseInt(shenyu)-parseInt(shengyuD*60*60*24*1000),//除去天的毫秒数
				shengyuH=parseInt(D/(60*60*1000)),//除去天的毫秒数转换成小时
				H=D-shengyuH*60*60*1000,//除去天、小时的毫秒数
				shengyuM=parseInt(H/(60*1000)),//除去天的毫秒数转换成分钟
				M=H-shengyuM*60*1000;//除去天、小时、分的毫秒数
		S=parseInt((shenyu-shengyuD*60*60*24*1000-shengyuH*60*60*1000-shengyuM*60*1000)/1000)//除去天、小时、分的毫秒数转化为秒
		$(".time_hour").html(shengyuH);
		$(".time_minute").html(shengyuM);
		$(".time_second").html(S);
		setTimeout(countDown,500);
	}
	function numner_add_or_aubtract(number){
		var old_number = $(".input_number").val() || '1';
		old_number = old_number.replace(/[^0-9]/ig,"");
		var new_number = parseInt(old_number);
		if(new_number <= 1 && (number == -1 || number == 0)){
			new_number = 1;
		}else {
			new_number = new_number + number;
		}
		if(new_number > 100){
			new_number = 100;
		}
		$(".input_number").val(new_number);
		calculateCost();
	}
	function findRule(){
		var playType = '${playType}' || "";
		var languageType = getLanguage();
		$.ajax({
			url:'${projectPath}/apiauthorization/base/authorization/v1/baseInfo/findPlayTypeRule',
			type:'get',
			data:{"playType":playType,"languageType":languageType},
			dataType:"json",
			success:function (result) {
				$.each(result,function(index,data){
					$("#rules_content").html(data.content);
				})
			}
		})
	}
	function findLotteryRecord(isOneself,mTransferStatus,dataId,flag,lotteryaIssueId){
		var dataObj = $("#"+dataId);
		var currentPage = dataObj.attr("currentPage") || 1;
		var pageSize = dataObj.attr("pageSize") || 20;
		var isFind = dataObj.attr("isFind") || 'true';
		var ul = dataObj.find("ul");
		if(flag){
			ul.html("");
			ul.append("<li>No More !</li>")
			return ;
		}
		if(isFind == 'true'){
			$.ajax({
					url:'${projectPath}/apiauthorization/lotteryA/authorization/v1/getLotteryBuy',
					type:'get',
					data:{"currentPage":currentPage,"pageSize":pageSize,"mTransferStatus":mTransferStatus,"lotteryaIssueId":lotteryaIssueId},
					dataType:"json",
					success:function (result) {
						var data = result.extend.data;
						var doubledMoney = $(".money_haploid").attr("doubledMoney");
						var flag_1 = false;
						if(data.records.length < 1){
							dataObj.attr("isFind",'false');
							flag_1 = true;
						}else {
							$.each(data.records, function (index, dataInfo) {
								var luckNum = dataInfo.luckNum.split("");
								var li = '<li>' +
										'<div class="model_purchase_record">' +
										'<div class="lottery_play_div_element_4 lottery_play_div_element_border_0">' +
										'<span class="span_element_1">' + luckNum[0] + '</span>' +
										'</div>' +
										'<div class="lottery_play_div_element_4 lottery_play_div_element_border_1">' +
										'<span class="span_element_1">' + luckNum[1] + '</span>' +
										'</div>' +
										'<div class="lottery_play_div_element_4 lottery_play_div_element_border_2">' +
										'<span class="span_element_1">' + luckNum[2] + '</span>' +
										'</div>' +
										'<div class="lottery_play_div_element_4 lottery_play_div_Multiple">' +
										'<span class="span_element_1">5<span data-localize="base.spendAFewLater">Bet</span></span>' +
										'</div>' +
										'<div class="lottery_play_div_element_4 lottery_play_div_Multiple">' +
										'<span class="span_element_1">' + (parseFloat(doubledMoney) * parseFloat(dataInfo.multipleNum)) + ' ETH</span>' +
										'</div>' +
										'<div class="lottery_play_div_element_4 lottery_play_div_Multiple">' +
										'<span class="span_element_1">' + dataInfo.createTime + '</span>' +
										'</div>' +
										'</div>' +
										'</li>';
								if (ul.html()) {
									ul.append("<hr>" + li);
								} else {
									ul.append(li);
								}
							})
							if(data.records.length < pageSize){
								flag_1 = true;
							}
						}
						if(flag_1){
							var noMore = ul.find("li[dataTag=noMore]");
							if(!noMore.html()){
								ul.append("<li dataTag='noMore'>No More</li>");
							}
						}
					}
			})
		}
		dataObj.attr("currentPage",parseInt(currentPage) + 1);
		dataObj.attr("pageSize",pageSize);
	}
	function findLotteryIssue(dataId,flag){
		console.log(dataId)
		var dataObj = $("#"+dataId);
		var currentPage = dataObj.attr("currentPage") || 1;
		var pageSize = dataObj.attr("pageSize") || 20;
		var ul = dataObj.find("ul");
		$.ajax({
			url:'${projectPath}/apiauthorization/lotteryA/authorization/v1/getLotteryIssue',
			type:'get',
			data:{"currentPage":currentPage,"pageSize":pageSize},
			dataType:"json",
			success:function (result) {
				console.log(result);
				console.log(result.extend.data.records);
				var dataInfo = result.extend.data.records;
				$.each(dataInfo,function(index,data){
					console.log(data);
					var luckNum = data.luckNum.split("");
					var li = '<li>' +
							'<div>#'+data.issueNum+'</div>'+
							'<div>'+
							'<div class="model_purchase_record">' +
							'<div class="lottery_play_div_element_4 lottery_play_div_element_border_0">' +
							'<span class="span_element_1">' + luckNum[0] + '</span>' +
							'</div>' +
							'<div class="lottery_play_div_element_4 lottery_play_div_element_border_1">' +
							'<span class="span_element_1">' + luckNum[1] + '</span>' +
							'</div>' +
							'<div class="lottery_play_div_element_4 lottery_play_div_element_border_2">' +
							'<span class="span_element_1">' + luckNum[2] + '</span>' +
							'</div>' +
							'<div class="lottery_play_div_element_4 lottery_play_div_Multiple">' +
							'<span class="span_element_1">' + data.luckTotal + ' ETH</span>' +
							'</div>' +
							'<div class="lottery_play_div_element_4 lottery_play_div_time">' +
							'<span class="span_element_1">' + data.startTime + " ~ " + data.endTime + '</span>' +
							'</div>' +
							'</div>' +
							'</div>'+
							'</li>';
					if(index != 0){
						ul.append("<hr>"+li);
					}else {
						ul.append(li);
					}

				})
			}
		})
		dataObj.attr("currentPage",parseInt(currentPage) + 1);
		dataObj.attr("pageSize",pageSize);
	}
</script>
<body class="body_top" data-spy="scroll" data-target=".services_item_inner">

<div class="super_container">

	<!-- commonality head -->
	<%
		include("../common/top.html"){}
	%>
	<div class="home">
		<div class="home_title">
			<div class="next_section_scroll">
				<div class="next_section nav_links" data-scroll-to=".service_boxes">
					<i class="fas fa-chevron-down trans_200"></i>
					<i class="fas fa-chevron-down trans_200"></i>
				</div>
			</div>
		</div>
	</div>

	<!-- play list -->

	<div class="services">

		<div class="portfolio_categories button-group filters-button-group">
			<ul>
				<li class="portfolio_category lotteryPlay_li" data-filter=".lotteryPlay" data-localize="base.lotteryPlay">Lottery Play</li>
				<li class="portfolio_category" data-filter=".rules" data-localize="base.rules">Rules</li>
				<li class="portfolio_category" data-filter=".drawArchive" data-localize="base.drawArchive">Draw Archive</li>
			</ul>
		</div>

		<div class="product-grid">
			<!-- play -->
			<div class="lottery_item lotteryPlay ">
				<div class="service_item_content">
					<div class="service_item_title">
						<p class="lottery_service_title"> <span class="lottery_title"></span> <span class="number_of_periods"></span></p>
						<p class="lottery_service_time"><em class="em_time time_hour">00</em> : <em  class="em_time time_minute">00</em> : <em  class="em_time time_second">00</em></p>
					</div>
					<div class="lottery_play_div">
						<div class="lottery_play_div_1" data-number="1">
							<div class="lottery_play_div_element lottery_play_div_element_0 lottery_play_div_element_border_0 lottery_play_div_element_select_0">
								<span class="span_element" data_html="0">0</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_0 lottery_play_div_element_border_0">
								<span class="span_element" data_html="1">1</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_0 lottery_play_div_element_border_0">
								<span class="span_element" data_html="2">2</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_0 lottery_play_div_element_border_0">
								<span class="span_element" data_html="3">3</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_0 lottery_play_div_element_border_0">
								<span class="span_element" data_html="4">4</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_0 lottery_play_div_element_border_0">
								<span class="span_element" data_html="5">5</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_0 lottery_play_div_element_border_0">
								<span class="span_element" data_html="6">6</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_0 lottery_play_div_element_border_0">
								<span class="span_element" data_html="7">7</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_0 lottery_play_div_element_border_0">
								<span class="span_element" data_html="8">8</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_0 lottery_play_div_element_border_0">
								<span class="span_element" data_html="9">9</span>
							</div>
						</div>
						<div class="lottery_play_div_1" data-number="2" >
							<div class="lottery_play_div_element lottery_play_div_element_1 lottery_play_div_element_border_1 lottery_play_div_element_select_1">
								<span class="span_element" data_html="0">0</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_1 lottery_play_div_element_border_1">
								<span class="span_element" data_html="1">1</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_1 lottery_play_div_element_border_1">
								<span class="span_element" data_html="2">2</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_1 lottery_play_div_element_border_1">
								<span class="span_element" data_html="3">3</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_1 lottery_play_div_element_border_1">
								<span class="span_element" data_html="4">4</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_1 lottery_play_div_element_border_1">
								<span class="span_element" data_html="5">5</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_1 lottery_play_div_element_border_1">
								<span class="span_element" data_html="6">6</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_1 lottery_play_div_element_border_1">
								<span class="span_element" data_html="7">7</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_1 lottery_play_div_element_border_1">
								<span class="span_element" data_html="8">8</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_1 lottery_play_div_element_border_1">
								<span class="span_element" data_html="9">9</span>
							</div>
						</div>
						<div class="lottery_play_div_1" data-number="3">
							<div class="lottery_play_div_element lottery_play_div_element_2 lottery_play_div_element_border_2 lottery_play_div_element_select_2">
								<span class="span_element" data_html="0">0</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_2 lottery_play_div_element_border_2">
								<span class="span_element" data_html="1">1</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_2 lottery_play_div_element_border_2">
								<span class="span_element" data_html="2">2</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_2 lottery_play_div_element_border_2">
								<span class="span_element" data_html="3">3</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_2 lottery_play_div_element_border_2">
								<span class="span_element" data_html="4">4</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_2 lottery_play_div_element_border_2">
								<span class="span_element" data_html="5">5</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_2 lottery_play_div_element_border_2">
								<span class="span_element" data_html="6">6</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_2 lottery_play_div_element_border_2">
								<span class="span_element" data_html="7">7</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_2 lottery_play_div_element_border_2">
								<span class="span_element" data_html="8">8</span>
							</div>
							<div class="lottery_play_div_element lottery_play_div_element_2 lottery_play_div_element_border_2">
								<span class="span_element" data_html="9">9</span>
							</div>
						</div>
					</div>
					<div class="purchase">
						<div class="model_purchase">
							<div class="lottery_play_div_select">
								<div class="lottery_play_div_element_3 lottery_play_div_element_border_0 ">
									<span class="span_element lottery_play_1">0</span>
								</div>
								<div class="lottery_play_div_element_3 lottery_play_div_element_border_1">
									<span class="span_element lottery_play_2 ">0</span>
								</div>
								<div class="lottery_play_div_element_3 lottery_play_div_element_border_2">
									<span class="span_element lottery_play_3 ">0</span>
								</div>
							</div>
							<div class="lottery_play_div_select">
								<!--<span class="font_color" data-localize="base.spendAFewBefore">You select the</span>-->
								<a onclick="numner_add_or_aubtract(-1)" class="a_button">-</a><input value="1" class="input_number" onchange="numner_add_or_aubtract(0)"><a onclick="numner_add_or_aubtract(1)"  class="a_button">+</a>
								<span class="font_color" data-localize="base.spendAFewLater">Bet</span>
							</div>
						</div>
						<div class="model_purchase_1">
							<div class="lottery_play_div_select lottery_play_div_money">
								<div class="model_money">
									<p class="money_portion"><span data-localize="base.haploid">Double bonus : </span><span class="money_haploid">0</span> ETH</p>
									<p class="money_portion"><span data-localize="base.usable">Available Funds : </span><span class="money_self">0</span> ETH</p>
									<p class="money_portion"><span data-localize="base.expenditure">Payment amount : </span><span class="money_expenditure">0 * 1 + 燃氣費(最高≈0) = 0</span> ETH</p>
									<p class="money_portion bounty_title"><span data-localize="base.bounty">Amount of bonus : </span><span class="money_bounty">0</span> ETH</p>
								</div>
								<div class="lottery_play_div_select model_purchase_button">
									<div class="button_purchase" id="fast_select_random"><span data-localize="base.fastSelect">fast select</span></div>
									<div class="button_purchase" disabled="disabled" id="button_purchase"><span data-localize="base.purchase">purchase</span></div>
								</div>
							</div>
						</div>
						<div class="model_purchase_1 ul_self_record services_item_inner-1">
							<div class="model_purchase_left" id="lottery_self_record">
								<ul class=""></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- rule -->
			<div class="lottery_item rules">
				<div class="service_item_content">
					<div class="service_item_title">
						<h2 data-localize="base.rules">Rules</h2>
					</div>
				</div>
				<div id="rules_content">

				</div>
			</div>
			<!-- Lottery record -->
			<div class="lottery_item drawArchive">
				<div id="the_lottery_record_id" class="service_item_content">
					<div class="service_item_title">
						<h2 data-localize="base.drawArchive">Draw archive</h2>
					</div>
						<ul class="ul_draw_archive services_item_inner-1" id="lottery_record">
						</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- commonality fotter -->
	<%
	include("../common/bottom.html"){}
	%>
<div id="playPassword" style="display: none;">
	<div style="margin: 30px;">
		<div>
			<input type="password" class="paymentCode" placeholder="payment code">
		</div>
		<div class="model_purchase_button">
			<div class="button_purchase confirm" onclick="paymentCodeConfirm()"><span data-localize="base.confirm">confirm</span></div>
		</div>
	</div>
</div>

</div>
</body>
</html>