<!DOCTYPE html>
<html lang="en">
<head>
	<!-- commonality  meta and title -->
	<%
	include("../common/common.meta.html"){}
	%>
	<!-- commonality style -->
	<%
	include("../common/common.css.html"){}
	%>
	<link rel="stylesheet" type="text/css" href="../styles/main_styles1.css">
	<link rel="stylesheet" type="text/css" href="../styles/responsive1.css">
	<link rel="stylesheet" type="text/css" href="../styles/portfolio_styles.css">
	<link rel="stylesheet" type="text/css" href="../styles/portfolio_responsive.css">
</head>
<!-- commonality js -->
<%
include("../common/common.js.html"){}
%>
<script src="../js/portfolio_custom.js"></script>
<script src="../js/lotteryshop/person_center.js"></script>

<style>

	.draw_personal_lottery{cursor: pointer;}
	.draw_personal_back{cursor: pointer;text-align: center;border: solid;}
	.span_title{
		/*width:30px;*/
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		display: list-item;
		font-size: 11px;
		font-weight: 700;
		color: #777;
	}
	.span_title_member{
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		display: list-item;
		font-size: 11px;
		font-weight: 700;
		color: #777;
	}
	.personal_center{
		font-size: 16px;
		font-family: none;
		border-bottom: solid;
	}
	.select_search{
		width: 20%;
		border-radius: 2px;
		margin-top: 15px;
		height: 38px;
		border: 1px solid #ccc;
		background-color: white;
	}
	.search_div{
		padding-left: 1.25rem;
		margin-left: 10px;
		width: 100%;
	}
	.search_button{
		line-height:1;
	}
	.layui-input{
		display: inline;
		width: 20%;
	}
	.ul_wallet_module{
		border-radius: 5px;
		/*background: #ddd;*/
		width: 100%;
		height: 50px;
	}
	.li_wallet_module{
		float: left;
		width: 25%;
		height: 100%;
		line-height: 50px;
		text-align: center;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 2px;
	}
	.li_wallet_module_generalize{
		width:33% !important;
	}
	.li_wallet_module_right{
		border: none;
	}
	.head_img{
		margin-left: 2%;
		margin-bottom: 15px;
		display: inline-block;
	}
	.layui_head{
		display: inline-block;
		/*text-align: center;*/
	}
	.head_img_width{
		width: 30%;
	}
	.btn_head_button{
		width: 100%;
	}
	.layui_title{
		text-align: left;
		padding-left: 10px;
		background: #dddddd;
		margin-bottom: 15px;
	}
	.img_change_border{
		box-shadow: 0 0 15px;
	}
	.wallet_password_input{
		width: 90%;
		margin-bottom: 15px;
	}
	.pointerClass{
		color: #9f88be;
		cursor: pointer;
	}
	.button_display{
		display: block;
		width: 50%;
		text-align: center;
		margin: 0 auto;
		margin-top: 10px;
	}
	.div_btn{

	}
	.wallet_extract_wallet{
		/*width: 60%;*/
	}
	.eth_record{
		/*width: 60%;*/
	}
	.dlb_record{
		/*width: 60%;*/
	}
	.lsb_record{
		/*width: 60%;*/
	}
    .gdEth_record{
        /*width: 60%;*/
    }
	.wallet_head{
		background: #f8f9fa;
		border-radius: 5px;
		padding: 5px;
		/*width: 60%;*/
	}
	.wallet_head span{
		color: #868e96;
		font-weight: 600;
	}
	.span_right{
		margin-right: 50px;
	}
	.personal_center_model{
		/*width: 50%;*/
		height: 240px;
	}
	.hrEth{
		height: 1px;
		border: none;
		border-top: 1px dashed #ddd;
	}
	.li_come{
		padding: 5px;
		background: #f5f5f5;
		border-radius: 5px;
		margin-bottom: 3px;
	}
	.li_comeInto{
		padding: 5px;
		background: #f8f8f8;
		border-radius: 5px;
	}
	.ul_personal_Eth{
		margin-top: 15px;
		width: 100%;
		text-align: left;
	}
	.ul_personal_Dlb{
		margin-top: 15px;
		width: 100%;
		text-align: left;
	}
    .ul_personal_gdEth{
        margin-top: 15px;
        width: 100%;
        text-align: left;
    }
	.walletPutMoney{
		margin-top: 15px;
		width: 100%;
		text-align: left;
	}
	.walletFLAT{
		margin-top: 15px;
		width: 100%;
		text-align: left;
	}
	.ul_personal_generalizePersonal{
		margin-top: 15px;
		width: 100%;
		text-align: left;
	}
	.personal_center_model{
		background:#f8f9fa;
		border-radius: 5px;
		padding: 10px;
	}
	.wallet_content{
		font-size: 11px;
	}
	.wallet_title{
		font-size: 11px;
		font-weight: 600;
		padding-left: 5px;
	}
	.lottery_span_right{
		margin-right: 15px;
	}
	.li_lotteryRecord{
		background: #f8f9fa;
		border-radius: 5px;
		padding: 5px;
	}
	.personal_li{
		width: 100%;
	}
	.wallet_left{
		overflow: auto;
	}
	.wallet_left::-webkit-scrollbar {/*滚动条整体样式*/
		width: 2px;     /*高宽分别对应横竖滚动条的尺寸*/
		height: 1px;
	}
	.wallet_left::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
		border-radius: 2px;
		-webkit-box-shadow: inset 0 0 2px rgba(0,0,0, 0.07);
		background: rgba(151, 151, 151, 0.3);
	}
	.wallet_left::-webkit-scrollbar-track {/*滚动条里面轨道*/
		-webkit-box-shadow: inset 0 0 2px rgba(0,0,0, 0.07);
		border-radius: 2px;
		background: rgba(151, 151, 151, 0.3);
	}
	.model_margin_top{
		margin-top: 15px;
	}

	.personal_wallet{

	}
	.phone_model_img{
		width: 115px;
		height: 115px;
	}
	.money_input{
		border: none;
		border-radius: 5px;
		width: 100%;
		/*margin-left: 10px;*/
		background: center;
	}
	.money_input_1{
		border: none;
		border-radius: 5px;
		width: 20%;
		margin-left: 10px;
		background: center;
	}
	.moneyOpenOrClose{
		float: right;
		color: darkgrey;
	}
	.p_margin{
		margin-top: 5px;
	}
	.p_money_main{
		font-size: 18px;
		font-weight: 700;
		color: #9f88be;
	}
	.p_money_dollar{
		font-size: 11px;
		font-weight: 500;
		color: #9f88be;
	}
	.personal_wallet_detail{
		background: #e9ecef;
		border-radius: 5px;
		width: 30%;
		padding: 3px;
		margin: 3px;
		float: left;
		height: 120px;
	}
	.div_withdrawCash{
		float: left;
		width: 49%;
		border-right: solid 1px #e2e2e2;
	}
	.div_recharge{
		float: left;
		width: 49%;
		padding-left: 5px;
	}
	.wallet_extract_password{
		height: 265px !important;
	}
	.wallet_extract_generalize{
		height: auto !important;
	}
	.statusStr{
		float: right;
	}
	.total{
		border: none;
		border: none;
		background: #f8f9fa;
	}
	.generalize_statistics_ul{
		/*background: #f8f9fa;*/
		padding: 5px;
        width: 100%;
        border-radius: 5px;
    }
	.level{
		float: left;
		width: 18%;
		height: 60px;
        font-size: 22px;
        font-weight: 600;
	}
	.generalize_left{
		float: left;
		width: 38%;
		height: 60px;
		text-align: left;
		margin-left: 30px;
	}
    .generalize_left p{
        font-weight: 600;
	}
	.generalize_right{
		float: left;
		width: 38%;
		height: 60px;
	}
    .generalize_right p{
        font-weight: 600;
    }
	.generalize_statistics_ul li{
		margin-bottom: 3px;
		background: #f8f8f8;
		height: 60px;
	}
	.wallet_span_title_net_asset{
		font-size: 15px;
		font-weight: 800;
	}
	.money_input_usd{
		font-size: 11px;
	}
	.active{
		background:  #ddd;
	}
	.li_come_0{
		background: aliceblue;
	}
</style>
<script>
	$(function(){

		//初始化方法
		var li = $(".personal_center");
		li.click();
		$(".walletETH").scroll(function(){
			var viewH = $(this).height();
			var contentH = $(this).get(0).scrollHeight;
			var scrollTop =$(this).scrollTop();
			if(scrollTop/(contentH -viewH) >= 0.95){
				findWalletRecord(false,'walletETH','/api/base/v1/ethWallet/findEthRecord')
			}
		});

		$(".lottery_record").scroll(function(){
			var viewH = $(this).height();
			var contentH = $(this).get(0).scrollHeight;
			var scrollTop =$(this).scrollTop();
			if(scrollTop/(contentH -viewH) >= 0.95){
				findLotteryRecord(false,"lottery_record");
			}
		});
		$(".generalizePersonal").scroll(function(){
			var viewH = $(this).height();
			var contentH = $(this).get(0).scrollHeight;
			var scrollTop =$(this).scrollTop();
			if(scrollTop/(contentH -viewH) >= 0.95){
				gengeralizeMemberInit(false,'generalizeRecord');
			}
		});

		$(".li_wallet_module").click(function(){
			var type = $(this).attr("data-class") || "";
			/*if(type == 'wallet_bind'){
				$(location).prop('href','../web/personalWalletBind?'+"type="+type);
			}else{*/
			$(location).prop('href','../web/personalWalletBase?'+"type="+type);
			//}
		});

		//昵称标签超出长度显示省略号
		var span_title = $(".span_title").html();
		if (span_title.length > 50) {
			//截取固定长度
			var span_title = span_title.substring(0, 50);
			//为非隐藏<span>标签赋值--截取固定长度
			$(".span_title").text(span_title+"...");
		} else {
			$(".span_title").text(span_title);
		}

		//屏幕分辨率小于991的初始化方法
		$(".personal_phone").click(function(){
			var type = $(this).attr("data-file") || "";
			if(type == 'generalize'){
				$(location).prop('href','../web/personalGeneralizePhone');
			}
			if(type == 'lottery_record'){
				$(location).prop('href','../web/personalPhoneType?'+"type="+type);
			}
			if(type == 'password_management'){
				$(location).prop('href','../web/personalPasswordManagement');

			}
			if(type == 'wallet_bind'){
				$(location).prop('href','../web/personalWalletBind?'+"type="+type);
			}
		});

		// layer Time initialization
		layui.use('laydate', function(){
			var laydate = layui.laydate;
			laydate.render({
				elem: '.startDateInput'
			});
		});
		layui.use('laydate', function(){
			var laydate = layui.laydate;
			laydate.render({
				elem: '.endDateInput'
			});
		});
		layui.use('laydate', function(){
			var laydate = layui.laydate;
			laydate.render({
				elem: '.generalizeStartTime'
			});
		});
		layui.use('laydate', function(){
			var laydate = layui.laydate;
			laydate.render({
				elem: '.generalizeEndTime'
			});
		});

		var height = document.body.clientHeight;
		$(".wallet_left").height(height-50);
		$(".card").height(height-50);

		$(".eyeOpenOrClose").click(function(){
			var object = $(this);
			var dataValue = object.attr("dataValue") || '1';
			var div = object.parent();
			if(dataValue == '1'){
				//open
				object.removeClass("glyphicon-eye-open");
				object.addClass("glyphicon-eye-close");
				object.attr("dataValue",'2');
				div.find("input").prop("type","password");

			}
			if(dataValue == '2'){
				//close
				object.removeClass("glyphicon-eye-close");
				object.addClass("glyphicon-eye-open");
				div.find("input").prop("type","text");
				object.attr("dataValue",'1');
			}
		});

		var generalizeType = '${generalizeType}';
		if(generalizeType == 'true'){
			$(".personal_center_model").innerHeight("370px");
			$(".personal_wallet_detail").innerWidth('48%');
		}

		var moneyIsView = '${loginUser.moneyView!"0"}'
		$(".moneyOpenOrClose").attr("datavalue",moneyIsView);
		moneyOpenOrClose(moneyIsView);
		$(".moneyOpenOrClose").click(function(){
			var isView =  $(".moneyOpenOrClose").attr("datavalue");
			moneyOpenOrClose(isView);
			updateMoneyIsView(isView);
		});

		gengeralizeMemberInit(true,'generalizeRecord');
		findETHWallet( 'walletETH','/api/base/v1/ethWallet/findEthWallet');//eth
		findETHWallet( 'walletPutMoney','/api/base/v1/dlbWallet/findDlbWallet');//dlb
		findETHWallet( 'walletFLAT','/api/base/v1/lsbWallet/findLsbWallet');//lsb
		findETHWallet( 'walletGdEth','/api/base/v1/gdethWallet/findGdethWallet');//gdEth

		findWalletRecord(true,'walletETH','/api/base/v1/ethWallet/findEthRecord');//eth
		findWalletRecord(true,'walletPutMoney','/api/base/v1/dlbWallet/findDlbRecord');//dbl
		findWalletRecord(true,'walletFLAT','/api/base/v1/lsbWallet/findLsbRecord');//lsb
		findWalletRecord(true,'walletGdEth','/api/base/v1/gdethWallet/findGdethRecord');//gdEth
		getEthToUsd("personal_wallet_center");
		div_head_images();//heard
		findLotteryRecord(true,"lottery_record");
		getWalletConfig();
		generalizeInitRegisterUrl();
		findGeneralizeStatistics();
		var languageType = getLanguage();
		if(languageType != 'zh'){
			languageType = 'en'
		}
		infoContentGenerlize(languageType);
	})
	function moneyOpenOrClose(isView){
		//var isView = $(".moneyOpenOrClose").attr("datavalue");
		if(isView == '0'){
			$(".moneyOpenOrClose").removeClass("glyphicon-eye-open");
			$(".moneyOpenOrClose").addClass("glyphicon-eye-close");
			$(".moneyOpenOrClose").attr("dataValue",'1');
			$(".money_input").prop("type","password");
			$(".money_input_1").prop("type","password");
		}
		if(isView == '1'){
			$(".moneyOpenOrClose").removeClass("glyphicon-eye-close");
			$(".moneyOpenOrClose").addClass("glyphicon-eye-open");
			$(".moneyOpenOrClose").attr("dataValue",'0');
			$(".money_input").prop("type","text");
			$(".money_input_1").prop("type","text");
		}
	}
</script>
<body class="body_top">
<div class="super_container">
	<!-- commonality head -->
	<%
	include("../common/index_top.html"){}
	%>
	<!-- Home -->

	<div class="portfolio" style="overflow-x: hidden;">
		<div class="container container_left">
			<div class="row">
				<div class="col">
					<div class="portfolio_items">
						<div class="person_center card">
							<div class="person_center_module">
								<div class="card-title">
									<img onclick="changePicture()" class="img_head" src="${loginUser.headPortraitUrl!defaultHeadImg}">
									<div class="person_center_info">
										<div class="person_center_info_div">
											<span class="span_title_member" title="${loginUser.memberName!''}">${loginUser.memberName!""}</span>
											<span class="span_title" title="${loginUser.email!''}">${loginUser.email!""}</span>
										</div>
									</div>
								</div>
								<div class="card-text">
									<!--<p class="p_wallet_module" ><span>Grade:100</span><span>Gold Club</span></p>
									<p class="p_wallet_module"><span>ETH:10ETH</span><span>gold:1000DB</span></p>-->
									<ul class="ul_wallet_module">
										<% if(generalizeType){ %>
											<li class="li_wallet_module" data-class="wallet_eth">ETH &nbsp;> </li>
											<li class="li_wallet_module" data-class="wallet_flat"><span data-localize="base.flat">Flat t</span> &nbsp;> </li>
											<li class="li_wallet_module" data-class="wallet_putMoney"><span data-localize="base.putMoney">Put money</span> &nbsp;></li>
											<li class="li_wallet_module" data-class="wallet_gdEth"><span data-localize="base.gdEth">GdEth</span> &nbsp;></li>
										<% }else{ %>
											<li class="li_wallet_module li_wallet_module_generalize" data-class="wallet_eth">ETH &nbsp;&nbsp;> </li>
											<li class="li_wallet_module li_wallet_module_generalize" data-class="wallet_flat"><span data-localize="base.flat">Flat t</span> &nbsp;&nbsp;> </li>
											<li class="li_wallet_module li_wallet_module_generalize" data-class="wallet_putMoney"><span data-localize="base.putMoney">Put money</span> &nbsp;&nbsp;></li>
										<% } %>
										<!--<li class="li_wallet_module li_wallet_module_right" data-class="wallet_bind"><span data-localize="base.wallet">Wallet</span> &nbsp;&nbsp;></li>-->
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="portfolio_categories button-group filters-button-group">
						<ul class="personal_li">
							<li class="portfolio_category draw_personal_lottery personal_center" data-filter=".personalCenter" data-localize="base.personalCenter">personal center</li>
							<li class="portfolio_category draw_personal_lottery wallet_li" data-filter=".walletETH">ETH</li>
							<li class="portfolio_category draw_personal_lottery wallet_li" data-filter=".walletFLAT" data-localize="base.flat">Flat</li>
							<li class="portfolio_category draw_personal_lottery wallet_li" data-filter=".walletPutMoney" data-localize="base.putMoney">Put money</li>
							<% if(generalizeType){ %>
								<li class="portfolio_category draw_personal_lottery wallet_li" data-filter=".walletGdEth" data-localize="base.gdEth">dividend</li>
							<% } %>
							<li class="portfolio_category portfolio_category_bottom" data-filter=".wallet" data-localize="base.wallet">Wallet address</li>
							<hr>
							<li class="portfolio_category draw_personal_lottery portfolio_category_bottom" data-filter=".web_design" data-localize="base.lotteryRecord">lottery record</li>
							<hr>
							<li class="portfolio_category draw_personal_lottery portfolio_category_bottom" data-filter=".passwordManagement" data-localize="base.passwordManagement">Password management</li>
							<hr>
							<li class="portfolio_category draw_personal_lottery" data-filter=".generalize" data-localize="base.generalize">generalize</li>
							<li class="portfolio_category draw_personal_lottery" data-filter=".generalizePersonal" data-localize="base.generalizePersonnel">generalize personnel</li>
							<li class="portfolio_category draw_personal_lottery portfolio_category_bottom" data-filter=".generalize_statistics" data-localize="base.generalizeStatistics">Generalize statistics</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div  class="container container_right product-grid">

			<!-- Password management -->
			<div class="card card-1 card-1_scroll passwordManagement">
				<div class="card-body">
					<div>
						<div class="wallet_extract wallet_extract_password">
							<p class="model_title" data-localize="base.loginPassword">login password</p>
							<div><input class="input_class_2 wallet_password_input" type="password" name="oldPassword" placeholder="Old password"><span datavalue="2" class="eyeOpenOrClose pointerClass glyphicon glyphicon-eye-close"></span></div>
							<div><input class="input_class_2 wallet_password_input" type="password" name="newPassword" placeholder="new password"><span datavalue="2" class="eyeOpenOrClose pointerClass glyphicon glyphicon-eye-close"></span></div>
							<div><input class="input_class_2 wallet_password_input" type="password" name="confirmPassword" placeholder="confirm password"><span datavalue="2" class="eyeOpenOrClose pointerClass glyphicon glyphicon-eye-close"></span></div>
							<div class="div_btn">
								<a onclick="updatePassword(this,1)" href="#" class="wallet_button button_display" data-localize="base.confirm">confirm</a>
							</div>
						</div>

						<div class="wallet_extract wallet_extract_password model_margin_top">
							<p class="model_title" data-localize="base.paymentCode">payment code</p>
							<div><input class="input_class_2 wallet_password_input" type="password" name="oldPassword" placeholder="Old password"><span datavalue="2" class="eyeOpenOrClose pointerClass glyphicon glyphicon-eye-close"></span></div>
							<div><input class="input_class_2 wallet_password_input" type="password" name="newPassword" placeholder="new password"><span datavalue="2" class="eyeOpenOrClose pointerClass glyphicon glyphicon-eye-close"></span></div>
							<div><input class="input_class_2 wallet_password_input" type="password" name="confirmPassword" placeholder="confirm password"><span datavalue="2" class="eyeOpenOrClose pointerClass pointerClass glyphicon glyphicon-eye-close"></span></div>
							<div class="div_btn">
								<a onclick="updatePassword(this,2)" href="#" class="wallet_button button_display" data-localize="base.confirm">confirm</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card personalCenter">
				<div class="card-body">
					<div class="personal_center_model personal_wallet_center">
						<div class="personal_wallet">
							<p class="wallet_title p_margin"><span data-localize="base.netAssets"></span><span datavalue="0.00" class="moneyOpenOrClose pointerClass glyphicon glyphicon-eye-close"></span></p>
							<p class="wallet_content p_margin">
							<p class="p_money_main"><span class="walletTotalEth"><input readonly="readonly" class="money_input" value="0.00"/></span></p>
							<p class="p_money_dollar"><span class="ethTotalToUsd"><input readonly="readonly" class="money_input" value="≈$0.00"/></span> </p>
							</p>
						</div>
						<div class="personal_wallet personal_wallet_detail">
							<p class="wallet_title" p_margin>ETH</p>
							<p class="wallet_content p_margin">
								<p class="p_money_main"><span class="walletEth"><input readonly="readonly" class="money_input" value="0.00"/></span></p>
								<p class="p_money_dollar"><span class="ethToUsd"><input readonly="readonly" class="money_input" value="≈$0.00"/></span></p>
							</p>
						</div>
						<div class="personal_wallet personal_wallet_detail">
							<p class="wallet_title p_margin" data-localize="base.flat">gold</p>
							<p class="wallet_content p_margin">
							<p class="p_money_main"><span class="walletGold"><input readonly="readonly" class="money_input" value="0.00"/></span></p>
							<p class="p_money_dollar">
								<span class="goldToEth"><input readonly="readonly" class="money_input" value="≈ETH0.00"/></span>
								<span class="goldToUsd"><input readonly="readonly" class="money_input" value="≈$0.00"/></span>
							</p>
							</p>
						</div>
						<div class="personal_wallet personal_wallet_detail">
							<p class="wallet_title p_margin" data-localize="base.putMoney">put money</p>
							<p class="wallet_content p_margin">
							<p class="p_money_main"><span class="walletPutMoney"><input readonly="readonly" class="money_input" value="0.00"/></span></p>
							<p class="p_money_dollar">
								<span class="putMoneyToEth"><input readonly="readonly" class="money_input" value="≈ETH0.00"/></span>
								<span class="putMoneyToUsd"><input readonly="readonly" class="money_input" value="≈$0.00"/></span>
							</p>
						</div>
						<% if(generalizeType){ %>
						<div class="personal_wallet personal_wallet_detail">
							<p class="wallet_title p_margin" data-localize="base.gdEth">GdEth</p>
							<p class="wallet_content p_margin">
							<p class="p_money_main"><span class="walletGdEth"><input readonly="readonly" class="money_input" value="0.00"/></span></p>
							<p class="p_money_dollar">
								<span class="gdEthToUsd"><input readonly="readonly" class="money_input" value="≈$0.00"/></span>
							</p>
						</div>
						<% } %>
					</div>
				</div>
			</div>
			<!-- 购买彩票记录和中奖记录 -->
			<div class="search_div web_design">
				<input type="text" class="input_class startDateInput  layui-input" placeholder="start：yyyy-MM-dd">
				<input type="text" class="input_class endDateInput  layui-input" placeholder="end：yyyy-MM-dd">
				<select class="select_search lotteryTypeSelect">
					<option value="-1" data-localize="base.allTypes">All types</option>
					<option value="1">A</option>
				</select>
                <select class="select_search lotteryWinningSelect">
                    <option value="-1" data-localize="base.all">All</option>
                    <option value="1" data-localize="base.Winning">中奖</option>
                    <option value="0" data-localize="base.onWinning">未中奖</option>
                </select>
				<button class="btn search_lottery_record" data-localize="base.search">查询</button>
				<hr>
			</div>
			<hr class="web_design">
			<div class="card card-1 card-1_scroll web_design lottery_record">
				<div class="card-body">
					<ul class="ul_personal_lottery">
						<li class="li_lotteryRecord">
							<div>
								<p><span class="lotteryType lottery_span_right">Lottery type</span><span class="lotteryIssue"></span></p>
								<p>
									<span class="luckNumStr">幸运号 : </span><span class="lottery_span_right selfLuckNum"></span>
									<span class="winningNumStr">开奖号 : </span><span class="lottery_span_right luckNum"></span>
									<span class="luckAmountStr">幸运金 : </span><span class="luckTotal"></span>
								</p>
								<p><span class="startTime">00:00:00 00:00:00</span> ~ <span class="endTime">00:00:00 00:00:00</span></p>
							</div>
							<hr style="height: 1px; border: none; border-top: 1px dashed #ddd;" />
						</li>
					</ul>
				</div>
				<hr>
			</div>
			<!-- ETH 记录 -->
			<div class="card card-1 card-1_scroll walletETH">
				<div class="card-body">
					<div class="eth_record">
						<div class="wallet_head">
							<p class="p_margin"><span class="wallet_span_title wallet_span_title_net_asset" data-localize="base.netAssets">Net assets</span><span datavalue="0" class="moneyOpenOrClose pointerClass glyphicon glyphicon-eye-close"></span></p>
							<p class="p_margin"><span class="wallet_span_total"><input readonly="readonly" class="money_input" value="0.00"/></span></p>
							<p class="p_margin"><span class="wallet_span_total_eth_usd"><input readonly="readonly" class="money_input money_input_usd" value="0.00"/></span></p>
							<p class="p_margin">
								<span data-localize="base.balance1">balance</span><span class="span_right balance"><input readonly="readonly" class="money_input_1" value="0.00"/></span>
								<span data-localize="base.freeze">freeze</span><span class="freeze"><input readonly="readonly" class="money_input_1" value="0.00"/></span></p>
						</div>
						<div class="wallet_extract">
							<div class="wallet_address_self">
								<!--<p><span class="title_span_1">ETH </span></p>-->
								<div class="div_withdrawCash wallet_address_self_eth_withdrawCash">
									<p><span class="title_span_2" data-localize="base.withdrawCash">Withdraw cash</span></p>
									<p><span data-localize="base.rules">规则</span></p>
									<!--<p>
										<span class="title_span_3" data-localize="base.total">total</span> : <span class="wallet_span_total">0ETH</span>
										<span class="title_span_3" data-localize="base.balance1">balance</span> : <span class="balance">0ETH </span>
										<span class="title_span_3" data-localize="base.freeze">freeze</span> : <span class="freeze">0ETH</span>
									</p>-->
									<input class="input_class_2 wallet_password_input " type="text" placeholder="Extract the number">
									<div class="div_btn">
										<a class="wallet_button button_display" href="#" propertyType="1" onclick="withdrawCashEth(this)" ><span data-localize="base.withdrawCash">withdraw cash</span></a>
									</div>
								</div>
								<div class="div_recharge">
									<p><span class="title_span_2" data-localize="base.recharge">Recharge</span></p>
									<p><span class="title_span_3" data-localize="base.address">address</span> : <span>${loginUser.PAddress!"error"}</span></p>
								</div>
							</div>
						</div>
						<ul class="ul_personal_Eth">
							<li class="li_come">
								<div>
									<p><span class="statusTime span_right"></span><span class="divType"></span><span class="statusStr"></span></p>
									<p>
										<span class="expend glyphicon glyphicon-minus" data-localize="base.expend"></span><span class="recorded glyphicon glyphicon-plus" data-localize="base.recorded"></span>
										<span class="span_right expendOrReceipts">0.1</span>
										<span class="balanceStr" data-localize="base.balance1">余额 : </span><span class="span_right balance1">0.0</span>
										<span class="ethGas ethGasStr" data-localize="base.ethGas">燃气费 : </span><span class="ethGas ethGasStrInfo">0.0</span>
										<span class="ethGas ethGasStr" data-localize="base.ethGas">燃气费 : </span><span class="ethGas ethGasStrInfo">0.0</span>
									</p>
								</div>
								<!--<hr class="hrEth">-->
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Put Money record -->
			<div class="card card-1 card-1_scroll walletPutMoney">
				<div class="card-body">
					<div class="dlb_record">
						<div class="wallet_head">
							<p class="p_margin"><span class="wallet_span_title wallet_span_title_net_asset" data-localize="base.netAssets">Net assets</span><span datavalue="0" class="moneyOpenOrClose pointerClass glyphicon glyphicon-eye-close"></span></p>
							<p class="p_margin"><span class="wallet_span_total"><input readonly="readonly" class="money_input" value="0.00"/></span></p>
							<p class="p_margin"><span class="wallet_span_total_dlb_usd"><input readonly="readonly" class="money_input money_input_usd" value="0.00"/></span></p>
							<p class="p_margin">
								<span data-localize="base.balance1">balance</span><span class="span_right balance"><input readonly="readonly" class="money_input_1" value="0.00"/></span>
								<span data-localize="base.freeze">freeze</span><span class="freeze"><input readonly="readonly" class="money_input_1" value="0.00"/></span>
							</p>
						</div>
						<ul class="ul_personal_Dlb">
							<li class="li_come">
								<div>
									<p><span class="statusTime span_right">2019-12-13 15:15:07</span><span class="divType"></span><span class="statusStr"></span></p>
									<p>
										<span class="expend glyphicon glyphicon-minus" data-localize="base.expend"></span><span class="recorded glyphicon glyphicon-plus" data-localize="base.recorded"></span>
										<span class="span_right expendOrReceipts">0.0</span>
										<span class="balanceStr" data-localize="base.balance1">余额 : </span><span class="span_right balance1">0.0</span>
									</p>
								</div>
								<!--<hr class="hrEth">-->
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- gdEth Record -->
			<div class="card card-1 card-1_scroll walletGdEth">
				<div class="card-body">
					<div class="gdEth_record">
						<div class="wallet_head">
							<p class="p_margin"><span class="wallet_span_title wallet_span_title_net_asset" data-localize="base.netAssets">Net assets</span><span datavalue="0" class="moneyOpenOrClose pointerClass glyphicon glyphicon-eye-close"></span></p>
							<p class="p_margin"><span class="wallet_span_total"><input readonly="readonly" class="money_input" value="0.00"/></span></p>
							<p class="p_margin"><span class="wallet_span_total_gd_usd"><input readonly="readonly" class="money_input money_input_usd" value="0.00"/></span></p>
							<p class="p_margin">
								<span data-localize="base.balance1">balance</span><span class="span_right balance"><input readonly="readonly" class="money_input_1" value="0.00"/></span>
								<span data-localize="base.freeze">freeze</span><span class="freeze"><input readonly="readonly" class="money_input_1" value="0.00"/></span>
							</p>
						</div>
						<ul class="ul_personal_gdEth">
							<li class="li_come">
								<div>
									<p><span class="statusTime span_right">2019-12-13 15:15:07</span><span class="divType"></span><span class="statusStr"></span></p>
									<p>
										<span class="expend glyphicon glyphicon-minus" data-localize="base.expend"></span><span class="recorded glyphicon glyphicon-plus" data-localize="base.recorded"></span>
										<span class="span_right expendOrReceipts">0.0</span>
										<span class="balanceStr" data-localize="base.balance1">余额 : </span><span class="span_right balance1">0.0</span>
									</p>
								</div>
								<!--<hr class="hrEth">-->
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- FLAT 记录 -->
			<div class="card card-1 card-1_scroll walletFLAT">
				<div class="card-body">
					<div class="lsb_record">
						<div class="wallet_head">
							<p class="p_margin"><span class="wallet_span_title wallet_span_title_net_asset" data-localize="base.netAssets">Net assets</span><span datavalue="0" class="moneyOpenOrClose pointerClass glyphicon glyphicon-eye-close"></span></p>
							<p class="p_margin"><span class="wallet_span_total"><input readonly="readonly" class="money_input" value="0.00"/></span></p>
							<p class="p_margin"><span class="wallet_span_total_lsb_usd"><input readonly="readonly" class="money_input money_input_usd" value="0.00"/></span></p>
							<p class="p_margin">
								<span data-localize="base.balance1">balance</span><span class="span_right balance"><input readonly="readonly" class="money_input_1" value="0.00"/></span>
								<span data-localize="base.freeze">freeze</span><span class="freeze"><input readonly="readonly" class="money_input_1" value="0.00"/></span>
							</p>
						</div>
						<div class="wallet_extract wallet_extract_wallet_bottom">
							<div class="wallet_address_self">
								<!--<p><span class="title_span_1" data-localize="base.flat">flat</span></p>-->
								<div class="div_withdrawCash wallet_address_self_flat_withdrawCash">
									<p><span class="title_span_2" data-localize="base.withdrawCash">Withdraw cash</span></p>
									<!--<p>
										<span class="title_span_3" data-localize="base.total">total</span> : <span class="wallet_span_total"></span>
										<span class="title_span_3" data-localize="base.balance1">balance</span> : <span class="balance"></span>
										<span class="title_span_3" data-localize="base.freeze">freeze</span> : <span class="freeze"></span>
									</p>-->
									<p><span data-localize="base.exchange">exchange</span> : <span class="lsbToEth"></span> = 1 ETH</p>
									<input class="input_class_2 wallet_password_input" type="text" placeholder="Extract the number">
									<div class="div_btn">
										<a class="wallet_button button_display" href="#" propertyType="2" onclick="withdrawCashEth(this)" data-localize="base.withdrawCash">withdraw cash</a>
									</div>
								</div>
								<div class="div_recharge wallet_address_self_flat_recharge">
									<p><span class="title_span_2" data-localize="base.recharge">Recharge</span></p>
									<p><span data-localize="base.exchange">exchange</span> : 1 ETH = <span class="ethToLsb"></span></p>
									<input class="input_class_2 wallet_password_input" type="text" placeholder="Prepaid phone number">
									<div class="div_btn">
										<a class="wallet_button button_display" href="#" propertyType="3" onclick="withdrawCashEth(this)" data-localize="base.recharge">recharge</a>
									</div>
								</div>
							</div>
						</div>
						<ul class="ul_personal_lottery">
							<li class="li_come">
								<div>
									<p><span class="statusTime span_right">2019-12-13 15:15:07</span><span class="divType"></span><span class="statusStr"></span></p>
									<p>
										<span class="expend glyphicon glyphicon-minus" data-localize="base.expend"></span><span class="recorded glyphicon glyphicon-plus" data-localize="base.recorded"></span>
										<span class="span_right expendOrReceipts">0.0</span>
										<span class="balanceStr" data-localize="base.balance1">余额 : </span><span class="span_right balance1">0.0</span>
									</p>
								</div>
								<!--<hr class="hrEth">-->
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 推广主页 -->
			<div class="card generalize">
				<div class="wallet_left">
					<div class="generalizeContent wallet_extract wallet_extract_generalize">
						<!--<p>推广游戏可获得推广佣金，推广佣金层级为7层，包含消费佣金和中奖佣金两部分。</p>
                        <p>1.当用户7层内下级产生消费时，该消费用户消费金额的5%作为消费佣金，回馈给该消费用户的7层内上级。</p>
                        <p>2.当用户7层内下级产生中奖时，该中奖用户中奖金额的10%作为中奖佣金，回馈给该中奖用户的7层内上级。</p>
                        <p>注：中奖佣金由平台单独支付，不影响中奖用户奖金金额。</p>-->
					</div>
					<div class="wallet_extract wallet_extract_generalize">
						<p><span class="generalizeEwmUrl"></span></p>
					</div>
					<div class="wallet_extract wallet_extract_generalize">
						<img src="../api/base/v1/member/generalizeInit">
					</div>
				</div>
			</div>
			<!-- 推广人員 -->
			<div class="card card-1 card-1_scroll generalizePersonal">
				<div class="card-body generalizeRecord">
					<ul class="ul_personal_generalizePersonal">
						<li>
							<div>
								<p><span class="span_title generalizePersonalRecordNikeName"></span></p>
								<p><span class="generalizePersonalRecordEmail"></span></p>
							</div>
							<hr class="hrEth">
						</li>
					</ul>
				</div>
			</div>
			<!-- generalize statistics -->
			<div class="search_div generalize_statistics">
				<input type="text" class="input_class generalizeStartTime layui-input" placeholder="start：yyyy-MM-dd">
				<input type="text" class="input_class generalizeEndTime layui-input" placeholder="end：yyyy-MM-dd">
				<button class="btn" onclick="findGeneralizeStatistics()" data-localize="base.search">查询</button>
				<hr>
			</div>
			<hr class="generalize_statistics">
			<div class="card generalize_statistics ">
				<div class="card-body">
					<ul class="generalize_statistics_ul">
						<li class="generalize_statistics_1">
							<div>
								<div class="level level_1"><span data-localize="base.level_1">一楼</span></div>
								<div class="generalize_left">
									<p><input class="total ztotal" value="0"><span  data-localize="base.winningBonus"></span></p>
									<p><input class="total gtotal" value="0"><span  data-localize="base.purchaseBonus"></span></p>
								</div >
                                <div class="generalize_right"><p><input class="total personNum"></input><span data-localize="base.numberPeople"></span></p></div>
							</div>
						</li>
						<li class="generalize_statistics_2">

							<div>
								<div class="level level_2"><span data-localize="base.level_2">二楼</span></div>
								<div class="generalize_left">
									<p><input class="total ztotal" value="0"><span  data-localize="base.winningBonus"></span></p>
									<p><input class="total gtotal" value="0"><span  data-localize="base.purchaseBonus"></span></p>
								</div >
                                <div class="generalize_right"><p><input class="total personNum"></input><span data-localize="base.numberPeople"></span></p></div>
							</div>
						</li>
						<li class="generalize_statistics_3">

							<div>
								<div class="level level_3"><span data-localize="base.level_3">三楼</span></div>
								<div class="generalize_left">
									<p><input class="total ztotal" value="0"><span  data-localize="base.winningBonus"></span></p>
									<p><input class="total gtotal" value="0"><span  data-localize="base.purchaseBonus"></span></p>
								</div >
                                <div class="generalize_right"><p><input class="total personNum"></input><span data-localize="base.numberPeople"></span></p></div>
							</div>
						</li>
						<li class="generalize_statistics_4">

							<div>
								<div class="level level_4"><span data-localize="base.level_4">四楼</span></div>
								<div class="generalize_left">
									<p><input class="total ztotal" value="0"><span  data-localize="base.winningBonus"></span></p>
									<p><input class="total gtotal" value="0"><span  data-localize="base.purchaseBonus"></span></p>
								</div >
                                <div class="generalize_right"><p><input class="total personNum"></input><span data-localize="base.numberPeople"></span></p></div>
							</div>
						</li>
						<li class="generalize_statistics_5">

							<div>
								<div class="level level_5" ><span data-localize="base.level_5">五楼</span></div>
								<div class="generalize_left">
									<p><input class="total ztotal" value="0"><span data-localize="base.winningBonus"></span></p>
									<p><input class="total gtotal" value="0"><span data-localize="base.purchaseBonus"></span></p>
								</div >
                                <div class="generalize_right"><p><input class="total personNum"></input><span data-localize="base.numberPeople"></span></p></div>
							</div>
						</li>
						<li class="generalize_statistics_6">
							<div>
								<div  class="level level_6" ><span data-localize="base.level_6">六楼</span></div>
								<div class="generalize_left">
									<p><input class="total ztotal" value="0"><span  data-localize="base.winningBonus"></span></p>
									<p><input class="total gtotal" value="0"><span  data-localize="base.purchaseBonus"></span></p>
								</div >
                                <div class="generalize_right"><p><input class="total personNum"></input><span data-localize="base.numberPeople"></span></p></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 钱包 包括绑定地址和提现功能 -->
			<div class="card wallet wallet_piece">
				<div class="wallet_left">
					<%
					if(pAddress == true){
					%>
						<div class="wallet_extract wallet_extract_wallet ">
							<div class="wallet_address_self">
								<p><span class="title_span_1" data-localize="base.walletAddress">wallet address</span></p>
								<p><span>${loginUser.BAddress!"error"}</span></p>
								<input class="input_class_2 wallet_password_input" type="text" name="update_bAddress" placeholder="wallet address">
								<div class="div_btn">
									<a class="wallet_button button_display" href="#" onclick="update_confirm()" data-localize="base.update">Update</a>
								</div>
							</div>
						</div>
						<!--<div class="wallet_extract wallet_extract_wallet">
							<div class="wallet_address_self">
								<p><span class="title_span_1">ETH </span></p>
								<div class="wallet_address_self_eth_withdrawCash">
									<p><span class="title_span_2" data-localize="base.withdrawCash">Withdraw cash</span></p>
									<p>规则：</p>
									<p>
										<span class="title_span_3" data-localize="base.total">total</span> : <span class="wallet_span_total">0ETH</span>
										<span class="title_span_3" data-localize="base.balance1">balance</span> : <span class="balance">0ETH </span>
										<span class="title_span_3" data-localize="base.freeze">freeze</span> : <span class="freeze">0ETH</span>
									</p>
									<input class="input_class_2 wallet_password_input " type="text" placeholder="Extract the number">
									<div class="div_btn">
										<a class="wallet_button button_display" href="#" propertyType="1" onclick="withdrawCashEth(this)" ><span data-localize="base.withdrawCash">withdraw cash</span></a>
									</div>
								</div>
								<hr>
								<div>
									<p><span class="title_span_2" data-localize="base.recharge">Recharge</span></p>
									<p><span class="title_span_3" data-localize="base.address">address</span> : <span>${loginUser.PAddress!"error"}</span></p>
								</div>
							</div>
						</div>-->
						<!--<div class="wallet_extract wallet_extract_wallet wallet_extract_wallet_bottom">
							<div class="wallet_address_self">
								<p><span class="title_span_1" data-localize="base.flat">flat</span></p>
								<div class="wallet_address_self_flat_withdrawCash">
									<p><span class="title_span_2" data-localize="base.withdrawCash">Withdraw cash</span></p>
									<p>
										<span class="title_span_3" data-localize="base.total">total</span> : <span class="wallet_span_total"></span>
										<span class="title_span_3" data-localize="base.balance1">balance</span> : <span class="balance"></span>
										<span class="title_span_3" data-localize="base.freeze">freeze</span> : <span class="freeze"></span>
									</p>
									<p><span data-localize="base.exchange">exchange</span> : <span class="lsbToEth"></span> = 1 ETH</p>
									<input class="input_class_2 wallet_password_input" type="text" placeholder="Extract the number">
									<div class="div_btn">
										<a class="wallet_button button_display" href="#" propertyType="2" onclick="withdrawCashEth(this)" data-localize="base.withdrawCash">withdraw cash</a>
									</div>
								</div>
								<hr>
								<div class="wallet_address_self_flat_recharge">
									<p><span class="title_span_2" data-localize="base.recharge">Recharge</span></p>
									<p><span data-localize="base.exchange">exchange</span> : 1 ETH = <span class="ethToLsb"></span></p>
									<input class="input_class_2 wallet_password_input" type="text" placeholder="Prepaid phone number">
									<div class="div_btn">
										<a class="wallet_button button_display" href="#" propertyType="3" onclick="withdrawCashEth(this)" data-localize="base.recharge">recharge</a>
									</div>
								</div>
							</div>
						</div>-->
					<% }else{ %>
						<div class="wallet_extract wallet_extract_wallet">
							<div class="wallet_extract">
								<input class="input_class_2 wallet_password_input" type="text" id="bAddress" name="bAddress" placeholder="wallet address">
								<input class="input_class_2 wallet_password_input" type="password" id="paymentCode" name="paymentCode" placeholder="password">
								<input class="input_class_2 wallet_password_input" type="password" id="paymentCodeConfirm" name="paymentCodeConfirm" placeholder="confirm password">
								<div class="div_btn">
									<a onclick="create_confirm()" href="#" class="wallet_button button_display">confirm</a>
								</div>
							</div>
						</div>
					<%
					}
					%>
				</div>
			</div>
		</div>
		<!-- 手机列表 -->
		<div class="container container_phone">
			<div class="phone_piece">
				<div class="personal_phone" data-file="lottery_record">
					<img src="../images/phone/cp.png" class="phone_model_img">
					<div>
						<span data-localize="base.lotteryRecord">lottery record</span>
					</div>
				</div>
				<div class="personal_phone" data-file="generalize">
					<img src="../images/phone/tg.png" class="phone_model_img">
					<div>
						<span data-localize="base.generalize">generalize</span>
					</div>
				</div>
				<div class="personal_phone" data-file="password_management">
					<img src="../images/phone/mm.png" class="phone_model_img">
					<div>
						<span data-localize="base.passwordManagement">Password management</span>
					</div>
				</div>
				<div class="personal_phone" data-file="wallet_bind" >
					<img src="../images/phone/qb.png" class="phone_model_img">
					<div>
						<span data-localize="base.wallet">wallet address</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- head -->
	<div class="layui_head" style="display: none">
		<div class="layui_title">
			<span>头像</span>
		</div>
		<div class="div_head_images">
			<!-- 头像列表 -->
		</div>
		<button class="btn btn_head_button" onclick="img_change_button()" >更改</button>
	</div>
	<!-- play code -->
	<div id="playPassword" style="display: none;">
		<div style="margin: 30px;">
			<div>
				<input type="password" class="paymentCode" name="playCode" placeholder="payment code">
			</div>
			<div class="model_purchase_button">
				<div class="button_purchase confirm" onclick="paymentCodeConfirm(this)"><span data-localize="base.confirm">confirm</span></div>
			</div>
		</div>
	</div>
	<!-- commonality fotter -->
	<%
	include("../common/bottom.html"){}
	%>

</div>
</body>

</html>