@charset "utf-8";
/* CSS Document */

/******************************

COLOR PALETTE

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Home
	3.1 Header
		3.1.1 Logo
		3.1.2 Main Navigation
		3.1.3 Search
		3.1.4 Hamburger
	3.2 Hero Slider
	3.3 Next Section Scroll
4. Menu
5. Icon Boxes
6. Vertical Slider Section
7. Services
	7.1 Services Slider
8. Features
9. Call to action
10. Text Line
11. Newsletter
12. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Roboto:300,400,500,700,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 400;
	background: #FFFFFF;
	color: #6e6e6e;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	line-height: 1.86;
	font-weight: 400;
	color: #909090;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #ffd9bf;
	color: #ff6b09;
}
p::selection
{
	background: #ffd9bf;
}
h1{font-size: 48px;}
h2{font-size: 24px;}
h3{font-size: 18px;}
h4{font-size: 14px;}
h5{font-size: 11px;}
h1, h2, h3, h4, h5, h6
{
	color: #28262d;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #9988ba !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 14px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #9988ba !important;
}
::-moz-placeholder /* Firefox 19+ */ 
{
	font-size: 14px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #9988ba !important;
} 
:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #9988ba !important;
}
::input-placeholder
{
	font-size: 14px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #9988ba !important;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.bez_1
{
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.button
{
	display: inline-block;
	height: 54px;
	width: 174px;
	text-align: center;
	border: solid 2px #452b78;
	background: #ddd;
}
.button a
{
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
	color: #452b78;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}

/*********************************
3. Home
*********************************/

.home
{
	width: 100%;
	height: 55vh;
}
.home_background_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.home_background
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/*********************************
3.2 Hero Slider
*********************************/

.hero_slider_container
{
	width: 100%;
	height: 100%;
	z-index: 9;
}
.hero_slider
{
	width: 100%;
	height: 100%;
}
.hero_slider_item
{
	height: 100%;
}
.item_1 span
{
	font-size: 24px;
	line-height: 1.5;
	font-weight: 500;
	color: #FFFFFF;
}
.item_1 span:first-child
{
	font-size: 24px;
	margin-bottom: 22px;
}
.item_1 span:nth-child(2)
{
	margin-bottom: 11px;
}
.item_1 span:nth-child(3)
{
	font-size: 236px;
	font-weight: 800;
	line-height: 1;
	letter-spacing: 0.1em;
	margin-bottom: 14px;
	margin-right: -0.1em;
}
.item_1 span:nth-child(4)
{
	font-size: 24px;
}
.hero_slider_nav
{
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
}
.hero_slider_nav_left
{
	left: 50px;
}
.hero_slider_nav_right
{
	display: none;
	right: 50px;
}
.hero_slider_nav div
{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: transparent;
	cursor: pointer;
}
.hero_slider_nav div::before
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: #ff6b09;
	border-radius: 50%;
	transform: scale(0);
	opacity: 0;
	z-index: -1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hero_slider_nav div i
{
	font-size: 18px;
	color: #a2baff;
}
.hero_slider_nav div:hover::before
{
	opacity: 1;
	transform: scale(1);
}
.hero_slider_nav div:hover i
{
	color: #251343;
}




.hero_side_text_container_import{
	display: block;
}
.hero_side_text {

}
.hero_side_text h2
{
	display: block;
	font-size: 30px;
	font-weight: 300;
	color: #9878e2;
}
.hero_side_text p
{
	display: block;
	font-size: 11px;
	font-weight: 300;
	line-height: 2.25;
}

/*********************************
3.3 Next Section Scroll
*********************************/

.next_section_scroll
{
	display: none;
	position: absolute;
	left: 50%;
	bottom: 40px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	cursor: pointer;
	z-index: 9;
	padding: 10px;
}
.next_section i
{
	display: block;
	color: #FFFFFF;
}
.next_section i:first-child
{
	margin-bottom: -4px;
}
.next_section_scroll:hover i
{
	color: #ff6b09;
}

/*********************************
4. Menu
*********************************/

.menu_container
{
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: #FFFFFF;
	z-index: 11;
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.menu_container.active
{
	right: 0;
	opacity: 1;
}
.menu
{
	width: 100%;
	height: 100%;
}
.menu_close
{
	position: absolute;
	top: 50px;
	right: 30px;
	cursor: pointer;
}
.menu_close i
{
	font-size: 28px;
}
.menu_close:hover i
{
	color: #ff6b09;
}
.menu ul
{
	padding-top: 115px;
	padding-right: 50px;
}
.menu ul li
{
	position: relative;
}
.menu ul li::after
{
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -10px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #ff6b09;
	content: '';
}
.menu ul li.active a
{
	font-weight: 700;
}
.menu ul li a
{
	color: #000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu ul li a:hover
{
	color: #ff6b09;
}

/*********************************
5. Icon Boxes
*********************************/

.icon_boxes
{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 30px;
}
.icon_box_title
{
	padding-right: 50px;
	
}
.icon_box_title h1
{
	line-height: 1.25;
}
.icon_box_button
{
	margin-top: 40px;
}
.icon_box_button:hover
{
	background: #452b78;
}
.icon_box_button:hover a
{
	color: #FFFFFF;
}
.icon_box_col
{
	padding-top: 21px;
}
.icon_box_item
{
	margin-bottom: 63px;
}
.icon_box_item:last-child
{
	margin-bottom: 0px;
}
.icon_box_item h2
{
	margin-bottom: 21px;
}
.icon_box_item p
{
	margin-bottom: 0px;
}

/*********************************
7. Services
*********************************/

.services
{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 30px;
}
.section_title h1
{
	font-weight: 500;
}
.section_title span
{
	display: block;
	font-size: 18px;
	font-weight: 500;
	color: #452b78;
	margin-top: 29px;
}

/*********************************
7.1 Services Slider
*********************************/

.h_slider_container
{
	width: 100%;
}
.services_slider_container
{
	margin-top: 106px;
	width: 100%;
	height: 663px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.service_slider_outer
{
	position: relative;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 1920px;
	height: 663px;
}
.services_slider
{
	height: 663px;
}
.services_slider .owl-stage-outer
{
	padding-top: 20px;
	padding-bottom: 60px;
}
.services_slider .owl-stage
{
	right: 50px;
}
.services_slider .owl-item
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.services_slider .owl-item.center
{
	margin-left: 48px !important;
	margin-right: 115px !important;
}
.services_slider .owl-item.center .services_item_inner
{
	background: #ddd;
}
.services_item
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
}
.services_item_inner
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 475px;
	max-width: 100%;
	box-shadow: 0px 30px 59px rgba(24, 29, 33, 0.23);
	padding-left: 75px;
	padding-right: 60px;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.services_slider .owl-item.active.center .services_item_inner
{
	height: 663px;
	width: 98%;
}
.service_item_content
{
	max-width: 100%;
}
.services_item_inner h2
{
	font-weight: 400;
	margin-bottom: 22px;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.services_item_inner p
{
	line-height: 1.866;
	margin-bottom: 0px;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.service_item_button
{
	/*position: absolute;*/
	bottom: -94px;
	left: 0;
	border-color: #FFFFFF;
	color: #FFFFFF;
	/*visibility: hidden;*/
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.service_item_button a
{
	color: #FFFFFF;
}
.service_item_button:hover
{
	background: #999999;
}
.service_item_button:hover a
{
	color: #FFFFFF;
}
.services_slider .owl-item.center .services_item .services_item_inner h2
{
	color: #FFFFFF;
}
.services_slider .owl-item.center .services_item .services_item_inner p
{
	color: #FFFFFF;
}
.services_slider .owl-item.center .services_item .services_item_inner .service_item_button
{
	visibility: visible;
	opacity: 1;
}
.service_item_icon
{
	position: absolute;
	top: -70px;
	left: 0;
	width: 42px;
	height: 42px;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.service_item_icon .icon
{
	font-size: 40px;
	line-height: 1;
	color: #452b78;
}
.services_slider .owl-item.active.center .services_item_inner .service_item_icon .icon
{
	font-size: 50px;
	color: #9c83ce;
}
.services_slider .owl-item.center .services_item .services_item_inner .service_item_icon
{
	top: -102px;
}
.services_slider .owl-dots
{
	margin-top: 15px !important;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.services_slider.owl-theme .owl-dots .owl-dot span
{
	width: 11px !important;
	height: 11px !important;
	background: #d6cbed;
}
.services_slider.owl-theme .owl-dots .owl-dot.active span
{
	width: 18px !important;
	height: 18px !important;
	background: #452b78;
}
.services_slider_nav
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: calc((100% - 80px) / 2);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 10;
	cursor: pointer;
}
.services_slider_nav_left
{
	left: calc(50% - 255px);
}
.services_slider_nav_right
{
	right: calc(50% - 255px);
}
.services_slider_nav i
{
	font-size: 18px;
	color: #d4caeb;
}
.services_slider_nav:hover i
{
	color: #452b77;
}

/*lottery*/
.lottery_wrapper{
	position: relative;
	z-index: 1;
	padding: 2rem 1rem;
}
.lottery_wrapper:before {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	border-radius: 5px;
	background-image: url(../images/light.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
}
.lottery_content p{
	color:#fff;

}
.eth{
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-shadow: 0 0 9px #fff;
}
.lottery_content{
	text-align: center;
}
.lottery_content .title{
	font-size: 1.5rem;
}
.lottery_content .usd{
	font-size:1.4rem;
}
.lottery_content .jackpot{
	font-size:1.4rem;
}
.lottery_content .lottery_btn{
	font-size:1.6rem;
}
.item_lottery{
	height: 287px;
}

.lottery_btn1:hover,.lottery_btn2:hover,.lottery_btn3:hover{
	background: #fff;
}
.lottery_btn1:hover a{
	color: #725fd8;
}
.lottery_btn2:hover a{
	color: #ff8b2c;
}

/*********************************
8. Features
*********************************/

.features
{
	padding-top: 20px;
	padding-bottom: 30px;
	background: #fafbfb;
}
.features_row
{
	margin-top: 35px;
}
.features_col
{
	padding-top: 69px;
	padding-bottom: 69px;
}
.features_item
{
	margin-bottom: 60px;
}
.features_col > div:last-of-type
{
	margin-bottom: 0px;
}
.features_button
{
	margin-top: 20px;
}
.features_button:hover,
.features_button_2:hover
{
	background: #452b78;
}
.features_button:hover a,
.features_button_2:hover a
{
	color: #FFFFFF;
}
.features_button_2
{
	display: none;
}


/*********************************
12. Footer
*********************************/

.footer_logo
{
	padding-left: 0px;
	margin-bottom: 39px;
}
.footer_logo a
{
	color: #452b78;
	line-height: 1;
}
.footer_intro p
{
	margin-bottom: 0px;
}
.footer_social
{
	margin-top: 27px;
}
.footer_social ul
{
	display: inline-block;
	margin-left: -5px;
}
.footer_social ul li
{
	display: inline-block;
	margin-right: 22px;
}
.footer_social ul li a
{
	padding: 5px;
}
.footer_social ul li a i
{
	font-size: 12px;
	color: #bab6c3;
}
.footer_social ul li a:hover i
{
	color: #1b0d37;
}
.footer_cr
{
	font-size: 16px;
	font-weight: 500;
	color: #cacaca;
	margin-top: 65px;
}
.footer_cr_2
{
	display: none;
	font-size: 16px;
	font-weight: 500;
	color: #cacaca;
	margin-top: 65px;
}
.footer_col
{
	margin-bottom: 27px;
}
.footer_col:last-child
{
	margin-bottom: 0px;
}
.footer_col_title
{
	font-size: 18px;
	font-weight: 500;
	color: #28262d;
	margin-bottom: 9px;
}
.footer_col ul li
{
	margin-bottom: 4px;
}
.footer_col ul li a
{
	font-size: 16px;
	font-weight: 500;
	color: #909090;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_col ul li a:hover
{
	color: #28262d;
}
.lotteryItem{
	margin: 0 auto;
	text-align: center;
}
.item_lottery{
	height: 200px;
}
.item_content{
	/*position: absolute;*/
	top:40%;
	text-align: center;
}
.item_title{
	font-size: 25px;
}
.service_col{
	top: 15px;
}
.img_margin{
	margin: 5px;
}
.img_margin:hover{
	box-shadow: 0 0 15px;
}
.icon_box_title_white_book{
	text-align: center;
}
.features_footer{
	padding-bottom:100px;
}

