<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.lotteryb.mapper.LotterybInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.lotteryb.entity.LotterybInfo">
		<id column="id" property="id" />
		<result column="zh_title" property="zhTitle" />
		<result column="en_title" property="enTitle" />
		<result column="period_date" property="periodDate" />
		<result column="interval_date" property="intervalDate" />
		<result column="min_money" property="minMoney" />
		<result column="max_money" property="maxMoney" />
		<result column="pm_vnum" property="pmVnum" />
		<result column="pm_rnum" property="pmRnum" />
		<result column="buy_pm" property="buyPm" />
		<result column="winning_pm" property="winningPm" />
	</resultMap>

</mapper>
