<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.lotteryb.mapper.LotterybBuyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.lotteryb.entity.LotterybBuy">
		<id column="id" property="id" />
		<result column="member_id" property="memberId" />
		<result column="lotteryb_config_id" property="lotterybConfigId" />
		<result column="total" property="total" />
		<result column="lotteryb_info_id" property="lotterybInfoId" />
		<result column="lotteryb_issue_id" property="lotterybIssueId" />
		<result column="is_luck" property="isLuck" />
		<result column="luck_total" property="luckTotal" />
		<result column="create_time" property="createTime" />
	</resultMap>

	<!-- 查询每期的购买记录 -->
	<select id="getPageLotteryBuyAll" parameterType="java.lang.String" resultType="java.util.Map">
		select em_.email,em_.member_name as memberName,lb_.luck_total as luckTotal from es_member em_
		left join lotteryb_buy lb_ on (lb_.member_id = em_.id)
		left join lotteryb_issue li_ on (li_.id = lb_.lotterya_issue_id)
		where 1 = 1
		<if test="lotterybBuy.lotterybIssueId != null and  lotterybBuy.lotterybIssueId !=  ''">
			and li_.issue_num = #{lotterybBuy.lotteryaIssueId}
		</if>
		<if test="mTransferStatus != null and  mTransferStatus != ''">
			and lb_.transfer_status in(#{mTransferStatus})
		</if>
		<if test="lotterybBuy.isLuck != null and lotterybBuy.isLuck != ''">
			and lb_.is_luck = #{lotterybBuy.isLuck}
		</if>
		LIMIT #{currentPage},#{pageSize}
	</select>

</mapper>
