<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.lotteryb.mapper.LotterybConfigMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.lotteryb.entity.LotterybConfig">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="lines" property="lines" />
		<result column="zh_title" property="zhTitle" />
		<result column="en_title" property="enTitle" />
		<result column="sort" property="sort" />
	</resultMap>

</mapper>
