<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didu.lotteryshop.lotteryb.mapper.LotterybProportionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.didu.lotteryshop.lotteryb.entity.LotterybProportion">
		<id column="id" property="id" />
		<result column="proportion" property="proportion" />
		<result column="type" property="type" />
		<result column="rule" property="rule" />
	</resultMap>

</mapper>
